
.pf_blue {
  color: #07477D;
}

.pf_green {
  color: #35B814;
}

.pf_red {
  color: #E51A1A;
}

/* === Responsive grid === */
.container {
  margin: 0 auto;
  width: 1160px;
}

.pf_clearfix:after {
  content: '';
  clear: both;
  display: block;
}

.pf_row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: -10px;
  margin-right: -10px;
}

[class*='grid'] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-left: 10px;
  padding-right: 10px;
  width: 100%;
}

.pf_grid3 {
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  max-width: 25%;
}

.pf_grid4 {
  -ms-flex: 0 0 33.333333%;
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
}

.pf_grid5 {
  -ms-flex: 0 0 41.666667%;
  flex: 0 0 41.666667%;
  max-width: 41.666667%;
}

.pf_grid6 {
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
}

.pf_grid7 {
  -ms-flex: 0 0 58.333333%;
  flex: 0 0 58.333333%;
  max-width: 58.333333%;
}

.pf_grid8 {
  -ms-flex: 0 0 66.666667%;
  flex: 0 0 66.666667%;
  max-width: 66.666667%;
}

.pf_grid9 {
  -ms-flex: 0 0 75%;
  flex: 0 0 75%;
  max-width: 75%;
}

.pf_grid12 {
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
}

.pf_order-first {
  -ms-flex-order: -1;
  order: -1;
}

.pf_order-last {
  -ms-flex-order: 13;
  order: 13;
}

.pf_pull-left {
  float: left;
}

.pf_pull-right {
  float: right;
}

.pf_text-center {
  text-align: center;
}

.pf_text-right {
  text-align: right;
}

/* === FORMS === */
.pf_input, .pf_btn {
  font-family: 'Open Sans', sans-serif;
  -webkit-appearance: none;
  appearance: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  outline: none;
}

.pf_input {
  background: #F3F3F3;
  border: 1px solid #B7B7B7;
  box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.25);
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  padding: 10px;
  font-size: 11px;
  line-height: 20px;
  color: #282828;
  font-family: 'Open Sans', sans-serif;
  height: 40px;
  transition: all 200ms ease-out;
  -moz-transition: all 200ms ease-out;
  -webkit-transition: all 200ms ease-out;
}
.pf_input:focus {
  border-color: #07477D;
}
.pf_input.pf_error {
  border-color: #F89B9B;
}
.pf_input:disabled {
  background: #F3F3F3 url(../images/svg/lock.svg) calc(100% - 10px) center no-repeat;
  cursor: default;
}

textarea.pf_input {
  display: block;
  margin: 0;
  height: 78px;
}

.pf_form_text {
  background: #EFEFEF;
  padding: 5px 10px;
  display: inline-block;
  margin: 6px 1px 0 0;
  font-weight: 600;
  font-size: 10px;
  line-height: 14px;
  color: #505050;
  border-radius: 20px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
}
.pf_form_text.pf_red {
  background: #F89B9B;
}

.pf_hr {
  background: #B7B7B7;
  border: 0;
  height: 1px;
  clear: both;
  display: block;
  padding: 0;
  margin: 20px 0;
}

.pf_form_title {
  margin: 20px 0 15px;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  color: #00366E;
}
.pf_form_title:first-child {
  margin-top: 0;
}

/* === Button === */
.pf_btn {
  background: #07477D;
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  border: 0;
  color: #fff;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  font-size: 14px;
  line-height: 20px;
  padding: 10px 30px;
}
a.pf_btn_buy, .pf_btn_more {
  background: #2AA8EC;
  font-size: 11px;
  color: #fff;
  line-height: 16px;
  padding: 6px 36px 6px 14px;
  position: relative;
  border-radius: 16px;
  -moz-border-radius: 16px;
  -webkit-border-radius: 16px;
  font-weight: 700;
  float: right;
}
.pf_btn_buy::after, .pf_btn_more::after {
  content: '';
  display: block;
  position: absolute;
  background-image: url("../images/svg/add.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  height: 20px;
  right: 4px;
  top: 4px;
}
.pf_btn_more::after {
  background-image: url(../images/svg/more.svg);
  right: 7px;
  top: 9px;
}
a.pf_btn_buy:hover, .pf_btn_more:hover {
    background: #94b3ce;
}

a.pf_btn_buy:hover, .pf_btn_more:hover {
    background: #94b3ce;
}

input.pf_tn, button.pf_btn {
  padding-top: 0;
  padding-bottom: 0;
  height: 40px;
  line-height: 40px;
}
button.pf_btn.pf_btn_more{
    margin-bottom: 10px;
    height: 34px;
    line-height: 34px;
}

button.pf_btn.pf_btn_more::after{
    top: 7px;
}

/* === Radio / Checkbox === */
/*input[type='radio'], input[type='checkbox'] {
  -webkit-appearance: none;
  appearance: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  outline: none;
  padding: 0;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  cursor: pointer;
  width: 20px;
  height: 20px;
  border: 1px solid #B7B7B7;
  box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.25);
}

input[type='radio'] {
  background: #F3F3F3 url(../images/svg/radio.svg) -9999px -9999px no-repeat;
  background-size: 8px 8px;
  border-radius: 22px;
  -moz-border-radius: 22px;
  -webkit-border-radius: 22px;
}
input[type='radio']:checked {
  background-position: center center;
}

input[type='checkbox'] {
  background: #F3F3F3 url(../images/svg/check.svg) -9999px -9999px no-repeat;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}
input[type='checkbox']:checked {
  background-position: center center;
}*/

/* === Select === */
.jq-selectbox__select {
  background: #F3F3F3;
  border: 1px solid #B7B7B7;
  box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  padding: 0 40px 0 10px;
  font-size: 11px;
  line-height: 40px;
  color: #282828;
  font-family: 'Open Sans', sans-serif;
}
.jq-selectbox__select-text {
  display: block;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.jq-selectbox__trigger {
  position: absolute;
  top: 16px;
  right: 16px;
  background-image: url("../images/svg/chevron.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  display: inline-block;
  vertical-align: middle;
  width: 15px;
  height: 8px;
}
.jq-selectbox__dropdown {
  background: #fff;
  border: 1px solid #B7B7B7;
  box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.25);
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  width: 100%;
  padding: 2px;
  margin-top: 4px;
}
.jq-selectbox__dropdown ul li {
  cursor: pointer;
  padding: 8px;
}
.jq-selectbox__dropdown ul li:hover {
  background: #f3f3f3;
}

/* === Input Number === */
.jq-number {
  display: inline-block;
  width: 78px;
  height: 28px;
  position: relative;
  background: #F1F5F9;
  border-radius: 22px;
  -moz-border-radius: 22px;
  -webkit-border-radius: 22px;
  padding: 0 26px;
}
.jq-number__spin {
  height: 28px;
  width: 26px;
  cursor: pointer;
  position: absolute;
  top: 0;
  user-select: none;
  -webkit-user-select: none;
}
.jq-number__spin::before {
  background: rgba(51, 51, 66, 0.1) url(../images/svg/min.svg) center center no-repeat;
  content: '';
  display: block;
  position: absolute;
  border-radius: 20px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  height: 20px;
  width: 20px;
  left: 4px;
  top: 50%;
  margin-top: -10px;
}
.jq-number__spin.minus {
  left: 0;
}
.jq-number__spin.plus {
  right: 0;
}
.jq-number__spin.plus::before {
  background-image: url(../images/svg/max.svg);
  left: auto;
  right: 4px;
}
.jq-number__field input {
  background: 0;
  border: 0;
  -webkit-appearance: none;
  appearance: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  outline: none;
  height: 28px;
  width: 100%;
  padding: 3px 0;
  text-align: center;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: #333242;
}

/* === Fields === */
.pf_warn, .pf_form-control label:not(.pf_check_field) {
  position: relative;
  padding-left: 15px;
  font-weight: 600;
  font-size: 10px;
  line-height: 15px;
  color: #505050;
}
.pf_warn::before, .pf_form-control label:not(.pf_check_field)::before {
  content: '';
  display: block;
  position: absolute;
  background-image: url("../images/svg/star.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  display: inline-block;
  vertical-align: middle;
  width: 11px;
  height: 10px;
  left: 0;
  top: 2px;
}

.pf_check_field {
  position: relative;
  padding-left: 30px;
  display: inline-block;
  cursor: pointer;
  font-size: 11px;
  line-height: 15px;
  color: #282828;
}
.pf_check_field input[type='radio'], .pf_check_field input[type='checkbox'] {
  position: absolute;
  left: 0;
  top: -3px;
}

.pf_form-control {
  display: block;
  margin: 0 0 15px;
}
.pf_form-control:last-child {
  margin: 0;
}
.pf_form-control label:not(.pf_check_field) {
  display: block;
  font-size: 11px;
  color: #505050;
  margin: 0 0 8px;
  font-weight: 400;
  padding: 0;
}
.pf_form-control label:not(.pf_check_field)::before {
  content: none;
  display: none;
}
.pf_form-control label:not(.pf_check_field).pf_important {
  padding-left: 11px;
}
.pf_form-control label:not(.pf_check_field).pf_important::before {
  width: 9px;
  height: 8px;
  top: 4px;
  content: '';
  display: block;
}
.pf_form-control .pf_input {
  width: 100%;
}
.pf_form-control .pf_selectbox {
  width: 100%;
}
.pf_form-control.pf_large .pf_input {
  display: inline-block;
  width: 100%;
  max-width: 360px;
  margin-right: 6px;
}

/* pf_module */
.pf_module {
  background: #fff;
  box-shadow: 0px 0px 23px rgba(0, 0, 0, 0.25);
  margin: 0 0 30px;
  padding: 30px;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: #444;
}
.pf_module_title {
  font-weight: 600;
  font-size: 20px;
  line-height: 26px;
  margin: 0 0 25px;
}

/* info_icon */
.pf_tooltip {
  position: absolute;
  background: #fff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  padding: 7px 11px 12px;
  bottom: 100%;
  left: -7px;
  font-weight: 500;
  min-width: 218px;
  font-size: 10px;
  line-height: 14px;
  transition: all 200ms ease-out;
  -moz-transition: all 200ms ease-out;
  -webkit-transition: all 200ms ease-out;
  margin-bottom: 10px;
  opacity: 0;
  visibility: hidden;
}
.pf_tooltip::after {
  content: '';
  display: block;
  position: absolute;
  background-image: url("../images/svg/tool-arrow.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  display: inline-block;
  vertical-align: middle;
  width: 16px;
  height: 13px;
  left: 5px;
  bottom: -9px;
}
.pf_tooltip.pf_tooltip_right {
  left: auto;
  right: -7px;
  text-align: right;
}
.pf_tooltip.pf_tooltip_right::after {
  left: auto;
  right: 5px;
}
.pf_tooltip h4 {
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  color: #000000;
  margin: 0 0 10px;
}

.pf_info_icon {
  background-image: url("../images/svg/info.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  display: inline-block;
  vertical-align: middle;
  width: 12px;
  height: 12px;
  position: relative;
  display: inline-block;
}
.pf_info_icon:hover .pf_tooltip {
  opacity: 1;
  visibility: visible;
}

.pf_info_text {
  padding-left: 17px;
  position: relative;
}

.pf_info_text .pf_info_icon {
  position: absolute;
  left: 0;
  top: 1px;
}

/* pf_promocodes_list */
.pf_promocodes_list {
  border-top: 1px solid #f3f3f3;
  margin: 0 0 25px;
}
.pf_promocodes_list:last-child {
  margin: 0;
}
.pf_promocodes_list li {
  border-bottom: 1px solid #f3f3f3;
  padding: 25px 0;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: center;
}
.pf_promocodes_list li > span {
  display: block;
}
.pf_promocodes_date {
  min-width: 98px;
  max-width: 98px;
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;
}
.pf_promocodes_text {
  font-weight: 600;
  font-size: 10px;
  line-height: 14px;
  padding: 8px 12px;
  background: #EBEBEB;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}

/* pf_pagination */
.pf_pagination a, .pf_pagination span {
  display: inline-block;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  text-align: center;
  text-decoration: none;
  margin: 0 10px 0 0;
  font-weight: 600;
  font-size: 11px;
  line-height: 29px;
  color: #444;
  width: 29px;
  height: 29px;
  transition: all 200ms ease-out;
  -moz-transition: all 200ms ease-out;
  -webkit-transition: all 200ms ease-out;
}
.pf_pagination a:hover {
  background: #f1f1f1;
}
.pf_pagination span {
  background: #E2E2E2;
}

/* pf_promocode */
.pf_promocode_row {margin: 0 0 20px;clear: both;overflow: auto;}
.pf_promocode_row:last-child {
  margin: 0;
}

.pf_promocode {
  border: 1px solid #EBEBEB;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  padding: 20px;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 10px 10px 0;
  float: left;
}
.pf_promocode_box {
  background-image: url("../images/svg/mark-blue.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  display: inline-block;
  vertical-align: middle;
  width: 101px;
  height: 54px;
  color: #fff;
  font-weight: 800;
  font-size: 32px;
  line-height: 54px;
  text-align: center;
  padding-left: 12px;
}
.pf_promocode_box small {
  font-size: 18px;
}
.pf_promocode_box.pf_red {
  background-image: url(../images/svg/mark-red.svg);
}
.pf_promocode_title {
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: #000;
  margin-right: 12px;
}
.pf_promocode_title small {
  font-size: 10px;
  display: block;
  line-height: 15px;
}

/* pf_promotitle */
.pf_promotitle {
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #000;
  margin: 0 0 10px;
  display: flex;
  align-items: center;
}
.pf_promotitle_name {
  margin-right: 8px;
}
.pf_promotitle_span {
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: #444;
  display: inline-block;
  position: relative;
  padding-left: 8px;
}
.pf_promotitle_span::before {
  content: '';
  display: block;
  position: absolute;
  width: 1px;
  height: 20px;
  left: 0;
  top: 50%;
  margin-top: -10px;
  background: #cacaca;
}
.pf_promotitle_codename {
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: #444;
  display: inline-block;
  position: relative;
  padding: 0 8px;
}
.pf_promotitle_codename::before {
  content: '';
  display: block;
  position: absolute;
  width: 1px;
  height: 20px;
  left: 0;
  top: 50%;
  margin-top: -10px;
  background: #cacaca;
}

/* pf_price */
.pf_price {
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;
  color: #333342;
}
.pf_price del, .pf_price span {
  vertical-align: middle;
}
.pf_price span {
  color: #FF5F30;
}
.pf_price .pf_tooltip {
  width: 246px;
}
.pf_price .pf_info_icon {
  background-image: url(../images/svg/info-blue.svg);
}

.pf_tooltip .pf_saletext {
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
  color: #333333;
}
.pf_tooltip .pf_saletext li {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 8px;
  padding: 0;
  background: none;
  white-space: nowrap;
}
.pf_tooltip .pf_saletext  li:nth-of-type(2n){background: none;}

.pf_saletext li:last-child {
  margin: 0;
}
.pf_saletext_val {
  color: #07477D;
}
.pf_saletext_val.blue {
  color: #51A0E9;
}
.pf_saletext_val.red {
  color: #DC3838;
}

/* pf_productbox */
.pf_product_grid {
  margin-bottom: 40px;
}

.pf_productbox {
  background: #fff;
  border-radius: 12px;
  -moz-border-radius: 12px;
  -webkit-border-radius: 12px;
  padding: 25px 20px 20px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  position: relative;
  min-height: 100%;
}
.pf_productbox_top {
  width: 100%;
}
.pf_productbox_meta {
  position: relative;
  width: 100%;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.pf_productbox_sale {
  position: absolute;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: #35B814;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  right: 20px;
  top: 25px;
  align-items: center;
}
.pf_productbox_sale span {
  font-weight: 800;
  font-size: 12px;
  line-height: 22px;
  color: #fff;
  background-image: url("../images/svg/mark-red.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  display: inline-block;
  vertical-align: middle;
  width: 41px;
  height: 22px;
  display: block;
  margin-right: 5px;
  text-align: center;
  padding-left: 6px;
}
.pf_productbox_img {
  position: relative;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  height: 135px;
  justify-content: center;
  align-items: center;
  margin: 0 0 15px;
}
.pf_productbox_img img {
  display: block;
  max-height: 135px;
}
.pf_productbox_avail {
  position: relative;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: #8B8B8B;
  padding-left: 11px;
}
.pf_productbox_avail::before {
  content: '';
  display: block;
  position: absolute;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  width: 7px;
  height: 7px;
  background: #219653;
  left: 0;
  top: 4px;
}
.pf_productbox_avail.none::before {
  background: #EB5757;
}
.pf_productbox .pf_productbox_avail {
  padding-left: 9px;
  font-weight: 600;
  font-size: 9px;
  line-height: 12px;
  margin: 0 0 4px;
}
.pf_productbox .pf_productbox_avail::before {
  width: 5px;
  height: 5px;
  top: 3px;
}
.pf_productbox_title {
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: #333242;
  margin: 0 0 15px;
  min-height: 48px;

}
.pf_productbox_title a {
  color: inherit;
  text-decoration: none;
}
.pf_productbox_title a:hover {
  color: #07477D;
}
.pf_productbox_art {
  color: #cacaca;
  font-weight: 600;
  font-size: 10px;
  line-height: 14px;
  margin: 0 0 3px;
}
.pf_productbox .pf_price {
  margin: 0 0 3px;
}
.pf_productbox .pf_price:last-child {
  margin: 0;
}
.pf_productbox .pf_price span {
  font-size: 20px;
  line-height: 20px;
}
.pf_productbox .pf_price small {
  font-size: 12px;
}
.pf_productbox_hover {
  background: #fff;
  left: 0;
  top: 100%;
  width: 100%;
  position: absolute;
  border-radius: 0 0 12px 12px;
  -moz-border-radius: 0 0 12px 12px;
  -webkit-border-radius: 0 0 12px 12px;
  padding: 20px;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.15);
  z-index: 100;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: center;
  justify-content: space-between;
  opacity: 0;
  visibility: hidden;
}
.pf_productbox_hover::before {
  content: '';
  display: block;
  position: absolute;
  height: 2px;
  left: 20px;
  right: 20px;
  top: 0;
  background: #F1F5F9;
}
.pf_productbox:hover {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
  border-radius: 12px 12px 0 0;
  -moz-border-radius: 12px 12px 0 0;
  -webkit-border-radius: 12px 12px 0 0;
}
.pf_productbox:hover .pf_productbox_hover {
  opacity: 1;
  visibility: visible;
}
.pf_productbox_hover_area{
    position: relative;
    margin-top: 10px;
}

/* pf_amount */
.pf_amount {
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  margin: 0 0 9px;
  color: #5b5b5b;
}
.pf_amount_name {
  color: #07477D;
  display: inline-block;
  vertical-align: middle;
}
.pf_amount_val {
  display: inline-block;
  vertical-align: middle;
}
.pf_amount .pf_info_icon {
  background-image: url(../images/svg/info-blue.svg);
}
.pf_amount.large {
  font-size: 16px;
  line-height: 19px;
}
.pf_amount ins {
  text-decoration: none;
  color: #ff5f30;
}

/* pf_product_line */
.pf_product_line {
  background: #fff;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.15);
  margin: 0 0 30px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  padding: 30px;
}
.pf_product_line_left {
  min-width: 337px;
  max-width: 337px;
  border-right: 1px solid #ededed;
  padding-right: 25px;
  margin-right: 25px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
}
.pf_product_line_left.wide {
  min-width: 385px;
  max-width: 385px;
}
.pf_product_line_img {
  min-width: 130px;
  max-width: 130px;
  margin-right: 25px;
}
.pf_product_line_img img {
  display: block;
}
.pf_product_line_text, .pf_product_line_short {
  font-size: 12px;
  line-height: 17px;
  color: #000;
}
.pf_product_line_short {
  margin: 0 0 10px;
}
.pf_product_line .pf_price {
  font-size: 20px;
  line-height: 22px;
}
.pf_product_line .pf_price.last {
  margin: 0 0 15px;
}
.pf_product_line .pf_price small, .pf_product_line .pf_price del {
  font-size: 12px;
  line-height: 16px;
}

/* right-nav */
.right-nav {
  margin-bottom: 30px;
  border: 1px solid #d1d2d4;
  border-top: 6px solid #07477d;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
  background-color: white;
}
.right-nav ul {
  padding: 5px 0;
}
.right-nav ul li {
  border-bottom: 1px solid #e5f1ff;
  margin: 0 5px;
  font-size: 14px;
}
.right-nav ul li a {
  display: block;
  padding: 4px 13px;
  color: #505050;
  text-decoration: none;
}
.right-nav ul li a:hover {
  color: #07477d;
}
/* Medium */
@media screen and (max-width: 1200px) {
  .container {
    width: 992px;
  }

  .md-visible {
    display: block !important;
  }

  .md-hidden {
    display: none !important;
  }

  .pf_md6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }

  .pf_md12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
}
/* End Medium */
/* Tablet */
@media screen and (max-width: 1020px) {
  .container {
    width: 720px;
  }

  .tb-visible {
    display: block !important;
  }

  .tb-hidden {
    display: none !important;
  }

  .pf_tb6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }

  .pf_tb12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }

  /* pf_productbox */
  .pf_product_grid {
    margin-bottom: 20px;
  }

  .pf_productbox:hover {
    border-radius: 12px;
    -moz-border-radius: 12px;
    -webkit-border-radius: 12px;
  }

  .pf_productbox_hover {
    background: 0;
    left: auto;
    top: auto;
    position: relative;
    margin: 15px 0 0;
    padding: 15px 0 0;
    box-shadow: none;
    opacity: 1;
    visibility: visible;
  }
  .pf_productbox_hover::before {
    top: 0;
    left: 0;
    right: 0;
  }
}
/* End Tablet */
/* Small */
@media screen and (max-width: 750px) {
  html {
    -webkit-text-size-adjust: none;
  }

  .container {
    margin: 0 15px;
    width: auto;
  }

  .sm-visible {
    display: block !important;
  }

  .sm-hidden {
    display: none !important;
  }

  .pf_sm6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }

  .pf_sm12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }

  .pf_module {
    padding: 15px;
  }

  .pf_module_title {
    margin: 0 0 15px;
    font-size: 16px;
    line-height: 20px;
  }

  .pf_promocode {
    display: flex;
    margin: 0 0 10px;
    padding: 15px;
  }

  .pf_promocode:last-child {
    margin: 0;
  }

  .pf_promotitle {
    display: block;
  }

  .pf_promotitle_name {
    margin: 0 0 10px;
  }

  .pf_promocodes_list {
    margin: 0 0 15px;
  }

  .pf_promocodes_list li {
    padding: 15px 0;
    display: block;
  }

  .pf_promocodes_date {
    min-width: 0;
    max-width: none;
    margin: 0 0 10px;
  }

  /* pf_productbox */
  .pf_product_grid {
    margin-bottom: 15px;
  }

  .pf_productbox_img {
    display: block;
    height: auto;
  }

  .pf_productbox_img img {
    margin: 0 auto;
  }

  /* pf_tooltip */
  .pf_amount, .pf_price, .pf_productbox_meta {
    position: relative;
  }

  .pf_info_icon {
    position: static !important;
  }

  .pf_productbox_price .pf_price {
    position: static;
  }

  .pf_tooltip {
    left: 50% !important;
    right: auto !important;
    width: 260px !important;
    margin: 0 0 0 -130px !important;
  }

  .pf_tooltip::after {
    content: none;
    display: none;
  }

  /* pf_form-control */
  .pf_form-control.pf_large .pf_input {
    margin: 0;
    display: block;
  }

  /* pf_product_line */
  .pf_product_line {
    display: block;
    padding: 15px;
    margin: 0 0 15px;
  }

  .pf_product_line_left {
    min-width: 0;
    max-width: none;
    border-right: 0;
    border-bottom: 1px solid #ececec;
    padding: 0 0 15px;
    margin: 0 0 15px;
  }
  .pf_product_line_left.wide {
    min-width: 0;
    max-width: none;
  }

  .pf_product_line_img {
    min-width: 110px;
    max-width: 110px;
    margin-right: 15px;
  }
}

@media screen and (max-width: 400px) {
  .pf_product_line_img {
    min-width: 100%;
    max-width: none;
    margin-right: 15px;
  }

  .pf_product_line_img > img{
      margin:0 auto;
  }
  .pf_product_line_left{
      display:block;
  }
  .pf_product_line_entry{
      overflow: auto;
      text-align: center;
      margin-top: 10px;
  }
  button.pf_btn.pf_btn_more{
      float: none;
  }
}
/* End Small */

.double_coupons_popup_text{margin-bottom: 20px;background: #FFECEC;padding: 10px 15px;border-radius: 6px;}
.double_coupons_popup_text p{margin:5px 0;}
.double_coupons_popup_text a{text-decoration: underline}

.table>tbody>tr>td.double_coupons_cart_text{text-align: left; background: #FFECEC;padding: 15px;}
.table>tbody>tr>td.double_coupons_cart_text p{margin:5px 0;}
.table>tbody>tr>td.double_coupons_cart_text a{text-decoration: underline}

input.pf_number::-webkit-outer-spin-button,input.pf_number::-webkit-inner-spin-button {-webkit-appearance: none;margin: 0;}
input.pf_number {-moz-appearance:textfield;}

.bracket_sub_head{line-height: 1.2;margin-bottom: 0;font-size: 22px;font-weight: bold;color: #07477d;margin: 20px 0 15px;}
.bracket_sub_sub_head{font-weight: bold;font-size: 15px;margin: 5px 0 25px;}