article img {
    margin:20px 20px 20px 0;
    max-width:100%;
    display:block;
    height:auto;
}

article > p > img.blue-icons {
    float:left;
    margin:0 0 15px 0;
    width:80px;
    height:80px;
    vertical-align:text-top;
    display:inline;
}

header .middle a.basket:after {
    margin-left:14px;
}

.choice-brackets .products-list .collapsed:nth-child(2){
    display:none;
}
.right_block_el {
    margin-bottom:30px;
}

.white-pnl-simple {
    background-color:#fff;
    display:block;
    padding:20px 30px;
    text-align:left;
    margin-top:0;
    -webkit-box-shadow:0px 0px 6px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow:0px 0px 6px 0px rgba(0, 0, 0, 0.15);
    box-shadow:0px 0px 6px 0px rgba(0, 0, 0, 0.15);
}
.white-pnl-simple h4{margin-top:0;}
.main-col-mb{margin-bottom:50px;}

.library_item i{
    font-size:4em;
    color:#07477d;
}
.news-page .items .library_item h4{
    margin-top:10px;
}
.mb0{margin-bottom:0;}
.mb40{margin-bottom:40px;}
.news .white-pnl-border{
    min-height:auto;
}
.catalog-page .left-nav{
    padding-bottom:20px;
}
header .top a.login.cabinet:before {
    content:"\f007";
}
.filters li.disabled{
	color:#aaa;
}
.catalog-page .left-nav ul li input[type="radio"] {
    margin:0 25px 0 10px;
    position:relative;
    vertical-align:middle;
    top:-1px;
}

.basket_empty{
	padding:0 30px;
    text-align:left;
}

.gallery ul li {
    height:108px;
    overflow:hidden;
}

/*
form.show-placeholder ::-webkit-input-placeholder {
    color:#505050;
    opacity:1;
}

form.show-placeholder :-moz-placeholder {
    color:#505050 !important;
    opacity:1;
}

form.show-placeholder ::-moz-placeholder {
    color:#505050 !important;
    opacity:1;
}

form.show-placeholder :-ms-input-placeholder {
    color:#999 !important;
    opacity:1;
}*/
form.show-placeholder ::-webkit-input-placeholder {
    color:#505050 !important;
}

form.show-placeholder :-moz-placeholder {
    color:#505050 !important;
}

form.show-placeholder ::-moz-placeholder {
    color:#505050 !important;
}

form.show-placeholder :-ms-input-placeholder {
    color:#505050 !important;
}

/*plaveholder for field*/
.show-field-placeholder::-webkit-input-placeholder {
    color:#505050 !important;
}

.show-field-placeholder:-moz-placeholder {
    color:#505050 !important;
}

.show-field-placeholder::-moz-placeholder {
    color:#505050 !important;
}

.show-field-placeholder:-ms-input-placeholder {
    color:#505050 !important;
}

header .top .search-pnl form ::-webkit-input-placeholder{color:white !important;}
header .top .search-pnl form ::-moz-placeholder{color:white !important;}
header .top .search-pnl form :-ms-input-placeholder{color:white !important;}
header .top .search-pnl form :-moz-placeholder {color:white !important;}

header .top .search-pnl form :hover::-webkit-input-placeholder{color:#c9d6e2 !important;}
header .top .search-pnl form :hover::-moz-placeholder{color:#c9d6e2 !important;}
header .top .search-pnl form :hover:-ms-input-placeholder{color:#c9d6e2 !important;}
header .top .search-pnl form :hover:-moz-placeholder {color:#c9d6e2 !important;}


/*form.show-placeholder ::-webkit-input-placeholder,
form.show-placeholder ::-moz-placeholder{
    color:#ffffff !important;
    opacity:1;
}*/

.category_other_items .white-pnl{
	margin-top:0;
	margin-bottom:30px;
}
.category_other_items .catalog-page .products-list{
	margin-bottom:30px;
}
.im{
	margin-bottom:30px;
}

.legallist_wrap_first{margin-top:40px;}
.table.legallist_wrap > tbody > tr > td{
    padding:15px;
}
.item_develiry{
    min-height:40px;
    vertical-align:middle;
    line-height:40px;

}
.editLegal{
    margin-top:20px;
}
.legallist_wrap .btn{
    padding:3px 5px;
}
.legallist_wrap .btn:first-child{
    margin-right:10px;
}
.legallist_wrap .but_list{
    width:100px;
    text-align:right;
}
.legallist_wrap .form-control{
    background-color:#fff;
}

.hide_it{
    position:absolute;
    left:-99999px;
}
.choice-brackets .brackets .price > div span {
    color:#656565;
}

.basket_remove_all{
	margin:20px 0 30px 20px;
}

.form-control.checkbox {
    width:auto;
    height:auto;
    box-shadow:none;
}
.form-group .checkbox label {
    line-height:25px;
    margin:0;
}
.required_text {
    font-size:12px;
    color:red;
}
.products-list a.btn-primary.show_catalog{
	float:none;
	margin-top:0;
	height:auto;
    margin-bottom: 30px;
}
.special-offers .item a {
    min-height:373px;
}

.top-slider.carousel .carousel-indicators{
	padding-top:5px;
    height:40px;
}

form input.form-control:-ms-input-placeholder {
    opacity0:1;
}

.errors h3,
.errors ul li{
    color:red;
}

footer{
    margin-top:20px;
}

form [name="data[new][phone_call]"]{
    display:none !important;
}

.header_social_link .social-share{
    padding:10px 0 0;
}
.white-pnl table{
	float:none;
}
.lnk-to-product.js-preview span{
	text-transform:uppercase;
}

/*modal*/
.modal.in .modal-dialog,
.modal .modal-dialog{
    top:40%;
}

#no_register.modal .modal-dialog{
    top:30%;
}

#addToBasketResultModal .modal-content{
	min-width:460px;
}
#addToBasketResultModal .modal-title{
	text-align:center;
	margin-left:-30px;
}
.modal.in#addToBasketResultModal .modal-dialog,
.modal#addToBasketResultModal .modal-dialog{
    left:-5%;
}


article.white-pnl address{
	padding:15px 15px;
    background:#efefef;
    border-left:4px solid #2aa8ec;
    margin-left:10px;
    color:#07477d;
}

.fa.fa-whatsapp{
	font-size:20px;
    vertical-align:middle;
    color:#14af4e;
    font-weight:bold;
}

.old_price{
    color:#07477d;
    margin0:0 5px;
    display:block;
}
.old_price span{
    color:#000;
	text-decoration0:line-through;
}

.content_wrap a, .content_wrap a:focus, .content_wrap a:visited{
	text-decoration:none;
    border-bottom:1px solid;
}
.content_wrap a:focus, .content_wrap a:hover{
	text-decoration:none;
	border-bottom:none;
}

#feedbackModal.modal.in .modal-dialog,
#feedbackModal.modal .modal-dialog,
#registerModal.modal.in .modal-dialog,
#registerModal.modal .modal-dialog{
    top:1%;
}

#internationalModal.modal.in .modal-dialog .modal-content{
    background-image:url(../flags/ormco-map.svg);
    background-position:center center;
    background-repeat:no-repeat;
    background-size:770px 374px;
}


/*cart*/
.order-page form input[type=checkbox]#agree_fake {
    margin-top:auto;
}

@media (hover:none) {
   .top-arrow:hover {
        background-color:transparent;
        border-color:#6a91b1;
    }
    .top-arrow:hover:after {
        color:#377bb5;
    }
}

@media (max-width:767px){
	.navbar-fixed-bottom .navbar-collapse, .navbar-fixed-top .navbar-collapse {
    	max-height:600px;
	}
    /*menu multi level*/
	header .top .navbar-nav .dropdown > a{
	   display:block;

	}
	header .top.navbar-default .navbar-nav > li.dropdown > a{
	    padding:15px 12px;
	}


	header .top .navbar-nav .dropdown > ul {
        margin:-10px 15px 0;
        display:none;
    }
	header .top .navbar-nav .dropdown.open > ul,
	header .top .navbar-nav .dropdown.active > ul {

        display:block;
    }

    .navbar-default .navbar-nav .open .dropdown-menu>.active>a,
    .navbar-default .navbar-nav .open .dropdown-menu>.active>a:focus,
    .navbar-default .navbar-nav .open .dropdown-menu>.active>a:hover {
        background-color:transparent;
        color:#94b3ce;
    }
    /*menu multi level*/
}

.order_params{
	text-align:left;
	padding:10px 15px;
}

.order_params li span{
	font-weight:bold;
}

.er_report{
	display:block;
    color:red;
}


@media (max-width:600px) {
    .register-modal  .modal-dialog {
        width:367px;
    }
}
@media (max-width:370px) {
    .register-modal  .modal-dialog {
        width:300px;
    }
}
table.small tfoot .old_price{color:#fff;}
table.small tfoot .old_price span{color:#fff;}

.left-search{position:relative;margin-bottom:10px;}
.left-search .show-placeholder input[type="text"] {width:100%;border-radius:14px;line-height:30px;height:30px;border:none;padding-left:14px;background-color:#377bb5;outline:0;font-size:12px;color:white;}
.left-search .show-placeholder input[type="text"]:hover, .left-search .show-placeholder input[type="text"]:focus {color:#505050;}
.left-search .show-placeholder input[type="text"]::-webkit-input-placeholder {color:white !important;}
.left-search .show-placeholder input[type="text"]::-moz-placeholder {color:white !important;opacity:1;}
.left-search .show-placeholder input[type="text"]:-ms-input-placeholder {color:white !important;}
.left-search .show-placeholder input[type="text"]:-moz-placeholder {color:white !important;opacity:1;}
.left-search .show-placeholder input[type="text"]:hover, .left-search .show-placeholder input[type="text"]:focus {background-color:white;}
.left-search .show-placeholder input[type="text"]:hover::-webkit-input-placeholder {color:#505050 !important;}
.left-search .show-placeholder input[type="text"]:hover::-moz-placeholder {color:#505050 !important;opacity:1;}
.left-search .show-placeholder input[type="text"]:hover:-ms-input-placeholder {color:#505050 !important;}
.left-search .show-placeholder input[type="text"]:hover:-moz-placeholder {color:#505050 !important;opacity:1;}
.left-search .show-placeholder input[type="text"]:focus::-webkit-input-placeholder {color:#505050 !important;}
.left-search .show-placeholder input[type="text"]:focus::-moz-placeholder {color:#505050 !important;opacity:1;}
.left-search .show-placeholder input[type="text"]:focus:-ms-input-placeholder {color:#505050 !important;}
.left-search .show-placeholder input[type="text"]:focus:-moz-placeholder {color:#505050 !important;opacity:1;}
.left-search .show-placeholder input[type="text"] + span{position:absolute;top:8px;right:15px;line-height:1;font-size:14px;display:block;font-family:'FontAwesome';}
.left-search .show-placeholder input[type="text"] + span:after{content:'\f002';display:block;color:white;}
.left-search .show-placeholder input[type="text"]:hover + span:after, .left-search .show-placeholder input[type="text"]:focus + span:after {color:#2aa8ec;}

.smart_filter_search_dropdown_hint{position:relative;}
.smart_filter_search_dropdown_hint ul{position:absolute;}
.smart_filter_search_dropdown_hint ul li{background:#fff;}
.smart_filter_search_dropdown_hint ul li a{display:block;width:100%;padding:5px;padding-left:45px;position:relative;border-bottom:solid 1px #ccc;}
.smart_filter_search_dropdown_hint ul li a img{position:absolute;left:10px;top:50%;margin-top:-12px;max-width:25px;}

.personal_payment_online_btn{float:right;margin-right:15px;margin-top:10px;}

.object_images{margin:15px -1%;}
.object_images .object_one_image{margin:1% 1% 0 1%;display:inline-block;width:31.33%;}
.object_images .object_one_image img{border:solid 1px #ddd;}

label.disabled{
    color:#999;
}

.blue-icons{
    float: left;
    margin: 0 0 15px 0;
    width: 80px;
    height: 80px;
    vertical-align: text-top;
    display: inline;
}

.top_descr .white-pnl{margin-top:0;margin-bottom:30px;}

.modal-title.header4{margin:0;}

header .top.navbar-default .navbar-nav > li > a.email:before{content: "\f0e0";font-family: 'FontAwesome';margin-right: 10px;}

header .bottom .sign-links a.round{border:1px solid #396c97;border-radius:22px;}

.sign-links .dropdown-menu{left:auto;right:0;}
@media (max-width: 767px) {
	header .bottom .sign-links.dropdown{display:none;}
}

article ol.circle li {
    margin-bottom:20px;

}
article ol.circle li:before {
    content: counter(item) ;
    counter-increment: item;
    position: absolute;
    top: -3px;
    left:-26px;
    box-sizing: border-box;
    min-width: 30px;
    height: 30px;
    margin-right: 8px;
    padding: 0px;
    color: #07477d;
    background-color: transparent;
    border: solid 1px #07477d;
    border-radius: 100%;
    line-height: 28px;
    text-align: center;

}

#registerModal .modal-body h5 {
    margin: 10px 0 10px;
    font-size: 14px;
}
.register-modal#feedbackModal .modal-dialog{width:600px}

@media (max-width: 600px) {
	.register-modal#feedbackModal .modal-dialog{width:100%}
	.register-modal .modal-header{padding-left:15px;padding-right:15px;}
	.register-modal .modal-body{padding-left:15px;padding-right:15px;}
	.register-modal .modal-footer{padding-left:15px;padding-right:15px;}
}

.form-group.doctor_only{display:none;}
.form-group.doctor_only.is_doctor_selected{display:block;}

.hid{display:none;}

.top_information_string{min-height:70px;}
.top_info_string_content{}
.top_info_string_icon{font-size:26px;float:left;margin:15px 15px 15px 0;}
.top_info_string_data{height:70px;overflow:hidden;display:table-cell;vertical-align:middle;}

.top_info_string_close{float:right;margin: 10px 0 0 5px;}

body.with_top_info_string{padding-top:275px;}
.with_top_info_string .top_information_string{position:absolute;top:0;left:0;right:0;width:100%;}
.with_top_info_string .navbar-fixed-top{top:70px;position: absolute;}
.with_top_info_string .navbar-fixed-top.shrink{top:0px;position:fixed;}
.with_top_info_string .top_info_string_data_long{display:block;}
.with_top_info_string .top_info_string_data_middle{display:none;}
.with_top_info_string .top_info_string_data_small{display:none;}

@media (max-width: 870px){
	body.with_top_info_string{padding-top:275px;}
	.with_top_info_string .top_info_string_data_long{display:none;}
	.with_top_info_string .top_info_string_data_middle{display:block;}
	.with_top_info_string .top_info_string_data_small{display:none;}
}
@media (max-width: 767px){
	body.with_top_info_string{padding-top:205px;}
}
@media (max-width: 480px){
	body.with_top_info_string{padding-top:185px;}
	.with_top_info_string .top_info_string_data_long{display:none;}
	.with_top_info_string .top_info_string_data_middle{display:none;}
	.with_top_info_string .top_info_string_data_small{display:block;}
}

.clinic_types_area{padding:0 15px 5px 35px;}
.clinic_types_area input{margin-right:7px;}
.clinic_types_area .one_clinic_type_hint{background-color:#2AA8EC;color:#fff;width:20px;height:20px;display:block;border-radius: 50%;text-align:center;position:absolute;right:15px;top:0;}
.clinic_types_area .one_clinic_type_hint .fa{margin-right:0;}

.popup_auth_error_message{display:none;color:#f00;}

div.bootstrap-select.div_with_disable{position:relative;}
div.bootstrap-select.div_with_disable:after{content:' ';display:block;position:absolute;top:0;left:0;right:0;bottom:0;background:rgba(0,0,0,0.1);z-index:9999999;}

.header5.delivry_russia{display:none}

.text_with_dots ul li{margin-left: 20px;list-style-type: disc;}

/*certificate*/
.cert_gal {
    list-style: none;
    font-size: 14px;
    line-height: 25px;
    color: #9B9B9B;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 63px -30px -30px 0;
    padding: 0;
}
.cert_gal:last-child {
    margin-bottom: -9px;
}
.cert_gal:first-child {
    margin-top: 0;
}
.cert_gal li:before {
    display: none;
}
.cert_gal li {
    width: 50%;
    padding: 0 30px 30px 0;
    margin: 0;
}
.cert_gal li > * {
    max-width: 331px;
}
.cert_gal .name {
    margin: 0 0 2px 0;
    font: 500 17px/30px "Montserrat Alternates", Georgia, "serif";
    color: #1C2B63;
    word-wrap: break-word;
}
.cert_gal .name a {
    color: inherit;
    border-bottom-color: transparent;
}
.cert_gal .name a:hover {
    border-bottom-color: rgba(215, 19, 12, 0.3);
}
.cert_gal .name img {
    vertical-align: top;
    width: auto;
    max-width: 100%;
    height: 192px;
    margin: 0 0 10px 0;
    -webkit-transition: all 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.cert_gal .name a:hover img {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}
.cert_gal {
    margin-top: 30px!important;
    margin-bottom: 0px!important;
}
.cert_gal li {
    width: 25%;
}
.cert_gal .name img {
    width: 100%;
    height: auto;
}

@media (max-width: 767px){
    .cert_gal li {width: 50%;}
}
@media (max-width: 460px){
    #addToBasketResultModal .modal-content{
        min-width:300px;
    }
    #addToBasketResultModal .btn{
        padding-left: 7px;
        padding-right: 7px;
        font-size: 12px;
    }
    #addToBasketResultModal .modal-title.header4{
        font-size: 15px;
        margin-left: 0;
    }
    #addToBasketResultModal .modal-header button{
        display: none;
    }
    .modal.in#addToBasketResultModal .modal-dialog, .modal#addToBasketResultModal .modal-dialog{
        left: 0;
    }
}