.search-clinic-page .map {
  height: 525px; }
.search-clinic-page .select-on-map-pnl {
  margin-bottom: 60px; }
  .search-clinic-page .select-on-map-pnl .selectors {
    position: relative; }
    .search-clinic-page .select-on-map-pnl .selectors .dropdown-menu {
      z-index: 1050; }

.clinics-helper {
  position: absolute;
  right: 26px;
  top: 50%;
  margin-top: -10px;
  font-size: 15px;
  background-color: #2AA8EC;
  color: #fff;
  width: 20px;
  height: 20px;
  display: block;
  overflow: hidden;
  text-align: center;
  border-radius: 50%;
  line-height: 20px;
  transition: all .3s;
  -o-transition: all .3s;
  -ms-transition: all .3s;
  -moz-transition: all .3s;
  -webkit-transition: all .3s;
  cursor: pointer; }
  .clinics-helper:hover, .clinics-helper:focus {
    background-color: #07477d; }
  @media (max-width: 768px) {
    .clinics-helper {
      display: none; } }
  .clinics-helper .fa {
    margin-right: 0; }

.search-clinic {
  padding: 30px 30px 50px; }
  .search-clinic__header {
    margin: 0 0 15px;
    overflow: hidden;
    display: block;
    color: #0B356A;
    font-size: 26px;
    line-height: 36px; }
  .search-clinic__content {
    overflow: hidden;
    position: relative; }
  .search-clinic__item {
    overflow: hidden; }
    .search-clinic__item:last-child .search-clinic__link {
      border: 0; }
    .search-clinic__item.js--show-info {
      cursor: pointer; }
    .search-clinic__item-right {
      text-align: right; }
      @media (max-width: 768px) {
        .search-clinic__item-right {
          margin-top: 10px;
          text-align: left; } }
    .search-clinic__item-inner {
      border-top: 1px solid #EBEBEB;
      padding: 20px 0;
      overflow: hidden; }
    .search-clinic__item:last-child > div {
      border-bottom: 1px solid #EBEBEB; }
    .search-clinic__item-title {
      margin: 0 0 5px;
      font-size: 20px;
      line-height: 24px;
      color: #377bb5; }
    .search-clinic__item-address {
      line-height: 20px;
      margin: 5px 0 0; }
      .search-clinic__item-address .fa {
        color: #0B356A;
        font-size: 20px;
        line-height: 20px;
        vertical-align: middle; }
    .search-clinic__item-phone {
      margin: 0; }
  .search-clinic__link {
    display: block;
    overflow: hidden;
    color: #264F88;
    font-size: 14px;
    line-height: 19px;
    border-bottom: 1px solid #EBEBEB;
    padding: 8px 0; }
  .search-clinic__back {
    margin-top: 5px;
    margin-bottom: 25px;
    padding: 5px 12px;
    border: 1px solid rgba(48, 99, 154, 0.3);
    border-radius: 22px;
    font-size: 14px;
    color: #264F88;
    display: inline-block;
    transition: all .3s;
    -o-transition: all .3s;
    -ms-transition: all .3s;
    -moz-transition: all .3s;
    -webkit-transition: all .3s; }
    .search-clinic__back:before {
      content: "\f060";
      font-family: 'FontAwesome';
      margin-right: 10px; }
    .search-clinic__back a.link-btn:hover, .search-clinic__back a.link-btn:focus {
      color: #94b3ce; }

/*# sourceMappingURL=search-clinic.css.map */