<?php
/** @var umiTemplaterPHP|BaseExtension|OrmcoExtension $this */
/** @var array $variables */

$fieldProfStatus = getArrayKey($variables, SiteUsersUserModel::field_prof_status);
if(!$fieldProfStatus) {
    return null;
}

if(getArrayKey($fieldProfStatus, 'type') != 'relation') {
    return null;
}

$options = getArrayKey($fieldProfStatus, 'options');
if(!$options) {
    return null;
}

$options = $this->sortProfStatusOptions($options);

$this->setModalAuthRegisterStep1Enabled(true);

$inputName = $fieldProfStatus['input_name'];
?>
<div class="modal" id="modal_register_step_1">
    <div class="modal_header">
        <div class="modal_title">Вы врач?</div>
        <p>Пожалуйста, ответьте на вопрос, для персональных рекомендаций</p>
    </div>
    <form action="#" method="POST" id="modal_register_step_1_form">
        <?php foreach($options as $option):
            $optionId = $option['id'];?>
            <div class="input-field">
                <label class="check-field"><input type="radio" name="<?php echo $inputName;?>" value="<?php echo $optionId;?>" data-register="prof-status" /> <?php echo $option['name'];?></label>
                <?php if($optionId == SiteUsersUserModel::prof_status_id_other && $fieldOther = getArrayKey($variables, SiteUsersUserModel::field_other_specialization)):?>
                    <div class="input-field-hidden">
                        <input type="text" name="<?php echo $fieldOther['input_name'];?>" class="input input-sm" placeholder="Ваша специализация" />
                    </div>
                <?php elseif($optionId == SiteUsersUserModel::prof_status_id_student && $fieldUniversity = getArrayKey($variables, SiteUsersUserModel::field_university)):?>
                    <div class="input-field-hidden">
                        <?php echo $this->render(array(
                            OrmcoExtension::assets_field_param_field => $fieldUniversity,
                            OrmcoExtension::assets_field_param_title => 'ВУЗ',
                            OrmcoExtension::assets_field_param_options => $this->sortUniversityOptions($this->sortOptionsByName(getArrayKey($fieldUniversity, 'options')))
                        ), OrmcoExtension::assets_field_default);?>
                    </div>
                <?php endif;?>
            </div>
        <?php endforeach;?>
        <div class="input-field">
            <a href="#" class="btn btn-light btn-xl btn-block" data-action="submit">Продолжить</a>
        </div>
    </form>
    <a href="#" class="btn-back" data-auth="link" data-target="modal_sign_in_phone"></a>
    <a href="#" data-fancybox-close class="btn-close"></a>
</div><!-- #signup -->
