<?php
/** @var umiTemplaterPHP|BaseExtension|OrmcoExtension $this */
/** @var array $variables */

$dadataToken = false;

try {
    $dadataToken = getArrayKey($this->macros(
        'ormcoSiteData',
        'getSiteDataDadataToken'
    ), 'token');
} catch (Exception $e) {}
?>
<div class="modal" id="modal_register_step_2">
    <div class="modal_header">
        <div class="modal_title">Расскажите о себе</div>
        <p>Заполните поля для завершения регистрации</p>
    </div>
    <form action="#" method="POST" id="modal_register_step_2_form">
        <?php
        if($field = getArrayKey($variables, SiteUsersUserModel::field_name)) {
            echo $this->render(array(
                OrmcoExtension::assets_field_param_field => $field,
                OrmcoExtension::assets_field_param_title => 'Имя'
            ), OrmcoExtension::assets_field_default);
        }

        if($field = getArrayKey($variables, SiteUsersUserModel::field_surname)) {
            echo $this->render(array(
                OrmcoExtension::assets_field_param_field => $field,
                OrmcoExtension::assets_field_param_title => 'Фамилия'
            ), OrmcoExtension::assets_field_default);
        }
        ?>
        
        <div class="input-field">
            <div class="input-float">
                <label>Электронная почта *</label>
                <input type="email" name="<?php echo SiteUsersUserModel::field_email;?>" class="input" required="required" />
            </div>
        </div>
        
        <?php if($dadataToken):
            $this->addCssFile('https://cdn.jsdelivr.net/npm/suggestions-jquery@21.12.0/dist/css/suggestions.min.css');
            $this->addScriptFile('https://cdn.jsdelivr.net/npm/suggestions-jquery@21.12.0/dist/js/jquery.suggestions.min.js');?>
            <div class="input-field">
                <div class="input-float">
                    <label for="modal_register_step_2_form_input_address">Адрес *</label>
                    <input type="text" name="address" class="input" required="required" id="modal_register_step_2_form_input_address" data-token="<?php echo $dadataToken;?>" />
                    <textarea name="dadata" id="modal_register_step_2_form_input_address_data" style="display:none;"></textarea>
                </div>
            </div>
        <?php else:?>
            <?php if($field = getArrayKey($variables, SiteUsersUserModel::field_country)) {
                echo $this->render(array(
                    OrmcoExtension::assets_field_param_field => $field,
                    OrmcoExtension::assets_field_param_title => 'Страна',
                    OrmcoExtension::assets_field_param_input_id => 'modal_register_step_2_form_input_country',
                    OrmcoExtension::assets_field_param_options => $this->sortCountryOptions(getArrayKey($field, 'options')),
                    OrmcoExtension::assets_field_param_options_data => array(
                        SiteUsersUserModel::country_id_russia => 'country-russia'
                    )
                ), OrmcoExtension::assets_field_default);
            }
    
            if($field = getArrayKey($variables, SiteUsersUserModel::field_region)) {
                echo $this->render(array(
                    OrmcoExtension::assets_field_param_field => $field,
                    OrmcoExtension::assets_field_param_title => 'Регион',
                    OrmcoExtension::assets_field_param_input_id => 'modal_register_step_2_form_input_region',
                    OrmcoExtension::assets_field_param_options_data => array(
                        SiteUsersUserModel::region_id_not_russia => 'region-not-russia'
                    )
                ), OrmcoExtension::assets_field_default);
            }
    
            if($field = getArrayKey($variables, SiteUsersUserModel::field_city)) {
                echo $this->render(array(
                    OrmcoExtension::assets_field_param_field => $field,
                    OrmcoExtension::assets_field_param_title => 'Город'
                ), OrmcoExtension::assets_field_default);
            } ?>
        <?php endif;?>

        <?php if($policyPageLink = $this->getCommonVar(OrmcoExtension::pages_policy_link)):?>
            <div class="input-field">
                <label class="check-field">
                    <input type="hidden" name="agree" value="0" />
                    <input type="checkbox" name="agree" value="1" required="required" />
                    Согласие на обработку данных и с <a href="<?php echo $policyPageLink;?>" target="_blank">политикой конфиденциальности</a>
                </label>
            </div>
        <?php endif;?>
        
        <div class="input-field">
            <input type="submit" value="Зарегистрироваться" class="btn btn-xl btn-light btn-block" />
        </div>
    </form>
    <?php if($this->isModalAuthRegisterStep1Enabled()):?>
        <a href="#" class="btn-back" data-auth="link" data-target="modal_register_step_1"></a>
    <?php endif;?>
    <a href="#" data-fancybox-close class="btn-close"></a>
</div>
