<div class="layout-row-icon row" xmlns:umi="http://www.w3.org/1999/xhtml">
    <div class="col-md-6" style="min-height:10px;">
        {%= label %}
        <input type="hidden" name="{%= inputName %}[{%= position %}][rel]" value="{%= relationId %}"/>
    </div>
    <div class="col-md-5">
        <div class="layout-col-control">
            {%if isStores%}
                <input type="number"  class="default edit number" name="{%= inputName %}[{%= position %}][int]" value="{%= value %}" />
                <input type="hidden" umi:type="float" name="{%= inputName %}[{%= position %}][float]" value="1" />
            {%else%}
                <input type="number"  class="default edit number" name="{%= inputName %}[{%= position %}][float]" value="{%= value %}" />
                <input type="hidden" umi:type="int" name="{%= inputName %}[{%= position %}][int]" value="1" />
            {%/if%}
        </div>
        <div class="layout-col-icon">
            <a class="icon-action remove"><i class="small-ico i-remove"></i></a>
        </div>
    </div>
</div>

