/* ------------------- clear ----------------- */
html, body, div, span, applet, object, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, 
del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, 
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, input, textarea {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: top;
	background: transparent;
	outline: none;
	-webkit-appearance: none;
}
b {
	font-weight: bold;
}
i {
	font-style: italic;
}
blockquote, q {
	quotes: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a, span {
	vertical-align: baseline;
}
img {
	max-width: 100%;
	vertical-align: top;
	text-decoration: none;
}
strong {
	font-weight: 600;
}
/* 覧覧覧覧覧覧覧覧覧覧覧覧 general styles 覧覧覧覧覧覧覧覧覧覧覧覧覧 */
html, body {
	width: 100%;
	height: 100%;
}
body {
	height: auto;
	min-height: 100%;
	font-family: 'Roboto', sans-serif;
	font-size: 13px;
	font-weight: 300;
	font-style: normal;
	background: #D1E3ED;
	color: #0C507A;
}
p {
	font-family: 'Roboto', sans-serif;
	font-size: 100%;
}
h1 {
	font-size: 50px;
	font-weight: 400;
	letter-spacing: 1px;
}
h2 {
	font-size: 22px;
	font-weight: 400;
	letter-spacing: 0.8px;
}
h3 {
	font-size: 20px;
	font-weight: 400;
}
h4 {
	font-size: 18px;
	font-weight: 700;
}
h5 {
	font-size: 15px;
	font-weight: 400;
}
h6 {
	font-size: 14px;
	font-weight: 400;
}
a {
	color: #2C2C2C;
	text-decoration: underline;
}
a:hover {
	color: #000000;
	text-decoration: none;
}
/*  SECTIONS  */
.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}
/*  COLUMN SETUP  */
.col {
	display: block;
	float: left;
	/* margin: 1% 0 1% 1.6%; */
	margin: 0 0 0 1.6%;
}
.col:first-child {
	margin-left: 0;
}
/*  GROUPING  */
.group:before, .group:after {
	content: "";
	display: table;
}
.group:after {
	clear: both;
}
/*  GRID OF TWO */
.span_1_of_2 {
	width: 100%;
}
.span_1_of_2 {
	width: 49.2%;
}
/*  GRID OF THREE  */
.span_3_of_3 {
	width: 100%;
}
.span_2_of_3 {
	width: 66.1%;
}
.span_1_of_3 {
	width: 32.2%;
}
/*  GRID OF FOUR */
.span_4_of_4 {
	width: 100%; 
}
.span_3_of_4 {
	width: 74.6%; 
}
.span_2_of_4 {
	width: 49.2%; 
}
.span_1_of_4 {
	width: 23.8%; 
}
/*  GRID OF FIVE */
.span_5_of_5 {
	width: 100%;
}
.span_4_of_5 {
  	width: 79.68%; 
}
.span_3_of_5 {
  	width: 59.36%; 
}
.span_2_of_5 {
  	width: 39.04%;
}
.span_1_of_5 {
  	width: 18.72%;
}
/*  GRID OF SIX */
.span_6_of_6 {
	width: 100%;
}
.span_5_of_6 {
  	width: 83.06%;
}
.span_4_of_6 {
  	width: 66.13%;
}
.span_3_of_6 {
  	width: 49.2%;
}
.span_2_of_6 {
  	width: 32.26%;
}
.span_1_of_6 {
  	width: 15.33%;
}
.hidden {
	display: none;
}
/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */
@media only screen and (max-width: 480px) {
	.col { 
		margin: 1% 0 1% 0%;
	}
}
@media only screen and (max-width: 480px) {
	.span_3_of_3 {
		width: 100%; 
	}
	.span_2_of_3 {
		width: 100%; 
	}
	.span_1_of_3 {
		width: 100%;
	}
	.span_5_of_5 {
		width: 100%; 
	}
	.span_4_of_5 {
		width: 100%; 
	}
	.span_3_of_5 {
		width: 100%; 
	}
	.span_2_of_5 {
		width: 100%; 
	}
	.span_1_of_5 {
		width: 100%; 
	}
	.span_6_of_6 {
		width: 100%; 
	}
	.span_5_of_6 {
		width: 100%; 
	}
	.span_4_of_6 {
		width: 100%; 
	}
	.span_3_of_6 {
		width: 100%; 
	}
	.span_2_of_6 {
		width: 100%; 
	}
	.span_1_of_6 {
		width: 100%; 
	}
}
/* DAMON */
.left {
	float: left;
}
.to1000 {
	margin: 0 auto;
	width: 1000px;
}
.to960 {
	margin: 0 auto;
	width: 960px;
}
.header {
	position: relative;
	height: 40px;
	background: #FFFFFF url('images/line1.png') repeat-x;
}
.logo {
	width: 225px;
	text-align: right;
	padding-top: 3px;
}
.insignia {
	position: absolute;
	right: 0;
	top: 40px;
}
.speaker {
	width: 270px;
	padding: 105px 55px 35px 55px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	color: #FFFFFF;
	line-height: 20px;
}
.speaker p {
	margin: 20px 0;
}
.speaker h6 {
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 20px;
	margin-bottom: 10px;
	letter-spacing: 0.6px;
}
.speaker img {
	width: 158px;
	margin-bottom: 35px;
	border: solid 3px #FFFFFF;
}
.seminar {
	width: 100%;
	padding-top: 92px;
	padding-bottom: 120px;
	background: #AFC4D2;
}
.seminar h1 {
	font-size: 39px;
	font-weight: 400;
	color: #0C507A;
	line-height: 40px;
	margin-bottom: 20px;
}
.seminar h3 {
	font-size: 18px;
	color: #0C507A;
	line-height: 26px;
	margin-top: 20px;
	margin-bottom: 15px;
}
.seminar h4 {
	margin-bottom: 15px;
}
.bordered {
	border: solid 1px #88D1FB;
	color: #4094C5;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	margin-bottom: 25px;
	font-family: 'Roboto Condensed', sans-serif;
}
.cities {
	width: 170px;
	padding: 19px 10px 5px 17px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	color: #4094C5;
	font-size: 16px;
	font-weight: 400;
	line-height: 26px;
}
.dates {
	width: 260px;
	padding: 19px 10px 5px 17px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	color: #4094C5;
	font-size: 16px;
	line-height: 26px;
}
.reg {
	width: 198px;
	padding: 11px;
	text-align: right;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
.quest, .onlineconf {
	width: 640px;
	text-align: right;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	text-align: center;
}
.quest button {
	width: 450px;
	font-size: 22px;
	font-weight: bold;
}
.onlineconf button {
	width: 450px;
	font-size: 14px;
	font-weight: bold;
	background: #bc0f2b;
}
button {
	background: #4094C5;
	border: none;
	outline: none;
	color: #FFFFFF;
	padding: 12px 35px 14px 35px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	font-size: 15px;
	letter-spacing: 0.5px;
	cursor: pointer;
}
.menu {
	width: 210px;
	padding: 30px;
	margin-top: 85px;
}
.menu ul {
	width: 210px;
}
.menu ul li {
	width: 210px;
	list-style-type: none;
	padding: 9px 24px;
	border: solid 2px transparent;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	margin-bottom: 10px;
}
.menu ul li a {
	color: #FFFFFF;
	font-size: 14px;
	line-height: 22px;
	text-decoration: none;
}
.menu ul li a:hover {
	text-decoration: underline;
}
.menu ul li.ch {
	border: solid 2px #FFFFFF;
}
.menu ul li h5 {
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 16px;
	font-weight: 500;
	letter-spacing: 0.8px;
}
.menu button {
	margin-top: 10px;
	margin-left: 20px;
	margin-bottom: 20px;
}
.content {
	margin: -75px auto 55px auto;
	width: 1000px;
	background: #FFFFFF;
	padding-top: 50px;
}
.content h1 {
	font-size: 35px;
	color: #006095;
	text-transform: uppercase;
	margin-bottom: 40px;
}
.main {
	width: 640px;
	padding: 50px 0;
	font-size: 16px;
	line-height: 25px;
}
.main p {
	margin: 10px 0;
}
.main h2 {
	font-size: 30px;
	margin-top: 20px;
	margin-bottom: 30px;
	line-height: 33px;
}
.main h4 {
	margin-top: 10px;
	margin-bottom: 10px;
}
.main h3 strong {
	font-size: 18px;
	font-weight: 700;
	letter-spacing: 0.8px;
}
.main img {
	margin-top: 45px;
	margin-bottom: 45px;
}
hr {
	height: 1px;
	border: none;
	color: #E2E2E2;
	background-color: #E2E2E2;
	margin: 40px 0;
}
.speakerdiv {
	font-size: 16px;
	line-height: 25px;
	margin-bottom: 20px;
}
.speakerdiv img {
	float: left;
	margin: 0;
	margin-right: 38px;
	margin-bottom: 30px;
}
.speakerh4 {
	font-size: 20px;
	font-weight: 700;
	margin-bottom: 15px;
	letter-spacing: 0.8px;
}
.form {
	width: 450px;
	background: #E5ECF0;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	margin: 50px 0 75px 0;
	padding: 10px 60px 50px 60px;
}
.ttl {
	float: left;
	width: 140px;
	height: 58px;
	font-size: 14px;
	padding-top: 12px;
}
.ttlc {
	float: left;
	width: 140px;
	height: 78px;
	font-size: 14px;
	padding-top: 32px;
}
.ttlb {
	float: left;
	width: 140px;
	height: 40px;
}
.fld {
	height: 70px;
}
.fld1 {
	height: 100px;
}
.flds {
	height: 60px;
}
.fldp {
	height: 80px;
	padding-left: 140px;
}
.fldc {
	margin-top: 20px;
	padding-top: 25px;
	height: 100px;
}
.flds select {
	border: none;
	width: 300px;
	background: #FFFFFF;
	padding: 12px 12px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	font-size: 15px;
	color: #0C507A;
}
.fld input {
	border: none;
	background: #FFFFFF;
	padding: 16px 12px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	font-size: 15px;
	color: #0C507A;
}
.fld textarea {
	border: none;
	background: #FFFFFF;
	padding: 16px 12px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	font-size: 15px;
	color: #0C507A;
}
.fld select {
	border: none;
	background: #FFFFFF;
	padding: 16px 12px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	font-size: 15px;
	color: #0C507A;
}
.fld span {
	font-size: 18px;
	font-weight: 700;
	line-height: 44px;
}
.fldc input {
	border: none;
	background: #FFFFFF;
	padding: 16px 12px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	font-size: 15px;
	color: #0C507A;
}
.fldc img {
	margin: 0;
	margin-right: 20px;
}
.fldp span {
	font-size: 16px;
	color: #1E96DC;
	cursor: pointer;
}
.smll {
	font-size: 9px;
	cursor: pointer;
}
.err {
	margin-bottom: 30px;
	color: #DD0000;
}
.clear {
	clear: both;
}
.footer {
	background: #D1E3ED;
	color: #0C507A;
	line-height: 25px;
	text-align: right;
	padding: 35px 0 75px 0;
}
.places {
	font-size: 15px;
	margin-bottom: 30px;
}
.places h4 {
	font-size: 20px;
}
.places span {
	font-size: 16px;
	color: #1E96DC;
	cursor: pointer;
}
.prices {
	background: #E5ECF0;
	padding: 35px 30px 20px 30px;
	width: 510px;
	background: #E5ECF0;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	margin-top: 10px;
	margin-bottom: 30px;
}
.prices h3 {
	font-size: 22px;
	font-weight: 700;
	margin-bottom: 25px;
	letter-spacing: 1px;
}
.pricedesc {
	width: 395px;
	font-size: 16px;
	height: 40px;
}
.price {
	font-size: 20px;
	font-weight: 700;
}
.map {
	position: fixed;
	width: 640px;
	height: 400px;
	top: -10000px;
	left: 50%;
	margin-left: -320px;
	border: solid 2px #1E96DC;
	padding-top: 60px;
	background: #FFFFFF;
}
#map {
	height: 400px;
}
.map img {
	max-width: none;
}
.close {
	position: absolute;
	width: 15px;
	height: 15px;
	right: 25px;
	top: 25px;
	z-index: 52;
	cursor: pointer;
}
.darkblue {
	background: #98B9D0;
}
.lightblue {
	background: #E2F0F8;
}
.middleblue {
	background: #D1E3ED;
}
.leftbar {
	width: 270px;
}
.baseinfo {
	width: 730px;
	padding: 60px 38px 0 62px;
	background: #FFFFFF;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	z-index: 22;
}
.red {
	color: #FF3333;
	font-weight: 700;
}
.small {
	font-size: 13px;
	line-height: 20px;
}
sup {
	color: #FF3333;
	font-size: 16px;
	line-height: 10px;
}
.fld .redfld {
	border: solid 1px #FF9999!important;
	background: #FFDDDD!important;
}