<?php
/** @var umiTemplaterPHP|BaseExtension|OrmcoExtension|UserExtension $this */
/** @var array $variables */

if(!$this->getUserIsAuth()) {
    return;
}

try {
    $isEmpty = boolval(getArrayKey($this->macros('ormcoSiteData', 'getSiteDataIsUserDadataEmpty'), 'is-empty'));
} catch (Exception $e) {
    $isEmpty = false;
}

if(!$isEmpty) {
    return;
}
?>
<div class="alert">
    <div class="container">
        <div class="alert-text">Пожалуйста, обновите адрес</div>
        <div class="alert-btns">
            <a href="/users/address/" class="btn btn-border-white">Обновить</a>
            <a href="#" class="btn-close"></a>
        </div>
    </div>
</div><!-- /alert -->