<?php
/** @var umiTemplaterPHP|BaseExtension|OrmcoExtension $this */
/** @var array $variables */

if(!$this->getOrmcoSettingsValue('pokazyvat_informacionnuyu_stroku')) {
    return;
}

$text = trim($this->getOrmcoSettingsValue('tekst_informacionnoj_stroki'));
if(!$text) {
    return;
}
?>
<div class="alert">
    <div class="container">
        <div class="alert-text"><?php echo $text;?></div>
        <div class="alert-btns">
            <?php if($this->getCommonVar(OrmcoExtension::modal_feedback_active)):?>
                <a href="#modal_feedback" class="btn btn-border-white" data-action="fancybox">Обратная связь</a>
            <?php endif;?>
            <a href="#" class="btn-close"></a>
        </div>
    </div>
</div><!-- /alert -->