<?php
/** @var umiTemplaterPHP|BaseExtension|OrmcoExtension $this */
/** @var array $variables */

$templateFilePath = $this->getTemplateFilePath(__FILE__);
?>
<div class="container container_bottom">
    <?php echo $this->render(null, $templateFilePath . '/warn');?>
    
    <?php echo $this->render(null, $templateFilePath . '/contacts');?>
    
    <?/*php echo $this->render(null, $templateFilePath . '/partners');*/?>
    
    <div class="h3">Партнеры</div>
    <div class="row partners_row">
        <div class="grid2 tb4 sm6">
            <div class="partner">
                <a href="https://www.kerrdental.com/ru-ru/?utm_source=ormco.ru&utm_medium=footerlink&utm_campaign=synergy"><img src="/templates/ormco_2021/assets/images/uploads/kerr.png" alt="" /></a>
            </div>
        </div><!-- /grid -->
        <div class="grid2 tb4 sm6">
            <div class="partner">
                <a href="https://dexis.com/ru-ru?utm_source=ormco.ru&utm_medium=footerlink&utm_campaign=synergy"><img src="/templates/ormco_2021/assets/images/uploads/kavo_black.png" alt="" /></a>
            </div>
        </div><!-- /grid -->
        <div class="grid2 tb4 sm6">
            <div class="partner">
                <a href="https://www.nobelbiocare.com/ru/ru/home.html?utm_source=ormco.ru&utm_medium=footerlink&utm_campaign=synergy"><img src="/templates/ormco_2021/assets/images/uploads/nobel.png" alt="" /></a>
            </div>
        </div><!-- /grid -->
        <div class="grid2 tb4 sm6">
            <div class="partner">
                <a href="https://med-resurs.org" target="_blank"><img src="/templates/ormco_2021/assets/images/uploads/soyuz.png" alt="" /></a>
            </div>
        </div><!-- /grid -->
    </div><!-- /partners_row -->
</div>