<?php
/** @var umiTemplaterPHP|BaseExtension $this */
/** @var array $variables */

$items = getArrayKey($variables, OrmcoExtension::assets_errors_param_items);
if(!$items) {
    try {
        $result = $this->macros('system', 'listErrorMessages');
        $items = getArrayKey($result, 'items');
    } catch (Exception $e) {
        $items = false;
    }
}

if(!$items) {
    return null;
}
?>
<div class="alert alert-danger">
    <?php foreach($items as $item):
        $message = getArrayKey($item, 'message');
        if(!$message) {
            $message = $item;
        }?>
        <p><?php echo $message;?></p>
    <?php endforeach;?>
</div>