<?php
/** @var umiTemplaterPHP|BaseExtension|OrmcoExtension $this */
/** @var array $variables */
?>
<footer class="footer">
    <div class="container">
        <div class="footer_copy">© ООО «Ормко», <?php echo date('Y');?></div>
        
        <?php echo $this->render(null, $this->getTemplateFilePath(__FILE__) . '/menu');?>
        
        <div class="footer_text">
            Не является офертой. Имеются противопоказания.<br> Проконсультируйтесь со специалистами
        </div>
    </div>
</footer><!-- /footer -->
