<?php
/** @var umiTemplaterPHP|BaseExtension|UserExtension|CartExtension|OrmcoExtension $this */
/** @var array $variables */

$templateFilePath = $this->getTemplateFilePath(__FILE__);
?>
<header class="header">
    <div class="header_top">
        <div class="container">
            <?php echo $this->render(null, $templateFilePath . '/phones');?>
            
            <?php echo $this->render(null, $templateFilePath . '/top_list');?>
        </div>
    </div><!-- /header_top -->
</header>

<div class="header_sticky">
    <div class="header_middle">
        <div class="container">
            <div class="logo">
                <a href="/"><img src="<?php echo $this->getTemplateResources();?>/assets/images/svg/logo.svg" alt="" /></a>
            </div>
    
            <?php echo $this->render(null, $templateFilePath . '/catalog');?>

            <div class="searchbox">
                <form action="<?php echo OrmcoExtension::link_search;?>" method="GET">
                    <input type="search" name="<?php echo OrmcoExtension::link_search_param_query;?>" class="searchbox_input" placeholder="Поиск по товарам" />
                </form>
            </div><!-- /searchbox -->
            <?php if(!$this->getUserIsAuth()):
                $dataAuthLogin = $this->renderDataAuthLogin();
                if($this->isModalAuthLoginByPhoneEnabled()) {
                    $modalText = 'Войти или зарегистрироваться';
                } else {
                    $modalText = 'Войти';
                }?>
                <div class="header_middle_item alert_hover">
                    <a href="<?php echo OrmcoExtension::link_login;?>" class="header_middle_btn js_auth"<?php echo $dataAuthLogin;?>>
                        <span class="header_middle_btn-icon header_middle_btn-login"></span>
                        Войти
                    </a>
                    <div class="alert_modal alert_modal-center">
                        <p>Войдите, чтобы делать покупки, отслеживать заказы и пользоваться персональными скидками.</p>
                        <a href="<?php echo OrmcoExtension::link_login;?>" class="btn"<?php echo $dataAuthLogin;?>><?php echo $modalText;?></a>
                    </div>
                </div>
            <?php else:?>
                <div class="header_middle_item">
                    <a href="<?php echo OrmcoExtension::link_settings;?>" class="header_middle_btn">
                        <span class="header_middle_btn-icon header_middle_btn-login"></span>
                        <?php echo $this->getUserValue(SiteUsersUserModel::field_name);?>
                    </a>
                </div>
                <div class="header_middle_item">
                    <a href="<?php echo OrmcoExtension::link_personal_orders;?>" class="header_middle_btn">
                        <span class="header_middle_btn-icon header_middle_btn-cube"></span>
                        Заказы
                    </a>
                </div>
            <?php endif;?>
            <div class="header_middle_item">
                <a href="<?php echo OrmcoExtension::link_cart;?>" class="header_middle_btn">
					<span class="header_middle_btn-icon header_middle_btn-cart">
						<span class="header_middle_btn-count"<?php echo $this->renderCartDataAmount();?>><?php echo $this->getCartAmount();?></span>
					</span>
                    Корзина
                </a>
            </div>
        </div>
    </div><!-- /header_middle -->

    <div class="header_bottom">
        <div class="container">
            <?php echo $this->render(null, $templateFilePath . '/menu');?>
            
            <ul class="header_nav">
                <?php if($this->getCommonVar(OrmcoExtension::modal_feedback_active)):?>
                    <li><a href="#modal_feedback" class="header_nav-env" data-action="fancybox">Бесплатная консультация</a></li>
                <?php endif;?>
                <li><a href="#" class="header_nav-nav js_nav">Меню</a></li>
            </ul>
        </div>
    </div><!-- /header_bottom -->
</div>