<?php
/** @var umiTemplaterPHP|BaseExtension $this */
/** @var array $variables */

$templateResources = $this->getTemplateResources();
$templateVersion = $this->getTemplateVersion();

$title = $this->getSiteMetaTitle();
$description = $this->getSiteMetaDescription();
$keywords = $this->getSiteMetaKeywords();
?>
<meta charset="utf-8">

<title><?php echo $title; ?></title>
<meta name="description" content="<?php echo htmlspecialchars($description); ?>" />
<meta name="keywords" content="<?php echo htmlspecialchars($keywords); ?>" />

<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
<link rel="shortcut icon" href="/favicon.gif" type="image/x-icon" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/7.0.3/swiper-bundle.min.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.css" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/jQueryFormStyler/2.0.2/jquery.formstyler.min.css" rel="stylesheet" />
<link href="<?php echo $templateResources;?>/assets/css/styles.css<?php echo $templateVersion;?>" rel="stylesheet" type="text/css">
<link href="<?php echo $templateResources;?>/assets/css/resp.css<?php echo $templateVersion;?>" rel="stylesheet" type="text/css">
<link href="<?php echo $templateResources;?>/assets/css/custom.css<?php echo $templateVersion;?>" rel="stylesheet" type="text/css">
<!--[if IE]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script><![endif]-->

<?php echo $this->getCssFiles();?>
<?php echo $this->getCss();?>
