<?php
/** @var umiTemplaterPHP|BaseExtension $this */
/** @var array $variables */

$templateResources = $this->getTemplateResources();
$templateVersion = $this->getTemplateVersion();

try {
    $ecommerceCode = $this->macros(
        'exchange',
        'getExchangeEcommerceCode'
    );
} catch (Exception $e) {
    $ecommerceCode = false;
}
?>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/7.0.3/swiper-bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jQueryFormStyler/2.0.2/jquery.formstyler.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.maskedinput/1.4.1/jquery.maskedinput.min.js"></script>
<script src="<?php echo $templateResources;?>/assets/js/vendor/bootstrap-pincode-input.js<?php echo $templateVersion;?>"></script>
<script src="<?php echo $templateResources;?>/assets/js/common.js<?php echo $templateVersion;?>"></script>
<script src="<?php echo $templateResources;?>/assets/js/site/gtm.js<?php echo $templateVersion;?>"></script>
<script src="<?php echo $templateResources;?>/assets/js/site/scripts.js<?php echo $templateVersion;?>"></script>

<?php echo $this->getScriptFiles();?>

<?php echo $this->getJavascript();?>

<?php if(is_array($ecommerceCode) && isset($ecommerceCode['code'])):?>
    <script type="text/javascript">
        window.dataLayer = window.dataLayer || [];
        <?php echo $ecommerceCode['code'];?>
    </script>
<?php endif;?>

<script src="//code.jivosite.com/widget.js" data-jv-id="jzpQ8JJNjp" async=""></script>
