<?php
/** @var umiTemplaterPHP|BaseExtension|UserExtension $this */
/** @var array $variables */
?>
<div class="mobile_footer">
    <div class="container">
        <ul>
            <?php if($catalogPageLink = $this->getCommonVar(OrmcoExtension::pages_catalog_link)):?>
                <li><a href="<?php echo $catalogPageLink;?>">Каталог</a></li>
            <?php endif;?>
            <li><a href="#" class="js_search_mb">Поиск</a></li>
            <li><a href="<?php echo OrmcoExtension::link_cart;?>">Корзина</a></li>
            <?php if(!$this->getUserIsAuth()):?>
                <li><a href="<?php echo OrmcoExtension::link_login;?>" class="js_auth"<?php echo $this->renderDataAuthLogin();?>>Войти</a></li>
            <?php endif;?>
        </ul>
    </div>
</div><!-- /mobile_footer -->