<?php
/** @var umiTemplaterPHP|BaseExtension $this */
/** @var array $variables */
?>
<div class="mobile_header">
    <div class="container">
        <div class="mobile_header_inner">
            <div class="logo">
                <a href="/"><img src="<?php echo $this->getTemplateResources();?>/assets/images/svg/logo.svg" alt="" /></a>
            </div>
            <a href="/" class="navbtn js_nav"></a>
        </div>
        <div class="searchbox">
            <form action="<?php echo OrmcoExtension::link_search;?>" method="POST">
                <input type="search" name="<?php echo OrmcoExtension::link_search_param_query;?>" class="searchbox_input" placeholder="Поиск по товарам" />
            </form>
        </div>
    </div>
</div>