<?php
/** @var umiTemplaterPHP|BaseExtension|UserExtension $this */
/** @var array $variables */

$templateFilePath = $this->getTemplateFilePath(__FILE__);
?>
<div class="panel">
    <?php echo $this->render(null, $templateFilePath . '/menu');?>
    
    <?php echo $this->render(null, $templateFilePath . '/feedback');?>
    
    <?php echo $this->render(null, $templateFilePath . '/social');?>
    
    <a href="#" class="btn-close"></a>
</div><!-- /panel -->
<div class="panel_overlay"></div>