<?php
/** @var umiTemplaterPHP|BaseExtension|OrmcoExtension $this */
/** @var array $variables */
?>
<div class="modal" id="modal_sign_in_email">
    <div class="modal_header">
        <div class="modal_title">Введите e-mail и пароль</div>
        <p>Только для зарегистрированных пользователей</p>
    </div>
    <form action="/users/sign_in/email/" method="POST" data-auth="sign-in-email-form">
        <div class="input-field">
            <div class="input-float">
                <label for="modal_sign_in_email_input_email">Электронная почта</label>
                <input type="email" name="login" class="input" id="modal_sign_in_email_input_email" required="required" />
            </div>
        </div>
        <div class="input-field">
            <div class="input-float">
                <label for="modal_sign_in_email_input_password">Пароль</label>
                <input type="password" name="password" class="input" id="modal_sign_in_email_input_password" required="required" />
            </div>
        </div>
        <div class="input-field">
            <input type="submit" value="Войти" class="btn btn-light btn-xl btn-block" />
            <div class="modal_links">
                <p><a href="<?php echo OrmcoExtension::link_forget;?>">Забыли пароль?</a></p>
                <?php if($this->isModalAuthLoginByPhoneEnabled()):?>
                    <p><a href="<?php echo OrmcoExtension::link_login;?>"<?php echo $this->renderDataAuthLoginByPhone();?>>Войти по номеру телефона</a></p>
                <?php endif;?>
            </div>
        </div>
    </form>
    <a href="#" data-fancybox-close class="btn-close"></a>
</div><!-- /modal -->
