<?php
/** @var umiTemplaterPHP|BaseExtension|OrmcoExtension $this */
/** @var array $variables */
if(!OrmcoSiteDataSmsHelper::isSmsEnabled()) {
    return;
}

$this->setModalAuthLoginByPhoneEnabled(true);
?>
<div class="modal" id="modal_sign_in_phone">
    <div class="modal_header">
        <div class="modal_title">Введите номер телефона</div>
    </div>
    <form action="/users/sign_in/phone_send_code/" method="POST" data-auth="sign-in-phone-send-code">
        <div class="input-field">
            <div class="input-float">
                <label for="modal_sign_in_phone_input_phone">Ваш телефон</label>
                <input type="tel" name="phone" class="input phone_input" id="modal_sign_in_phone_input_phone" />
            </div>
        </div>
        <div class="input-field">
            <button type="submit" class="btn btn-light btn-xl btn-block">Продолжить</button>
            <?php if($this->isModalAuthLoginByEmailEnabled()):?>
                <a href="<?php echo OrmcoExtension::link_login;?>" class="btn btn-link btn-xl btn-reg btn-block"<?php echo $this->renderDataAuthLoginByEmail();?>>Войти по E-mail</a>
            <?php endif;?>
        </div>
    </form>
    <a href="#" data-fancybox-close class="btn-close"></a>
</div><!-- /modal -->

<div class="modal" id="modal_sign_in_validate_phone_code">
    <div class="modal_header">
        <div class="modal_title">Введите код из смс</div>
        <p>Отправили на номер <span data-auth="sign-in-phone-code-phone-span"></span></p>
    </div>
    <form action="/users/sign_in/phone_validate_code/" method="POST" id="modal_sign_in_validate_phone_code_form">
        <input type="hidden" name="phone" value="" data-auth="sign-in-phone-code-phone-input" />

        <div class="input-field">
            <div class="codeinput codeinput-error">
                <input type="text" name="code" class="codeinput_input" value="" id="modal_sign_in_validate_phone_code_input_code" data-code="" />
            </div><!-- /codeinput -->
            <div class="input-text color-red text-center" id="modal_sign_in_validate_phone_code_error" style="display:none;"></div>
        </div>
        <div class="modal_links">
            <p id="sign_in_phone_code_timer"></p>
        </div>
    </form>
    <a href="#" class="btn-back"<?php echo $this->renderDataAuthLoginByPhone();?>></a>
    <a href="#" data-fancybox-close class="btn-close"></a>
</div><!-- /modal -->

<div class="modal" id="modal_no_register">
    <div class="modal_header">
        <div class="modal_title">Регистрация приостановлена</div>
        <p>Номер телефона не найден в базе пользователей сайта. Регистрация новых пользователей временно приостановлена</p>
    </div>
    <a href="#" data-fancybox-close class="btn-close"></a>
</div>