<?php
/** @var umiTemplaterPHP|BaseExtension|OrmcoExtension $this */
/** @var array $variables */
$field = getArrayKey($variables, OrmcoExtension::assets_field_param_field);
if(!$field) {
    return null;
}

$title = getArrayKey($variables, OrmcoExtension::assets_field_param_title);
if(!$title) {
    $title = getArrayKey($field, 'title');
}

$required = getArrayKey($variables, OrmcoExtension::assets_field_param_required);
if(is_null($required)) {
    $required = getArrayKey($field, 'required');
}

$attributes = getArrayKey($variables, OrmcoExtension::assets_field_param_attributes);
if(!is_array($attributes)) {
    $attributes = array();
}

if($required) {
    $attributes['required'] = 'required';
    $title .= ' *';
}

$attributes['data-title'] = $title;

$inputType = getArrayKey($variables, OrmcoExtension::assets_field_param_input_type);
if(!$inputType) {
    switch(getArrayKey($field, 'type')) {
        case 'relation': {
            $inputType = 'select';
            break;
        }
        case 'text': {
            $inputType = 'textarea';
            break;
        }
        case 'boolean': {
            $inputType = 'checkbox';
            break;
        }
        default: {
            $inputType = 'text';
        }
    }
}

$options = null;

if($inputType == 'select') {
    $options = getArrayKey($variables, OrmcoExtension::assets_field_param_options);
    if(!$options) {
        $options = getArrayKey($field, 'options');
        
        if(!$options) {
            return;
        }
    }
}

$value = getArrayKey($variables, OrmcoExtension::assets_field_param_value);
if(!$value) {
    $value = getArrayKey($field, 'value');
}

$fieldName = getArrayKey($field, 'name');
$inputName = getArrayKey($field, 'input_name');

$inputId = getArrayKey($variables, OrmcoExtension::assets_field_param_input_id);
if(!$inputId) {
    $inputId = $fieldName;
}
?>
<div class="input-field">
    <?php if($inputType == 'select'):
        $optionsData = getArrayKey($variables, OrmcoExtension::assets_field_param_options_data);
        if(!is_array($optionsData)) {
            $optionsData = array();
        }?>
        <select class="select_default" name="<?php echo $inputName;?>" id="<?php echo $inputId;?>" data-placeholder="<?php echo $title;?>"<?php echo $this->prepareHtmlAttributes($attributes);?>>
            <option></option>
            <?php foreach($options as $option):
                $optionId = $option['id'];?>
                <option value="<?php echo $optionId;?>"<?php if(isset($optionsData[$optionId])):?> data-option="<?php echo $optionsData[$optionId];?>"<?php endif;?>><?php echo $option['name'];?></option>
            <?php endforeach;?>
        </select>
    <?php elseif($inputType == 'checkbox'):?>
        <label class="check-field" for="<?php echo $inputId;?>">
            <input type="checkbox" name="<?php echo $inputName;?>" id="<?php echo $inputId;?>" value="1"<?php echo $this->prepareHtmlAttributes($attributes);?> />
            <?php echo $title;?>
        </label>
    <?php elseif($inputType == 'textarea'):
        if(!isset($attributes['class'])) {
            $attributes['class'] = 'input';
        }?>
        <div class="input-float input-float-text">
            <label><?php echo $title;?></label>
            <textarea class="input" name="<?php echo $inputName;?>" id="<?php echo $inputId;?>"<?php echo $this->prepareHtmlAttributes($attributes);?>><?php echo $value;?></textarea>
        </div>
    <?php else:
        if(!isset($attributes['class'])) {
            $attributes['class'] = 'input';
        }?>
        <div class="input-float">
            <label for="<?php echo $inputId;?>"><?php echo $title;?></label>

            <input type="<?php echo $inputType;?>" id="<?php echo $inputId;?>" name="<?php echo $inputName;?>" value="<?php echo $value;?>" <?php echo $this->prepareHtmlAttributes($attributes);?>/>
        </div>
    <?php endif;?>
</div>