/* ------------------- clear ----------------- */
html, body, div, span, applet, object, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, 
del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, 
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, input, textarea {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: top;
	background: transparent;
	outline: none;
	-webkit-appearance: none;
}
b {
	font-weight: bold;
}
i {
	font-style: italic;
}
blockquote, q {
	quotes: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a, span {
	vertical-align: baseline;
}
img {
	max-width: 100%;
	vertical-align: top;
	text-decoration: none;
}
strong {
	font-weight: 900;
}
div {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
/* -------------------- general styles ------------------- */
html, body {
	width: 100%;
	height: 100%;
}
html {
	font-size: 100%;
}
body {
	height: auto;
	min-height: 100%;
	font-family: 'PT Sans', sans-serif;
	font-size: 16px;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	line-height: 1.5rem;
	font-style: normal;
	color: #FFFFFF;
}
/*  SECTIONS  */
.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}
/*  COLUMN SETUP  */
.col {
	display: block;
	float: left;
	/* margin: 1% 0 1% 1.6%; */
	margin: 0 0 0 1.6%;
}
.col:first-child {
	margin-left: 0;
}
/*  GROUPING  */
.group:before, .group:after {
	content: "";
	display: table;
}
.group:after {
	clear: both;
}
/*  GRID OF TWO */
.span_1_of_2 {
	width: 100%;
}
.span_1_of_2 {
	width: 49.2%;
}
/*  GRID OF THREE  */
.span_3_of_3 {
	width: 100%;
}
.span_2_of_3 {
	width: 66.1%;
}
.span_1_of_3 {
	width: 32.2%;
}
/*  GRID OF FOUR */
.span_4_of_4 {
	width: 100%; 
}
.span_3_of_4 {
	width: 74.6%; 
}
.span_2_of_4 {
	width: 49.2%; 
}
.span_1_of_4 {
	width: 23.8%; 
}
/*  GRID OF FIVE */
.span_5_of_5 {
	width: 100%;
}
.span_4_of_5 {
  	width: 79.68%; 
}
.span_3_of_5 {
  	width: 59.36%; 
}
.span_2_of_5 {
  	width: 39.04%;
}
.span_1_of_5 {
  	width: 18.72%;
}
/*  GRID OF SIX */
.span_6_of_6 {
	width: 100%;
}
.span_5_of_6 {
  	width: 83.06%;
}
.span_4_of_6 {
  	width: 66.13%;
}
.span_3_of_6 {
  	width: 49.2%;
}
.span_2_of_6 {
  	width: 32.26%;
}
.span_1_of_6 {
  	width: 15.33%;
}
.hidden {
	display: none;
}
/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */
@media only screen and (max-width: 480px) {
	.col { 
		margin: 1% 0 1% 0%;
	}
}
@media only screen and (max-width: 480px) {
	.span_3_of_3 {
		width: 100%; 
	}
	.span_2_of_3 {
		width: 100%; 
	}
	.span_1_of_3 {
		width: 100%;
	}
	.span_5_of_5 {
		width: 100%; 
	}
	.span_4_of_5 {
		width: 100%; 
	}
	.span_3_of_5 {
		width: 100%; 
	}
	.span_2_of_5 {
		width: 100%; 
	}
	.span_1_of_5 {
		width: 100%; 
	}
	.span_6_of_6 {
		width: 100%; 
	}
	.span_5_of_6 {
		width: 100%; 
	}
	.span_4_of_6 {
		width: 100%; 
	}
	.span_3_of_6 {
		width: 100%; 
	}
	.span_2_of_6 {
		width: 100%; 
	}
	.span_1_of_6 {
		width: 100%; 
	}
}
/* MOSCOW ORMCO */
h1 {
	font-weight: 700;
	font-size: 65px;
	font-size: 4.06rem;
	line-height: 0.7;
	letter-spacing: 0.7px;
	color: #00467f;
	margin-bottom: 22px;
}
h2 {
	font-weight: 700;
	font-size: 32px;
	font-size: 2rem;
	line-height: 1.1;
	letter-spacing: 0.5px;
	color: #00467f;
	margin-bottom: 38px;
}
h3 {
	font-weight: 400;
	font-size: 24px;
	font-size: 1.5rem;
	line-height: 1.0;
	letter-spacing: 0.5px;
	color: #009bdf;
	margin-bottom: 17px;
}
h4 {
	font-weight: 700;
	line-height: 1.4;
	letter-spacing: 0.5px;
	color: #00467f;
	margin-bottom: 10px;
}
.main {
	padding: 160px 60px 90px 105px;
	background-color: #3b5069;
	background-image: url("images/back1.jpg");
	background-position: top center;
	background-size: cover;
}
.header {
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	height: 131px;
	background: url('images/line2.png') repeat-x;
	text-align: left;
	pointer-events: none;
	z-index: 5;
}
.header img {
	width: auto;
	max-width: 99999px;
}
.menu {
	position: absolute;
	display: table;
	height: 40px;
	top: 10px;
	right: 250px;
	pointer-events: auto;
}
.menu ul {
	display: table-row;
	height: 40px;
}
.menu ul li {
	display: table-cell;
	list-style-type: none;
	height: 40px;
}
.menu ul li a {
	font-size: 18px;
	font-weight: 700;
	height: 40px;
	display: inline-block;
	line-height: 1.4;
	color: #ffffff;
	text-decoration: none;
	padding: 8px 24px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
.menu ul li a:hover {
	color: #66CCFF;
}
.menu ul li.ch {
	color: #66CCFF;
}
.phone {
	position: absolute;
	font-size: 22px;
	font-weight: 700;
	line-height: 1.4;
	letter-spacing: 0.5px;
	height: 40px;
	top: 13px;
	right: 30px;
	width: 190px;
}
.action_left {
	float: left;
	width: calc(100% - 370px);
}
.action_left .txt {
	color: #00467f;
	width: 540px;
}
.action_left .att {
	color: #00467f;
	width: 532px;
	border-radius: 6px;
	border: solid 3px #0099ce;
	margin-top: 46px;
	padding: 25px 65px 32px 79px;
	background-color: rgba(255, 255, 255, 0.4);
}
.action_right {
	float: left;
	width: 370px;
	border-radius: 5px;
	background-color: rgba(255, 255, 255, 0.7);
	padding: 15px;
	color: #4d4d4d;
}
.action_right h2 {
	color: #006dad;
	margin-bottom: 22px;
}
.action_right_ {
	padding: 15px 32px;
}
.action_right_ ul li  {
	list-style: none;
	line-height: 30px;
}
.action_right_ ul li::before {
    content: "\2714 ";
	margin-right: 8px;
	font-size: 26px;
	vertical-align: top;
    color: #33aa33;
}
.to_order {
	display: table;
	width: 100%;
	height: 70px;
	border-radius: 3px;
	margin-top: 15px;
	background-color: #009bdf;
	color: #FFFFFF;
	padding: 0 27px 0 35px;
}
.to_order_left {
	display: table-cell;
	width: 33%;
	vertical-align: middle;
	font-size: 17px;
	line-height: 1.3;
}
.to_order_right {
	display: table-cell;
	font-weight: 700;
	width: 67%;
	text-align: right;
	vertical-align: middle;
	font-size: 20px;
	letter-spacing: 0.5px;
	color: #ffffff;
}
.to_order2 {
	width: 100%;
	height: 44px;
	border-radius: 3px;
	margin-top: 15px;
	background-color: #33aa33;
	color: #FFFFFF;
	text-align: center;
	padding-top: 10px;
	cursor: pointer;
}
#products {
	background-color: #e9f6fa;
	padding: 78px 0;
	text-align: center;
}
#products h2 {
	color: #006dad;
	margin-bottom: 56px;
}
.products {
	text-align: left;
	padding: 0 10px;
}
.product {
	position: relative;
	float: left;
	width: 31.73%;
	margin: 0 0.8% 40px 0.8%;
	height: 480px;
	border-radius: 4px;
	background-color: #ffffff;
	box-shadow: 0 6px 15px 0 rgba(10, 30, 51, 0.08);
	padding: 10px;
	color: #003e60;
	cursor: pointer;
}
.product.active {
	border: solid 3px #FF9999;
}
.price {
	position: absolute;
	bottom: 25px;
	left: 27px;
	font-size: 24px;
	font-size: 1.5rem;
	line-height: 1.0;
	letter-spacing: 0.5px;
	color: #009bdf;
}
.prodimg {
	background-color: rgba(215, 215, 215, 0.2);
	box-shadow: inset 0 0 40px 0 rgba(0, 0, 0, 0.08);
	width: 100%;
	height: 330px;
	display: table;
	margin-bottom: 20px;
}
.prodimg_ {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}
.prodimg_ img {
	max-width: 90%;
	max-height: 290px;
	margin: 20px 0;
}
.prodtxt {
	color: #003e60;
	padding: 0 18px;
}
.product img {
    -webkit-transition: all 0.5s ease; /* Safari and Chrome */
    -moz-transition: all 0.5s ease; /* Firefox */
    -ms-transition: all 0.5s ease; /* IE 9 */
    -o-transition: all 0.5s ease; /* Opera */
    transition: all 0.5s ease;
	-webkit-backface-visibility: hidden;
	-webkit-transform-style: preserve-3d; 
}
.product button {
	position: absolute;
	bottom: 20px;
	right: 23px;
	width: 135px;
	height: 40px;
	border-radius: 5px;
	border: none;
	background-color: #33aa33;
	line-height: 1.3;
	color: #ffffff;
	cursor: pointer;
	outline: none;
	-webkit-transition: background-color 0.3s;
	transition: background-color 0.3s;
}
.product:hover button {
	background-color: #009bdf;
}
.product:hover img {
	-webkit-transform: scale(1.1); /* Safari and Chrome */
    -moz-transform: scale(1.1); /* Firefox */
    -ms-transform: scale(1.1); /* IE 9 */
    -o-transform: scale(1.1); /* Opera */
     transform: scale(1.1);
}
.contacts {
	padding: 20px;
}
.contacts h2 {
	color: #006dad;
}
.contacts_left {
	float: left;
	width: 50%;
	padding: 34px 85px;
	color: #003e60;
}
.contacts_left h4 {
	color: #006dad;
	margin-top: 35px;
	margin-bottom: 10px;
}
.contacts_right {
	float: left;
	width: 50%;
	border-radius: 5px;
	background-color: #009bdf;
}
.map_canvas {
	height: 300px;
	margin-top: 40px;
}
.formagree {
	float: left;
	width: 60%;
}
.lnk {
	cursor: pointer;
	color: #CCCCCC;
	text-decoration: none;
	border-bottom: dotted 1px #CCCCCC;
}
.formbox {
	padding: 34px 70px;
}
.formbox h2 {
	color: #FFFFFF;
}
.formbox .ttl {
	float: left;
	width: 28%;
	height: 70px;
	font-size: 14px;
	padding-top: 6px;
}
.formbox .fld {
	float: left;
	width: 72%;
	height: 70px;
	text-align: left;
}
.formbox .high {
	height: 110px;
}
.formbox select {
	width: 100%;
	height: 44px;
	background-color: #FFFFFF;
	border-radius: 5px;
	padding: 0 15px;
	color: #656565;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: 300;
	line-height: 22px;
	line-height: 1.375rem;
}
.formbox textarea {
	width: 100%;
	height: 80px;
	background-color: #FFFFFF;
	border-radius: 5px;
	padding: 5px 10px;
	color: #656565;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: 300;
	line-height: 22px;
	line-height: 1.375rem;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
.formbox select option {
	color: #656565;
}
.formbox input[type=text] {
	width: 91.5%;
	height: 32px;
	background-color: #FFFFFF;
	border-radius: 4px;
	padding: 4px 15px;
	color: #656565;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: 300;
	line-height: 22px;
	line-height: 1.375rem;
}
.formbox .fld input.short {
	width: 150px;
}
.formbox .fld select.short {
	width: 181px;
}
.formbox .ttlc {
	float: left;
	width: 34%;
	height: 120px;
	line-height: 26px;
}
.formbox .fldc {
	float: left;
	width: 66%;
	height: 120px;
	text-align: right;
}
.captcha {
	float: left;
	width: 43%;
}
.code {
	float: left;
	width: 57%;
}
.code input {
	width: auto!important;
}
.formbox input[type=submit] {
	width: 190px;
	height: 45px;
	float: right;
	border-radius: 3px;
	background-color: #33aa33;
	-webkit-transition: background-color 0.3s;
	transition: background-color 0.3s;
	font-size: 16px;
	line-height: 1.4;
	color: #ffffff;
	outline: none;
	cursor: pointer;
}
.formbox input[type=submit]:hover {
	background-color: #fcac21;
}
#pol {
	display: none;
	position: fixed;
	top: 20%;
	left: 50%;
    -ms-transform: translate(-50%, 0);
   	-webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
	width: 90%;
	max-width: 1000px;
	height: 70%;
	background: #FFFFFF;
	border: solid 1px #666666;
	border-radius: 20px;
	padding: 50px 20px 20px 20px;
	z-index: 201;
}
#inpol {
	height: 100%;
	overflow-y: auto;
	color: #2b608d;
	padding: 20px;
}
#inpol h2 {
	color: #2b608d;
}
#inpol h4 {
	color: #006dad;
	margin-top: 10px;
}
.close {
	position: absolute;
	top: 16px;
	right: 16px;
	width: 27px;
	height: 27px;
	padding: 6px;
	cursor: pointer;
}
.red {
	font-weight: 700;
	color: #FF0000;
}
.footer {
	display: table;
	width: 100%;
	height: 182px;
	background-color: #004a80;
	padding: 0 80px;
}
.footer a {
	font-size: 14px;
	line-height: 2.0;
	color: #FFFFFF;
	text-decoration: none;
}
.footer_left {
	display: table-cell;
	height: 182px;
	vertical-align: middle;
}
.w1 {
	width: 14.2%;
}
.w2 {
	width: 28.4%;
}
.w3 {
	width: 43.2%;
}
.footer_left a {
	line-height: 2.0;
}
.footer_left a:hover {
	color: #CCCCCC;
}
@media only screen and (min-width: 1600px) {
	body {
		font-size: 18px;
	}
	.menu ul li a {
		font-weight: 700;
	}
}
@media only screen and (max-width: 1140px) {
	body {
		font-size: 15px;
	}
	h1 {
		font-size: 48px;
	}
	.action_left .txt {
		width: 90%;
	}
	.action_left .att {
		width: 90%;
	}
}
@media only screen and (max-width: 960px) {
	body {
		font-size: 14px;
	}
	.w1 {
		width: 14.2%;
	}
	.w2 {
		width: 38.4%;
	}
	.w3 {
		width: 23.2%;
	}
}
@media only screen and (max-width: 800px) {
	body {
		font-size: 16px;
	}
	.main {
		padding: 140px 20px 40px 20px;
	}
	.menu {
		display: none;
	}
	.action_left {
		width: 100%;
	}
	.action_right {
		width: 100%;
		margin-top: 40px;
	}
	.product {
		width: 100%;
	}
	.contacts_left {
		width: 100%;
		padding: 20px;
	}
	.formbox {
		padding: 20px;
	}
	.contacts_right {
		width: 100%;
	}
	.footer_left {
		display: block;
		padding: 20px;
		height: auto;
	}
	.w1 {
		width: 100%;
	}
	.w2 {
		width: 100%;
	}
	.w3 {
		width: 100%;
	}
}
