<?php
/** @var umiTemplaterPHP|BaseExtension|PageExtension|OrmcoExtension $this */
/** @var array $variables */

$catalogPageLink = $this->getCommonVar(OrmcoExtension::pages_catalog_link);
if(!$catalogPageLink) {
    return;
}

try {
    $result = $this->macros(
        'catalog',
        'getCatalogIndexCategories',
        array(
            'pageId' => $this->getPageId()
        )
    );
} catch (Exception $e) {
    $result = false;
}

if(!is_array($result) || !isset($result['items'])) {
    return;
}
?>
<div class="pagehead">
    <div class="pagehead_title">Популярные категории</div>
    <a href="<?php echo $catalogPageLink;?>" class="pagehead_all">Все категории</a>
</div><!-- /pagehead -->

<div class="row popular_row">
    <?php foreach($result['items'] as $item):
        $name = $item['name'];
        if(isset($item['image'])) {
            $image = $item['image'];
        } else {
            $image = OrmcoExtension::no_image;
        }?>
        <div class="grid20 tb4 sm12">
            <a href="<?php echo $item['link'];?>" class="popular_cat"<?php echo $this->renderDataGtmEventButtonClicks($name);?>>
                <span class="popular_cat_img"><img src="<?php echo $image;?>" alt="<?php echo htmlspecialchars($name);?>" /></span>
                <span class="popular_cat_name"><?php echo $name;?></span>
            </a>
        </div>
    <?php endforeach;?>
</div><!-- /row -->