<?php
/** @var umiTemplaterPHP|BaseExtension|PageExtension|OrmcoExtension $this */
/** @var array $variables */
try {
    $result = $this->macros(
        'news',
        'lastlist',
        array(
            'path' => OrmcoHelper::news_page_id,
            'template' => '',
            'per_page' => 6,
            'ignore_paging' => true
        ),
        array(
            SiteNewsItemModel::field_anons_pic
        )
    );
} catch (Exception $e) {
    $result = false;
}

if(!is_array($result) || !isset($result['items'])) {
    return;
}
?>
<div class="pagehead">
    <div class="pagehead_title">Новости</div>
    <a href="<?php echo $result['archive_link'];?>" class="pagehead_all">Все новости</a>
</div><!-- /pagehead -->
<div id="news_slider">
    <div class="swiper">
        <div class="swiper-wrapper">
            <?php foreach($result['items'] as $item):
                $link = $item['link'];
                $anonsPic = $this->getExtendedProperty($item, SiteNewsItemModel::field_anons_pic);
                if($anonsPic instanceof umiImageFile && !$anonsPic->getIsBroken()) {
                    $image = $anonsPic->getFilePath(true);
                } else {
                    $image = OrmcoExtension::no_image;
                }?>
                <div class="swiper-slide">
                    <div class="newsbox">
                        <a href="<?php echo $link;?>" class="newsbox_img" style="background-image: url('<?php echo $this->makeThumbnailFull($image, 387, 170);?>');"></a>
                        <div class="newsbox_title"><a href="<?php echo $link;?>"><?php echo $item['name'];?></a></div>
                        <?php if(isset($item['publish_time'])):?>
                            <div class="newsbox_date"><?php echo $this->getI18nDate($item['publish_time']);?></div>
                        <?php endif;?>
                    </div>
                </div><!-- /slide -->
            <?php endforeach;?>
        </div>
    </div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
    <div class="swiper-pagination block"></div>
</div><!-- #news_slider -->
