<?php
/** @var umiTemplaterPHP|BaseExtension|PageExtension|OrmcoExtension $this */
/** @var array $variables */

try {
    $result = $this->macros(
        'catalog',
        'getCatalogIndexProducts',
        array(
            'pageId' => $this->getPageId()
        )
    );
} catch (Exception $e) {
    $result = false;
}

if(!is_array($result) || !isset($result['items'])) {
    return;
}
?>
<div class="pagehead">
    <div class="pagehead_title">Популярные товары</div>
</div><!-- /pagehead -->
<div class="popupar_products">
    <div class="swiper">
        <div class="swiper-wrapper">
            <?php foreach($result['items'] as $i => $item):
                $id = $item['id'];
                $link = $item['link'];
                $name = $item['name'];
                
                if(isset($item['photo'])) {
                    $photo = $item['photo'];
                } else {
                    $photo = OrmcoExtension::no_image;
                }
                
                try {
                    $price = $this->macros(
                        'emarket',
                        'price',
                        array(
                            'elementId' => $id,
                            'template' => '',
                            'showAllCurrency' => false
                        )
                    );
                } catch (Exception $e) {
                    $price = false;
                }
                
                $actualPrice = getArrayKey($price, 'price-actual');
                
                try {
                    $ecommerceImpression = $this->macros(
                        'exchange',
                        'addExchangeEcommerceImpression',
                        array(
                            'pageId' => $id,
                            'price' => $actualPrice,
                            'list' => 'Популярные товары',
                            'position' => ($i + 1),
                            'returnParams' => true
                        )
                    );
                } catch (Exception $e) {
                    $ecommerceImpression = false;
                }
                ?>
                <div class="swiper-slide">
                    <div class="product">
                        <div class="product_top">
                            <div class="product_img">
                                <a href="<?php echo $link;?>"<?php echo $this->renderDataGtmEventEcommerceClick($id, 'Популярные товары', getArrayKey($ecommerceImpression, 'params'));?>><img src="<?php echo $this->makeThumbnailFull($photo, 190);?>" alt="<?php echo htmlspecialchars($name);?>" /></a>
                            </div>
                            <?php if(isset($item['article'])):?>
                                <div class="product_art">Артикул: <?php echo $item['article'];?></div>
                            <?php endif;?>
                            <div class="product_title"><a href="<?php echo $link;?>"><?php echo $name;?></a></div>
                        </div>
                        <div class="product_foot">
                            <?php if($actualPrice):?>
                                <div class="product_price"><?php echo $this->formatPrice($actualPrice);?> ₽</div>
                                <a href="/emarket/basket/put/element/<?php echo $id;?>/" class="btn btn-light">Купить</a>
                            <?php endif;?>
                        </div>
                    </div><!-- /product -->
                </div>
            <?php endforeach;?>
        </div>
    </div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
    <div class="swiper-pagination block"></div>
</div><!-- /popupar_products -->