<?php
/** @var umiTemplaterPHP|BaseExtension|PageExtension|OrmcoExtension $this */
/** @var array $variables */

try {
    $result = $this->macros(
        'slider',
        'getSliderItems',
        array(
            'path' => 12929
        )
    );
} catch (Exception $e) {
    $result = false;
}

if(!is_array($result) || !isset($result['items'])) {
    return;
}
?>
<div class="topslider">
    <div class="swiper">
        <div class="swiper-wrapper">
            <?php foreach($result['items'] as $i => $item):
                try {
                    $exchangePromoView = $this->macros(
                        'exchange',
                        'addExchangeEcommercePromoView',
                        array(
                            'id' => 'slider_' . $item['id'],
                            'name' => $item['name'],
                            'creative' => 'slider_' . ($i + 1),
                            'position' => 'slider_' . ($i + 1),
                            'returnParams' => true
                        )
                    );
                } catch (Exception $e) {
                    $exchangePromoView = false;
                }
                ?>
                <div class="swiper-slide">
                    <div class="row">
                        <div class="grid6 sm12 topslider_entry">
                            <div class="topslider_entry_top">
                                <?php if($item['title']):?>
                                    <div class="topslider_title"><?php echo $item['title'];?></div>
                                <?php endif;?>
                                <?php if(trim(strip_tags($item['text']))):?>
                                    <div class="topslider_text"><?php echo $item['text'];?></div>
                                <?php endif;?>
                            </div>
                            <?php if($item['buttonText']):?>
                                <span class="btn btn-xl btn-white"><?php echo $item['buttonText'];?></span>
                            <?php endif;?>
                        </div>
                        <div class="grid6 sm12 topslider_img">
                            <img src="<?php echo $item['image']->getFilePath(true);?>" alt="<?php echo htmlspecialchars($item['image']->getAlt());?>" />
                        </div>
                    </div>
                    <?php if($item['link']):?>
                        <a href="<?php echo $item['link'];?>" class="topslider_link"<?php echo $this->renderDataGtmEventEcommercePromoClick(getArrayKey($exchangePromoView, 'params'));?>></a>
                    <?php endif;?>
                </div><!-- /slide -->
            <?php endforeach;?>
        </div>
    </div>

    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
    <div class="swiper-pagination"></div>
</div><!-- /topslider -->
