<?php
/** @var umiTemplaterPHP|BaseExtension|UserExtension|OrmcoExtension $this */
/** @var array $variables */
try {
    $result = $this->macros(
        'ormcoUniSender',
        'getUniSenderSubscribeForm'
    );
} catch (Exception $e) {
    $result = false;
}

if(!getArrayKey($result, 'can-subscribe')) {
    return;
}

$successTitle = 'Поздравляем';
$successText = 'Теперь вы будете получать новые статьи и исследования, а также узнаете о ближайших мероприятиях.';

$title = 'Рассылка для ортодонтов';
$text = 'Подпишитесь и читайте новые статьи и исследования, а также узнавайте о ближайших мероприятиях.';

$error = '';

if(isset($result['success'])) {
    $title = $successTitle;
    $text = $successText;
} elseif(isset($result['error'])) {
    $error = $result['error'];
}

$email = trim(getArrayKey($result, 'email'));

if(!$email && $this->getUserIsAuth()) {
    $email = $this->getUserValue(SiteUsersUserModel::field_email);
}

$this->addScriptFile($this->getTemplateResources() . '/assets/js/site/subscribe.js' . $this->getTemplateVersion());
?>
<div class="subscribe">
    <div class="container">
        <div class="row vcenter">
            <div class="grid6 tb12">
                <div class="subscribe_text" id="subscribe_result">
                    <div class="subscribe_title"><?php echo $title;?></div>
                    <p><?php echo $text;?></p>
                </div>
            </div>
            <div class="grid6 tb12">
                <?php if(!isset($result['success'])):?>
                    <form action="/ormcoUniSender/uniSenderSubscribe/" method="POST" id="subscribe_form" data-success="<?php echo htmlspecialchars(json_encode(array('title' => $successTitle, 'text' => $successText), ENT_QUOTES));?>">
                        <div class="row">
                            <div class="grid8 sm12">
                                <div class="input-field">
                                    <div class="input-float<?php if($error):?> notvalid<?php endif;?>">
                                        <label for="subscribe_email">Введите e-mail</label>
                                        <input type="email" id="subscribe_email" name="email" value="<?php echo $email;?>" class="input<?php if($error):?> input-not-valid<?php endif;?>" required="required">
                                    </div>
                                    <div class="tooltip"<?php if(!$error):?> style="display: none;"<?php endif;?>><?php echo $error;?></div>
                                </div>
                            </div>
                            <div class="grid4 sm12">
                                <input type="submit" class="btn btn-xl btn-white" value="Подписаться" />
                            </div>
                        </div>
                        <?php if($policyLink = $this->getCommonVar(OrmcoExtension::pages_policy_link)):?>
                            <div class="input-text">Нажимая «Подписаться», вы соглашаетесь с <a href="<?php echo $policyLink;?>" target="_blank">политикой конфиденциальности</a></div>
                        <?php endif;?>
                    </form>
                <?php endif;?>
            </div>
        </div>
    </div>
</div><!-- /subscribe -->
