<?php
/** @var umiTemplaterPHP|BaseExtension|UserExtension $this */
/** @var array $variables */
?>
<div class="panel_title">Обратная связь</div>
<div class="iconbtn-wrap">
    <?php if($phone = $this->getCommonVar(OrmcoExtension::contacts_spb_phone)):?>
        <a href="<?php echo $this->preparePhoneLink($phone);?>" class="iconbtn-item">
            <span class="iconbtn iconbtn-phone"></span>
            <span class="iconbtn-text">Позвонить</span>
        </a>
    <?php endif;?>
    <?php if($email = $this->getCommonVar(OrmcoExtension::contacts_email)):?>
        <a href="mailto:<?php echo $email;?>" class="iconbtn-item">
            <span class="iconbtn iconbtn-env"></span>
            <span class="iconbtn-text">Почта</span>
        </a>
    <?php endif;?>
    <?php /*ToDo*/
    /*
    <a href="#" class="iconbtn-item">
        <span class="iconbtn iconbtn-chat"></span>
        <span class="iconbtn-text">Онлайн-чат</span>
    </a>*/?>
</div><!-- /iconbtn-wrap -->
