<?php
/** @var umiTemplaterPHP|BaseExtension|UserExtension $this */
/** @var array $variables */
try {
    $result = $this->macros(
        'menu',
        'draw',
        array(
            'menuId' => 'redesign_panel'
        )
    );
} catch (Exception $e) {
    $result = false;
}

if(!is_array($result) || !isset($result['item'])) {
    return;
}
?>
<ul class="panel_nav">
    <?php foreach($result['item'] as $item):
        if(!$this->isMenuItemActive(getArrayKey($item, 'rel'), getArrayKey($item, 'is-active'))) {
            continue;
        }

        switch(getArrayKey($item, 'id')) {
            case OrmcoHelper::discount_page_id: {
                $class = 'color-orange';
                break;
            }
            default: {
                $class = false;
            }
        }
        
        $subItems = getArrayKey(getArrayKey($item, 'items'), 'item');
        if($subItems):?>
            <li class="parent">
                <a href="<?php echo $item['link'];?>" class="js_panel_child <?php echo $class;?>"<?php if(strpos($item['link'], '://') !== false):?> target="_blank"<?php endif;?>><?php echo $item['text'];?></a>
                <div class="parent_child">
                    <a href="<?php echo $item['link'];?>" class="js_panel_child_back"><?php echo $item['text'];?></a>
                    <ul>
                        <?php foreach($subItems as $subItem):
                            if(!$this->isMenuItemActive(getArrayKey($subItem, 'rel'), getArrayKey($subItem, 'is-active'))) {
                                continue;
                            }?>
                            <li><a href="<?php echo $subItem['link'];?>"<?php if(strpos($subItem['link'], '://') !== false):?> target="_blank"<?php endif;?>><?php echo $subItem['text'];?></a></li>
                        <?php endforeach;?>
                    </ul>
                </div>
            </li>
        <?php else:?>
            <li><a href="<?php echo $item['link'];?>"<?php if($class):?> class="<?php echo $class;?>"<?php endif;?>><?php echo $item['text'];?></a></li>
        <?php endif;?>
    <?php endforeach;?>
</ul>