<?php
/** @var umiTemplaterPHP|BaseExtension|UserExtension $this */
/** @var array $variables */

$params = array(
//    'inst' => array(
//        'var' => OrmcoExtension::social_ig,
//        'title' => 'Instagram'
//    ),
    'vk' => array(
        'var' => OrmcoExtension::social_vk,
        'title' => 'ВКонтакте'
    ),
//    'fb' => array(
//        'var' => OrmcoExtension::social_fb,
//        'title' => 'Facebook'
//    ),
    'yt' => array(
        'var' => OrmcoExtension::social_yt,
        'title' => 'YouTube'
    ),
    'tg' => array(
        'var' => OrmcoExtension::social_tg,
        'title' => 'Telegram'
    ),
);

$data = array();
foreach($params as $class => $item) {
    if($link = $this->getCommonVar($item['var'])) {
        $data[] = array(
            'class' => $class,
            'link' => $link,
            'title' => $item['title']
        );
    }
}

if(!count($data)) {
    return;
}
?>
<div class="panel_title">Мы в социальных сетях</div>
<div class="iconbtn-wrap">
    <?php foreach($data as $item):?>
        <a href="<?php echo $item['link'];?>" class="iconbtn-item" target="_blank">
            <span class="iconbtn iconbtn-<?php echo $item['class'];?>"></span>
            <span class="iconbtn-text"><?php echo $item['title'];?></span>
        </a>
    <?php endforeach;?>
</div><!-- /iconbtn-wrap -->