body {
	background-image: linear-gradient(transparent 70%, #082d42 100%), radial-gradient(circle farthest-side, #0077c5 0px, #045684 70%, #082d42 100%);
	height: 100%;
	overflow: hidden;
	width: 100%;
}

.bubbles {
	background: rgba(0, 0, 0, 0) url("/styles/skins/modern/design/img/auth-bubbles-back.png") no-repeat scroll center center;
	height: 100%;
	opacity: 1;
	position: absolute;
	top: 0;
	transition: opacity 0.2s linear 0s;
	width: 100%;
}

.bubbles-front {
	background: rgba(0, 0, 0, 0) url("/styles/skins/modern/design/img/auth-bubbles-front.png") no-repeat scroll center center;
	height: 100%;
	opacity: 1;
	position: absolute;
	top: 0;
	transition: opacity 0.2s linear 0s;
	width: 100%;
}

#auth {
	position: absolute;
	width: 410px;
	min-width: 410px;
	top: 50%;
	left: 50%;
	margin: -300px 0 0 -207px;

	box-sizing: border-box;
	opacity: 0.85;

}

#auth img {
	position: relative;
	margin: 0 0 20px 50px;
}

.title {
	padding: 5px 10px 8px 15px;
	background: #00a0dc none repeat scroll 0 0;
	color: #ffffff;
	border-radius: 10px 10px 0 0;
	font-weight: bold;
}

.cont {
	padding: 1px 10px 10px 10px;
	background: #ffffff;
	border: 1px solid #d0dce6;
	box-shadow: 0 0 10px 1px #097aaa;
	border-radius: 5px;
}

div.last {
	min-height: 40px;
}

#forgetLabel {
	cursor: pointer;
}

#forget label {
	display: block;
	padding: 5px;
}

#forget label span {
	padding-left: 5px;
}
