<?php
/** @var umiTemplaterPHP|BaseExtension|OrmcoExtension $this */
/** @var array $variables */
try {
    $result = $this->macros(
        'menu',
        'draw',
        array(
            'menuId' => 'redesign_footer'
        )
    );
} catch (Exception $e) {
    $result = false;
}

if(!is_array($result) || !isset($result['item'])) {
    return;
}
?>
<ul class="footer_nav">
    <?php foreach($result['item'] as $item):
        if(!$this->isMenuItemActive(getArrayKey($item, 'rel'), getArrayKey($item, 'is-active'))) {
            continue;
        }?>
        <li><a href="<?php echo $item['link'];?>"><?php echo $item['text'];?></a></li>
    <?php endforeach;?>
</ul>