<?php
/** @var umiTemplaterPHP|BaseExtension|OrmcoExtension $this */
/** @var array $variables */

$catalogPageLink = $this->getCommonVar(OrmcoExtension::pages_catalog_link);
if(!$catalogPageLink) {
    return;
}

try {
    $result = $this->macros(
        'catalog',
        'getCategoryTree'
    );
} catch (Exception $e) {
    $result = false;
}

if(!is_array($result) || !isset($result['items'])) {
    return;
}

$templateFilePath = $this->getTemplateFilePath(__FILE__);

$level1Html = '';
$level2Html = '';
$level3Html = '';

foreach($result['items'] as $level1Item) {
    $level1ItemId = $level1Item['id'];
    $level2Items = getArrayKey($level1Item, 'items');
    
    $level1Html .= $this->render(array(
        'id' => $level1ItemId,
        'link' => $level1Item['link'],
        'name' => $level1Item['name'],
        'has-items' => (bool)$level2Items
    ), $templateFilePath . '/level_1');
    
    if($level2Items) {
        $level2Html .= $this->render(array(
            'parent-id' => $level1ItemId,
            'items' => $level2Items
        ), $templateFilePath . '/level_2');
        
        foreach($level2Items as $level2Item) {
            if(!isset($level2Item['items'])) {
                continue;
            }
            
            $level3Html .= $this->render(array(
                'parent-id' => $level2Item['id'],
                'items' => $level2Item['items']
            ), $templateFilePath . '/level_3');
        }
    }
}
?>
<div class="header_middle_item header_middle_item_cat">
    <a href="<?php echo $catalogPageLink;?>" class="btn btn-cat js_catpopup"><span>Каталог</span></a>
    <div class="catpopup">
        <div class="row">
            <div class="grid4">
                <div class="swiper scrollbox">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <ul class="parent1">
                                <?php echo $level1Html;?>
                            </ul>
                        </div>
                    </div>
                    <div class="swiper-scrollbar"></div>
                </div>
            </div><!-- /grid4 -->

            <div class="grid4 parent2">
                <div class="swiper scrollbox">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <?php echo $level2Html;?>
                        </div>
                    </div>
                    <div class="swiper-scrollbar"></div>
                </div>
            </div><!-- /grid4 -->

            <div class="grid4">
                <div class="swiper scrollbox">
                    <div class="swiper-wrapper">
                        <?php echo $level3Html;?>
                    </div>
                    <div class="swiper-scrollbar"></div>
                </div>
            </div><!-- /grid4 -->
        </div>
    </div><!-- /catpopup -->
</div>