<?php
/** @var umiTemplaterPHP|BaseExtension|OrmcoExtension $this */
/** @var array $variables */
try {
    $result = $this->macros(
        'menu',
        'draw',
        array(
            'menuId' => 'redesign_header'
        )
    );
} catch (Exception $e) {
    $result = false;
}

if(!is_array($result) || !isset($result['item'])) {
    return;
}
?>
<ul class="header_nav">
    <?php foreach($result['item'] as $item):
        if(!$this->isMenuItemActive(getArrayKey($item, 'rel'), getArrayKey($item, 'is-active'))) {
            continue;
        }
        
        switch(getArrayKey($item, 'id')) {
            case OrmcoHelper::discount_page_id: {
                $class = 'header_nav-actions';
                break;
            }
            case OrmcoHelper::configurator_page_id: {
                $class = 'header_nav-teeth';
                break;
            }
            default: {
                $class = false;
            }
        }?>
        <li><a href="<?php echo $item['link'];?>"<?php if($class):?> class="<?php echo $class;?>"<?php endif;?>><?php echo $item['text'];?></a></li>
    <?php endforeach;?>
</ul>