<?php
/** @var umiTemplaterPHP|BaseExtension $this */
/** @var array $variables */

$params = array(
    'spb' => array(
        'var' => OrmcoExtension::contacts_spb_phone,
        'title' => 'Санкт-Петербург'
    ),
    'msc' => array(
        'var' => OrmcoExtension::contacts_msk_phone,
        'title' => 'Москва и МО'
    ),
    'rus' => array(
        'var' => OrmcoExtension::contacts_rus_phone,
        'title' => 'Регионы России'
    ),
);

$data = array();
foreach($params as $id => $item) {
    if($phone = $this->getCommonVar($item['var'])) {
        $data[] = array(
            'id' => $id,
            'title' => $item['title'],
            'phone' => $phone
        );
    }
}

if(!count($data)) {
    return;
}
?>
<div class="header_top_list js_header_phones">
    <div class="header_top_item">
        <a href="#" class="pin_link js_choose_phone"><?php echo $data[0]['title'];?></a>
        <ul class="phones_nav">
            <?php foreach($data as $item):?>
                <li><a href="#phone-<?php echo $item['id']?>"><?php echo $item['title'];?></a></li>
            <?php endforeach;?>
        </ul>
    </div>
    <div class="header_top_item header_top_phone">
        <?php foreach($data as $item):?>
            <a href="<?php echo $this->preparePhoneLink($item['phone']);?>" class="phone_link" id="phone-<?php echo $item['id'];?>"><?php echo $item['phone'];?></a>
        <?php endforeach;?>
    </div>
</div>
