<?php
/** @var umiTemplaterPHP|BaseExtension|OrmcoExtension $this */
/** @var array $variables */
$catalogFile = $this->getOrmcoSettingsValue('catalog_file');
$priceListFile = $this->getOrmcoSettingsValue('pricelist_file');
?>
<div class="header_top_list">
    <?php if($catalogFile instanceof umiFile && !$catalogFile->getIsBroken()):?>
        <div class="header_top_item"><a href="<?php echo $catalogFile->getFilePath(true);?>" class="download_link" download=""<?php echo $this->renderDataGtmEventButtonClicks('Скачать каталог');?>>Скачать каталог</a></div>
    <?php endif;?>
    <?php if($priceListFile instanceof umiFile && !$priceListFile->getIsBroken()):?>
        <div class="header_top_item"><a href="<?php echo $priceListFile->getFilePath(true);?>" class="download_link" download=""<?php echo $this->renderDataGtmEventButtonClicks('Скачать прайс');?>>Скачать прайс</a></div>
    <?php endif;?>
    <?php if($this->getCommonVar(OrmcoExtension::modal_country_active)):?>
        <div class="header_top_item"><a href="#modal_country" class="planet_btn js_choose_country"></a></div>
    <?php endif;?>
</div>
