<?php
/** @var umiTemplaterPHP|BaseExtension|PageExtension|OrmcoExtension $this */
/** @var array $variables */

$params = array(
    array(
        'phone' => OrmcoExtension::contacts_spb_phone,
        'address' => OrmcoExtension::contacts_spb_address
    ),
    array(
        'phone' => OrmcoExtension::contacts_msk_phone,
        'address' => OrmcoExtension::contacts_msk_address
    ),
    array(
        'phone' => OrmcoExtension::contacts_rus_phone,
        'address' => OrmcoExtension::contacts_rus_address
    )
);

$data = array();
foreach($params as $item) {
    $phone = $this->getCommonVar($item['phone']);
    $address = $this->getCommonVar($item['address']);
    if(!$phone && !$address) {
        continue;
    }
    
    $data[] = array(
        'phone' => $phone,
        'address' => $address
    );
}
?>
<div class="h3">Контактные данные</div>
<div class="row contacts_row">
    <?php foreach($data as $item):?>
        <div class="grid3 tb6 sm12">
            <p class="color-grey"><?php echo $item['address'];?></p>
            <a href="<?php echo $this->preparePhoneLink($item['phone']);?>"><?php echo $item['phone'];?></a>
        </div>
    <?php endforeach;?>
    
    <?php if($this->getCommonVar(OrmcoExtension::modal_feedback_active)):?>
        <div class="grid3 tb6 sm12">
            <a href="#modal_feedback" class="btn btn-xl btn-border" data-action="fancybox">Обратная связь</a>
        </div>
    <?php endif;?>
</div><!-- /contacts_row -->