<?php
/** @var umiTemplaterPHP|BaseExtension|PageExtension|OrmcoExtension $this */
/** @var array $variables */

$templateResources = $this->getTemplateResources();
?>
<div class="h3">Партнеры</div>
<div class="row partners_row">
    <div class="grid2 tb4 sm6">
        <div class="partner">
            <a href="https://www.kerrdental.com/ru-ru/?utm_source=ormco.ru&utm_medium=footerlink&utm_campaign=synergy"><img src="<?php echo $templateResources;?>/assets/images/uploads/kerr.png" alt="" /></a>
        </div>
    </div><!-- /grid -->
    <div class="grid2 tb4 sm6">
        <div class="partner">
            <a href="https://dexis.com/ru-ru?utm_source=ormco.ru&utm_medium=footerlink&utm_campaign=synergy"><img src="<?php echo $templateResources;?>/assets/images/uploads/kavo.png" alt="" /></a>
        </div>
    </div><!-- /grid -->
    <div class="grid2 tb4 sm6">
        <div class="partner">
            <a href="https://www.nobelbiocare.com/ru/ru/home.html?utm_source=ormco.ru&utm_medium=footerlink&utm_campaign=synergy"><img src="<?php echo $templateResources;?>/assets/images/uploads/nobel.png" alt="" /></a>
        </div>
    </div><!-- /grid -->
    <div class="grid2 tb4 sm6">
        <div class="partner">
            <a href="https://med-resurs.org" target="_blank"><img src="<?php echo $templateResources;?>/assets/images/uploads/soyuz.png" alt="" /></a>
        </div>
    </div><!-- /grid -->
</div><!-- /partners_row -->
