<?php
/** @var umiTemplaterPHP|BaseExtension|PageExtension|OrmcoExtension $this */
/** @var array $variables */

if(!$this->getOrmcoSettingsValue(SiteContentPageSettingsModel::field_redesign_warn_is_active)) {
    return;
}

$title = trim($this->getOrmcoSettingsValue(SiteContentPageSettingsModel::field_redesign_warn_title));
$content = trim($this->getOrmcoSettingsValue(SiteContentPageSettingsModel::field_redesign_warn_content));
if(!$title && !trim(strip_tags($content))) {
    return;
}

$link = trim($this->getOrmcoSettingsValue(SiteContentPageSettingsModel::field_redesign_warn_link));
?>
<div class="row post_warn">
    <div class="grid6 tb12">
        <?php if($title):?>
            <div class="h3 warn"><?php echo $title;?></div>
        <?php endif;?>
        <?php echo $content;?>
        <?php if($link):?>
            <a href="<?php echo $link;?>" class="more_link">Узнать больше</a>
        <?php endif;?>
    </div>
</div><!-- /post_warn -->
