@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,400&display=swap");
@media screen and (max-width: 1240px) {
  .container {
    width: 992px; }
  .md7 {
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%; }
  .md4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%; }
  .md6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%; }
  .md12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%; }
  /* header */
  .header_bottom .container {
    display: block; }
  .header_nav {
    margin-bottom: 10px; }
  .header_nav:last-child {
    margin-bottom: 0; }
  /* catpopup */
  .catpopup {
    width: 826px; }
  /* teeth_container / teeth_row */
  .teeth_container_center {
    min-width: 140px;
    max-width: 140px; }
  .teeth_container_left .teeth:nth-child(2) {
    margin-right: 20px; }
  .teeth_container_right .teeth:nth-child(5) {
    margin-right: 20px; } }

/* Medium */
@media screen and (max-width: 1020px) {
  .container {
    width: 720px; }
  .tb3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%; }
  .tb4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%; }
  .tb5 {
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%; }
  .tb6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%; }
  .tb7 {
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%; }
  .tb8 {
    -ms-flex: 0 0 66.666666%;
    flex: 0 0 66.666666%;
    max-width: 66.666666%; }
  .tb9 {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%; }
  .tb12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%; }
  .tb-hidden {
    display: none !important; }
  .tb-visible {
    display: block !important; }
  .navbars {
    display: block; }
  /* catpopup */
  .header, .header_sticky {
    display: none; }
  .mobile_header, .mobile_footer {
    display: block; }
  .header_middle_item_cat {
    position: static; }
  .header_middle .container {
    position: relative; }
  .catpopup {
    width: 720px; }
  /* alert */
  .alert .btn-close {
    margin-left: 12px; }
  /* topslider */
  .topslider .swiper-slide .row {
    min-height: auto; }
  .topslider_entry {
    padding-left: 20px;
    font-size: 14px;
    line-height: 20px;
    padding-top: 20px;
    padding-bottom: 20px; }
  .topslider_title {
    font-size: 24px;
    line-height: 28px; }
  .topslider .btn {
    min-width: 0; }
  .topslider .swiper-button-prev, .topslider .swiper-button-next {
    display: none; }
  /* subscribe */
  .subscribe_text {
    margin-bottom: 20px; }
  /* footer */
  .footer {
    text-align: center; }
    .footer .container {
      display: block; }
    .footer_nav {
      display: block;
      margin: 16px 0; }
    .footer_nav li {
      display: inline-block; }
    .footer_text {
      text-align: inherit; }
  /* popupar_products / news_slider */
  .popupar_products [class*='swiper-button-'], #news_slider [class*='swiper-button-'] {
    display: none; }
  .popupar_products .swiper-pagination, #news_slider .swiper-pagination {
    display: block; } }

/* Tablet */
@media screen and (max-width: 750px) {
  html {
    -webkit-text-size-adjust: none; }
  body {
    font-size: 14px;
    line-height: 18px; }
  .container {
    margin: 0 15px;
    width: auto; }
  .row {
    margin-left: -7px;
    margin-right: -7px; }
  [class*='grid'] {
    padding: 0 7px; }
  .sm6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%; }
  .sm12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%; }
  .sm-hidden {
    display: none !important; }
  .sm-visible {
    display: block !important; }
  .container_middle {
    padding-bottom: 30px; }
  .container_bottom {
    padding: 30px 0; }
  h1 {
    margin: 0 0 24px;
    font-size: 24px;
    line-height: 30px; }
  /* topslider */
  .topslider .row {
    margin: 0; }
  .topslider .grid6 {
    padding: 0; }
  .topslider .swiper-slide {
    padding: 20px 15px; }
  .topslider_img {
    display: none; }
  .topslider [class*='swiper-button-'] {
    display: none; }
  /* subscribe */
  .subscribe .input-field {
    margin: 0 0 16px; }
  /* alert */
  .alert .container {
    display: block; }
  .alert-text {
    font-size: 12px;
    line-height: 16px;
    margin: 0 30px 16px 0; }
  .alert .btn {
    display: block;
    margin: 0; }
  .alert-btns {
    display: block; }
  .alert .btn-close {
    position: absolute;
    right: -5px;
    top: 5px; }
  /* pagehead */
  .pagehead {
    display: block; }
  .pagehead_title {
    font-size: 20px;
    line-height: 24px;
    margin: 0; }
  /* popular_row */
  .popular_row {
    margin-bottom: 20px; }
  .popular_row .grid20 {
    margin-bottom: 10px; }
  .popular_cat {
    padding: 10px; }
  .popular_cat_name {
    font-size: 16px;
    line-height: 20px; }
  /* popupar_products, news_slider */
  .popupar_products {
    margin-bottom: 30px; }
  #news_slider {
    margin: 0 0 30px; }
    #news_slider:last-child {
      margin-bottom: 0; }
  /* contacts_row */
  .contacts_row .grid3 {
    margin-bottom: 14px; }
  .contacts_row .btn {
    display: block; }
  .subscribe {
    padding: 30px 0;
    font-size: inherit;
    line-height: inherit; }
  .subscribe_title {
    font-size: 20px;
    line-height: 24px; }
  /* post_warn */
  .post_warn {
    margin-bottom: 30px; }
  .partners_row .grid2 {
    margin-bottom: 14px; }
  /* panel */
  .panel {
    width: 100%;
    padding: 16px 20px;
    max-width: 570px; }
  .panel .btn-close {
    right: 12px; }
  .panel_nav {
    font-size: 16px;
    line-height: 18px; }
  .panel_nav li a {
    padding: 10px 0; }
  .panel .parent_child {
    padding: 12px 20px; }
  /* config */
  .config_wrapper {
    padding: 20px; }
  .config_wrapper h2 {
    font-size: 20px;
    line-height: 24px; } }

/* Mobile */
@media screen and (max-width: 480px) {
  .xs12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%; }
  /* config */
  .config_wrapper_footer {
    display: block; }
  .config_wrapper_footer .btn {
    display: block; }
  .config_wrapper_footer .backlink {
    justify-content: center;
    margin: 0 0 16px;
    display: flex; }
  /* mobile_footer */
  .mobile_footer li a::before {
    width: 28px;
    height: 28px;
    background-size: 28px; } }
