@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,400&display=swap");
:root {
  --color-gray: #8E8E93;
  --color-blue: #115DA3;
  --color-orange: #F78C07;
  --color-blue2: #2CA5F5;
  --color-red: #FF3B30;
  --color-light: #E0E0E3; }

/* === Reset === */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  color: #111;
  font-size: 15px;
  font-family: 'Open Sans', sans-serif;
  line-height: 20px;
  margin: 0; }

main {
  display: block; }

img {
  border: 0;
  max-width: 100%; }

p {
  margin: 0 0 16px; }
  p:last-child {
    margin: 0; }

ul, ol {
  padding: 0;
  margin: 0; }

li {
  list-style: none; }

a, input, textarea {
  outline: none; }

a {
  color: var(--color-blue2); }

a:hover {
  text-decoration: none; }

th {
  font-weight: normal;
  text-align: left; }

fieldset {
  padding: 0;
  border: 0;
  margin: 0; }

blockquote {
  margin: 0;
  padding: 0; }

textarea {
  resize: none;
  overflow: auto; }

input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clear {
  clear: both;
  display: block; }

.color-grey {
  color: var(--color-gray); }

.color-red {
  color: var(--color-red); }

h1 {
  margin: 0 0 40px;
  font-weight: 700;
  font-size: 34px;
  line-height: 42px; }

h2 {
  font-weight: 600;
  font-size: 28px;
  line-height: 38px;
  margin: 0 0 28px; }

h3, .h3 {
  color: #111;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  margin: 0 0 20px;
  position: relative; }
  h3.warn, .h3.warn {
    padding-left: 36px; }
    h3.warn::before, .h3.warn::before {
      background: var(--color-blue2);
      width: 24px;
      height: 24px;
      line-height: 24px;
      left: 0;
      top: 0;
      text-align: center;
      color: #fff;
      content: '!';
      display: block;
      position: absolute;
      font-size: 14px;
      border-radius: 50%; }

/* === Responsive grid === */
.clear {
  clear: both;
  display: block; }

.clearfix:after {
  content: '';
  clear: both;
  display: block; }

.container {
  margin: 0 auto;
  width: 1200px; }

.row {
  -ms-display: flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: -10px;
  margin-right: -10px; }
  .row.vcenter {
    align-items: center; }

[class*='grid'] {
  padding-left: 10px;
  padding-right: 10px;
  width: 100%; }

.grid20 {
  -ms-flex: 0 0 20%;
  flex: 0 0 20%;
  max-width: 20%; }

.grid2 {
  -ms-flex: 0 0 16.666666%;
  flex: 0 0 16.666666%;
  max-width: 16.666666%; }

.grid3 {
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  max-width: 25%; }

.grid4 {
  -ms-flex: 0 0 33.333333%;
  flex: 0 0 33.333333%;
  max-width: 33.333333%; }

.grid5 {
  -ms-flex: 0 0 41.666667%;
  flex: 0 0 41.666667%;
  max-width: 41.666667%; }

.grid6 {
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%; }

.grid7 {
  -ms-flex: 0 0 58.333333%;
  flex: 0 0 58.333333%;
  max-width: 58.333333%; }

.grid8 {
  -ms-flex: 0 0 66.666667%;
  flex: 0 0 66.666667%;
  max-width: 66.666667%; }

.grid9 {
  -ms-flex: 0 0 75%;
  flex: 0 0 75%;
  max-width: 75%; }

.grid10 {
  -ms-flex: 0 0 83.333333%;
  flex: 0 0 83.333333%;
  max-width: 83.333333%; }

.order-first {
  -ms-flex-order: -1;
  order: -1; }

.order-last {
  -ms-flex-order: 13;
  order: 13; }

.pull-right {
  float: right; }

.text-center {
  text-align: center; }

.text-right {
  text-align: right; }

.sm-visible, .tb-visible {
  display: none; }

/* === FORMS === */
.input, .btn {
  font-family: 'Open Sans', sans-serif;
  -webkit-appearance: none;
  appearance: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  outline: none; }

/* === Text field === */
.input {
  background: #F9F9F9;
  border: 0;
  box-shadow: inset 0 0 0 1px #F9F9F9;
  border-radius: 4px;
  padding: 10px 16px;
  color: #111;
  font-size: 15px;
  line-height: 30px;
  font-family: 'Open Sans', sans-serif;
  height: 54px; }
  .input-text {
    font-size: 13px;
    line-height: 18px;
    margin: 12px 0 0; }
  .input:focus {
    box-shadow: inset 0 0 0 1px var(--color-blue2); }
  .input-sm {
    height: 40px;
    line-height: 20px; }
  .input-not-valid {
    border: 1px solid var(--color-red); }

/* === Button === */
.btn {
  background: var(--color-blue);
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  border: 0;
  color: #fff;
  text-align: center;
  border-radius: 4px;
  font-weight: 600;
  font-size: 13px;
  line-height: 20px;
  padding: 10px 16px; }
  .btn:hover {
    opacity: 0.8; }
  .btn-block {
    display: block;
    width: 100%; }
  .btn-sm {
    font-size: 13px;
    line-height: 18px;
    padding: 11px 12px; }
  .btn-xl {
    font-size: 15px;
    line-height: 24px;
    padding: 15px 24px; }
  .btn:disabled, .btn.disabled {
    cursor: default;
    opacity: 0.4; }
  .btn-reg {
    font-weight: 400; }
  .btn-rounded {
    border-radius: 40px; }
  .btn-blue {
    background: var(--color-blue2); }
  .btn-white {
    background: #fff;
    color: var(--color-blue2); }
  .btn-link {
    background: 0;
    color: var(--color-blue2); }
  .btn-link-dark {
    background: 0;
    color: #111;
    font-weight: 400;
    padding-left: 0;
    padding-right: 0; }
  .btn-border {
    background: 0;
    box-shadow: inset 0 0 0 1px var(--color-blue2);
    color: var(--color-blue2); }
  .btn-icon {
    background: 0;
    box-shadow: inset 0 0 0 1px var(--color-light);
    color: #111;
    border-radius: 40px;
    transition: all 200ms ease-in-out;
    padding: 10px 16px 10px 44px;
    position: relative; }
    .btn-icon.empty {
      padding-left: 16px; }
    .btn-icon .icon {
      position: absolute;
      left: 12px;
      top: 50%;
      margin-top: -12px; }
    .btn-icon:hover {
      background: linear-gradient(0deg, rgba(213, 237, 253, 0.2), rgba(213, 237, 253, 0.2)), #FFFFFF;
      box-shadow: inset 0 0 0 1px #80C9F9;
      color: var(--color-blue2); }
    .btn-icon:active {
      background: #D5EDFD;
      box-shadow: inset 0 0 0 1px #2CA5F5;
      color: var(--color-blue2); }
    .btn-icon.noicon {
      padding-left: 16px; }
  .btn-select {
    padding: 10px 44px 10px 16px; }
    .btn-select::after {
      content: '';
      position: absolute;
      display: block;
      background-image: url("../images/svg/select.svg");
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      display: inline-block;
      vertical-align: middle;
      width: 14px;
      height: 9px;
      top: 50%;
      margin-top: -4px;
      right: 16px; }
    .btn-select:hover, .btn-select.active {
      background: linear-gradient(0deg, rgba(213, 237, 253, 0.2), rgba(213, 237, 253, 0.2)), #FFFFFF;
      box-shadow: inset 0 0 0 1px #80C9F9;
      color: var(--color-blue2); }
    .btn-select:hover::after {
      background-image: url(../images/svg/select-blue.svg); }
    .btn-select.active::after {
      background-image: url(../images/svg/select-blue.svg);
      transform: matrix(1, 0, 0, -1, 0, 0); }
  .btn-allfilter::after {
    content: '';
    position: absolute;
    display: block;
    background-image: url("../images/svg/options.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    top: 50%;
    margin-top: -10px;
    left: 16px; }
  .btn-allfilter:hover::after {
    background-image: url(../images/svg/options-blue.svg); }
  .btn-border-blue {
    background: #fff;
    border: 1px solid var(--color-blue2);
    color: var(--color-blue2); }
    .btn-border-blue:hover {
      background: linear-gradient(0deg, rgba(213, 237, 253, 0.2), rgba(213, 237, 253, 0.2)), #FFFFFF; }
    .btn-border-blue:active {
      background: #D5EDFD; }
  .btn-light {
    background: var(--color-blue2); }
  .btn-cat {
    font-size: 15px; }
    .btn-cat span {
      position: relative;
      padding-left: 28px; }
    .btn-cat span::before {
      content: '';
      position: absolute;
      display: block;
      background-image: url("../images/svg/list.svg");
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      display: inline-block;
      vertical-align: middle;
      width: 20px;
      height: 20px;
      left: 0;
      top: 0; }
  .btn-border-white {
    box-shadow: inset 0 0 0 1px #fff;
    color: #fff; }
  .btn-cart span {
    position: relative;
    padding-right: 32px; }
  .btn-cart span::after {
    content: '';
    position: absolute;
    display: block;
    background-image: url("../images/svg/cart-white.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    display: inline-block;
    vertical-align: middle;
    width: 24px;
    height: 24px;
    right: 0;
    top: -2px; }
  .btn-next {
    background: var(--color-blue2);
    padding: 17px 60px 17px 20px;
    font-size: 15px;
    font-weight: 600;
    position: relative;
    border-radius: 54px; }
    .btn-next::after {
      content: '';
      position: absolute;
      display: block;
      background: rgba(255, 255, 255, 0.2) url(../images/svg/chevron-next.svg) center center no-repeat;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      right: 7px;
      top: 7px; }

/* icon */
.icon {
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  display: inline-block; }
  .icon-standart {
    background-image: url(../images/svg/c.svg);
    background-color: #6A7FEC;
    background-position: 5px 5px; }
  .icon-plus {
    background-image: url(../images/svg/plus.svg);
    background-color: #F27B56; }
  .icon-minus {
    background-image: url(../images/svg/minus.svg);
    background-color: #20C881; }
  .icon-standart-minus {
    background-image: url(../images/svg/c-.svg);
    background-color: #FFB322; }
  .icon-arrows {
    background-image: url(../images/svg/arrows.svg);
    background-color: #80C9F9; }
  .icon-k {
    background-image: url(../images/svg/k.svg);
    background-color: #80C9F9; }
  .icon-k2 {
    background-image: url(../images/svg/k2.svg);
    background-color: #80C9F9; }
  .icon-nope {
    background-image: url(../images/svg/nope.svg);
    background-color: #80C9F9; }
  .icon-snap {
    background-image: url(../images/svg/snap.svg);
    background-color: #80C9F9; }
  .icon .tooltip {
    bottom: 100%;
    margin-bottom: 12px; }
  .icon:hover .tooltip {
    opacity: 1;
    visibility: visible; }

/* === Radio / Checkbox === */
input[type='radio'], input[type='checkbox'] {
  -webkit-appearance: none;
  appearance: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  outline: none;
  padding: 0;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  cursor: pointer;
  border-radius: 4px;
  width: 20px;
  height: 20px;
  border: 1px solid #C7C7CC; }
  input[type='radio']:checked, input[type='checkbox']:checked {
    background-position: center center; }

input[type='radio'] {
  background: url(../images/svg/radio.svg) -9999px -9999px no-repeat;
  border-radius: 50%;
  background-size: 10px 10px; }
  input[type='radio']:checked {
    background-color: var(--color-blue2);
    border-color: var(--color-blue2); }

input[type='checkbox'] {
  background: url(../images/svg/check.svg) -9999px -9999px no-repeat; }
  input[type='checkbox']:checked {
    background-color: var(--color-blue2);
    border-color: var(--color-blue2); }

/* check-field / input-field */
.check-field {
  position: relative;
  padding-left: 28px;
  display: inline-block;
  cursor: pointer; }
  .check-field input[type='radio'], .check-field input[type='checkbox'] {
    position: absolute;
    left: 0;
    top: 0; }
  .check-field a {
    text-decoration: none; }
  .check-field a:hover {
    text-decoration: underline; }

.input-field {
  display: block;
  margin: 0 0 16px;
  position: relative; }
  .input-field:last-child {
    margin: 0; }
  .input-field label {
    display: block;
    margin: 0 0 8px; }
  .input-field .input {
    width: 100%; }
  .input-field select {
    width: 100%; }
  .input-field-hidden {
    display: none;
    margin-top: 8px; }
  .input-field .tooltip {
    opacity: 1;
    visibility: visible;
    left: 0;
    bottom: 100%;
    transform: none;
    margin: 0 0 9px; }
    .input-field .tooltip::after {
      left: 9px;
      margin-left: 0; }

/* input-float */
.input-float {
  background: #f9f9f9;
  border-radius: 4px;
  position: relative; }
  .input-float.notvalid {
    background: linear-gradient(0deg, rgba(255, 59, 48, 0.1), rgba(255, 59, 48, 0.1)), #FFFFFF; }
  .input-float label {
    position: absolute;
    margin: 0;
    font-size: 15px;
    line-height: 20px;
    transition: all 150ms ease-in-out;
    -webkit-transition: all 150ms ease-in-out;
    color: var(--color-gray);
    left: 16px;
    top: 16px;
    transform-origin: 0 100%; }
  .input-float .input {
    background: 0;
    position: relative;
    padding-top: 20px;
    padding-bottom: 6px;
    z-index: 5; }
  .input-float.focused label {
    transform: translateY(-14px) scale(0.8); }
  .input-float-text {
    padding-top: 28px;
    padding-bottom: 6px; }
    .input-float-text:focus-within {
      box-shadow: 0 0 0 1px var(--color-blue2); }
  .input-float textarea.input {
    padding-top: 0;
    padding-bottom: 0;
    height: 74px;
    line-height: 22px;
    box-shadow: none !important; }
  .input-float-select {
    padding-top: 28px;
    padding-bottom: 6px; }
    .input-float-select select {
      -webkit-appearance: none;
      appearance: none;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      margin: 0;
      outline: none;
      height: 30px;
      border: 0;
      background: 0; }

/* searchbox */
.searchbox {
  height: 40px;
  position: relative; }
  .searchbox::before {
    content: '';
    position: absolute;
    display: block;
    left: 14px;
    top: 10px;
    background-image: url("../images/svg/search.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px; }
  .searchbox_input {
    background: #f9f9f9;
    -webkit-appearance: none;
    appearance: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    outline: none;
    border: 0;
    height: 40px;
    font-family: 'Open Sans', sans-serif;
    width: 100%;
    font-size: 15px;
    line-height: 20px;
    padding: 10px 14px 10px 40px;
    border-radius: 4px; }
    .searchbox_input:focus {
      box-shadow: inset 0 0 0 1px #dadada; }

/* download_link / pin_link */
.download_link, .pin_link, .phone_link {
  position: relative;
  padding-left: 20px;
  opacity: 0.5;
  color: #000;
  text-decoration: none; }
  .download_link::before, .pin_link::before, .phone_link::before {
    content: '';
    position: absolute;
    display: block;
    background-image: url("../images/svg/download.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    display: inline-block;
    vertical-align: middle;
    width: 16px;
    height: 16px;
    left: 0;
    top: 50%;
    margin-top: -9px; }
  .download_link:hover, .pin_link:hover, .phone_link:hover {
    opacity: 1;
    color: #000; }

.pin_link::before {
  background-image: url(../images/svg/pin.svg);
  margin-top: -8px; }

.phone_link {
  padding: 0; }

.phone_link::before {
  content: none;
  display: none; }

/* alert_modal */
.alert_modal {
  background: #fff;
  box-shadow: 0px 8px 20px rgba(26, 26, 26, 0.1);
  border-radius: 8px;
  position: absolute;
  padding: 16px;
  font-size: 13px;
  line-height: 18px;
  width: 276px;
  transition: all 200ms ease-in-out;
  -webkit-transition: all 200ms ease-in-out;
  opacity: 0;
  visibility: hidden;
  top: 100%;
  margin-top: 8px;
  left: 0;
  z-index: 1010; }
  .alert_modal::before {
    content: '';
    position: absolute;
    display: block;
    height: 8px;
    width: 100%;
    left: 0;
    top: -8px; }
  .alert_modal-center {
    left: 50%;
    margin-left: -138px; }
  .alert_modal-right {
    left: auto;
    right: 0; }
  .alert_modal .btn {
    display: block; }

.alert_hover:hover .alert_modal {
  opacity: 1;
  visibility: visible; }

/* pagehead */
.pagehead {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 0 20px; }
  .pagehead_title {
    font-weight: 600;
    font-size: 28px;
    line-height: 38px;
    color: #111;
    margin: 0 20px 0 0; }
  .pagehead_all {
    font-size: 15px;
    line-height: 20px;
    color: var(--color-gray);
    text-decoration: none; }
    .pagehead_all:hover {
      color: #000;
      text-decoration: none; }

/* planet_btn */
.planet_btn {
  background-image: url("../images/svg/planet.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  display: inline-block;
  vertical-align: middle;
  width: 16px;
  height: 16px;
  opacity: 0.5; }

.planet_btn:hover {
  opacity: 1; }

/* codeinput */
.codeinput {
  display: flex;
  margin: 0 auto 5px;
  height: 42px;
  align-items: center;
  justify-content: center; }
  .codeinput_input, .codeinput .pincode-input-text {
    background: 0;
    border: 0;
    height: 42px;
    -webkit-appearance: none;
    appearance: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    outline: none;
    padding: 0 0 10px;
    width: 28px !important;
    border-bottom: 1px solid #C7C7CC;
    color: #111;
    font-weight: 600;
    font-size: 28px;
    line-height: 32px;
    text-align: center;
    margin: 0 4px; }
  .codeinput-error .codeinput_input {
    border-color: var(--color-red); }

/* loading */
.loader {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #ffffff;
  background: linear-gradient(to right, var(--color-blue2) 10%, rgba(255, 255, 255, 0) 42%);
  position: relative;
  animation: load3 1.4s infinite linear;
  transform: translateZ(0); }
  .loader::before {
    content: '';
    position: absolute;
    display: block;
    width: 50%;
    height: 50%;
    background: var(--color-blue2);
    border-radius: 100% 0 0 0;
    top: 0;
    left: 0; }
  .loader::after {
    background: #fff;
    content: '';
    position: absolute;
    display: block;
    width: 75%;
    height: 75%;
    border-radius: 50%;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0; }

@keyframes load3 {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

/* alert */
.alert {
  background: var(--color-blue);
  color: #fff; }
  .alert .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    min-height: 60px;
    padding: 10px 0; }
  .alert-text {
    padding-left: 40px;
    position: relative; }
    .alert-text::before {
      content: '';
      position: absolute;
      display: block;
      background-image: url("../images/svg/warn.svg");
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      display: inline-block;
      vertical-align: middle;
      width: 28px;
      height: 28px;
      left: 0;
      top: -4px; }
  .alert-btns {
    display: flex;
    align-items: center; }
  .alert .btn {
    min-width: 172px;
    margin-left: 20px; }
  .alert .btn-close {
    background-color: transparent;
    margin-left: 32px;
    position: relative; }
    .alert .btn-close::before {
      background-image: url(../images/svg/close-white.svg);
      opacity: 1; }

/* backlink */
.backlink {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  font-weight: 600;
  color: var(--color-gray); }
  .backlink::before {
    background: #F5F5F5 url(../images/svg/back.svg) center center no-repeat;
    width: 40px;
    height: 40px;
    border-radius: 40px;
    margin-right: 12px;
    content: '';
    display: block; }

.icon-back {
  background: #F5F5F5 url(../images/svg/back.svg) center center no-repeat;
  border-radius: 40px;
  width: 40px;
  height: 40px;
  display: inline-block;
  vertical-align: middle; }

/* breadcrumbs */
.breadcrumbs {
  color: var(--color-gray);
  font-size: 13px;
  line-height: 18px;
  margin: 0 0 8px; }
  .breadcrumbs a {
    color: inherit;
    text-decoration: none; }
  .breadcrumbs a:hover {
    color: var(--color-blue);
    text-decoration: underline; }

/* iconbtn */
.iconbtn {
  background-color: #F5F5F5;
  border-radius: 8px;
  width: 52px;
  height: 52px;
  display: inline-block;
  background-position: center center;
  background-repeat: no-repeat; }
  .iconbtn-phone {
    background-image: url(../images/svg/phone.svg); }
  .iconbtn-env {
    background-image: url(../images/svg/env.svg); }
  .iconbtn-chat {
    background-image: url(../images/svg/chat.svg); }
  .iconbtn-fb {
    background-image: url(../images/svg/fb.svg); }
  .iconbtn-inst {
    background-image: url(../images/svg/inst.svg); }
  .iconbtn-tw {
    background-image: url(../images/svg/tw.svg); }
  .iconbtn-vk {
    background-image: url(../images/svg/vk.svg); }
  .iconbtn-yt {
    background-image: url(../images/svg/yt.svg); }
  .iconbtn-tg {
    background-image: url(../images/svg/tg.svg); }
  .iconbtn-text {
    color: var(--color-gray);
    font-size: 10px;
    line-height: 12px;
    white-space: nowrap;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0; }
  .iconbtn-item {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    position: relative;
    padding-bottom: 16px; }
  .iconbtn-item .iconbtn {
    display: block; }
  .iconbtn-item:hover .iconbtn-text {
    color: var(--color-blue); }
  .iconbtn-wrap {
    display: flex;
    margin: 0 0 24px; }
    .iconbtn-wrap:last-child {
      margin: 0; }
  .iconbtn-wrap .iconbtn-item {
    margin-right: 16px; }
  .iconbtn-item:hover .iconbtn-phone, .iconbtn-phone:hover {
    background-image: url(../images/svg/phone-blue.svg); }
  .iconbtn-item:hover .iconbtn-env, .iconbtn-env:hover {
    background-image: url(../images/svg/env-blue.svg); }
  .iconbtn-item:hover .iconbtn-chat, .iconbtn-chat:hover {
    background-image: url(../images/svg/chat-blue.svg); }
  .iconbtn-item:hover .iconbtn-fb, .iconbtn-fb:hover {
    background-image: url(../images/svg/fb-blue.svg); }
  .iconbtn-item:hover .iconbtn-inst, .iconbtn-inst:hover {
    background-image: url(../images/svg/inst-blue.svg); }
  .iconbtn-item:hover .iconbtn-tw, .iconbtn-tw:hover {
    background-image: url(../images/svg/tw-blue.svg); }
  .iconbtn-item:hover .iconbtn-vk, .iconbtn-vk:hover {
    background-image: url(../images/svg/vk-blue.svg); }
  .iconbtn-item:hover .iconbtn-yt, .iconbtn-yt:hover {
    background-image: url(../images/svg/yt-blue.svg); }
  .iconbtn-item:hover .iconbtn-tg, .iconbtn-tg:hover {
    background-image: url(../images/svg/tg-blue.svg); }

/* stepsline */
.stepsline {
  background: #F9F9F9;
  border-radius: 12px;
  height: 60px;
  display: flex;
  margin: 0 0 40px;
  color: var(--color-gray);
  font-weight: 600; }
  .stepsline_item {
    flex: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative; }
    .stepsline_item::after {
      content: '';
      position: absolute;
      display: block;
      background-image: url("../images/svg/chevron.svg");
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      display: inline-block;
      vertical-align: middle;
      width: 8px;
      height: 14px;
      right: 0;
      top: 50%;
      margin-top: -8px; }
    .stepsline_item:last-child::after {
      content: none;
      display: none; }
    .stepsline_item.active {
      color: #111; }
    .stepsline_item.checked {
      color: #80C9F9; }
      .stepsline_item.checked span {
        padding-left: 32px;
        position: relative; }
      .stepsline_item.checked span::before {
        content: '';
        position: absolute;
        display: block;
        background-image: url("../images/svg/check-o.svg");
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        display: inline-block;
        vertical-align: middle;
        width: 24px;
        height: 24px;
        left: 0;
        top: -2px; }

/* countries */
.countries {
  margin: 0 0 8px; }
  .countries:last-child {
    margin: 0; }
  .countries_title {
    font-size: 18px;
    line-height: 24px;
    margin: 0 0 12px;
    color: var(--color-gray); }
  .countries_list {
    column-count: 2;
    column-gap: 20px; }
  .countries_btn {
    display: inline-flex;
    width: 100%;
    align-items: center;
    cursor: pointer;
    position: relative;
    margin: 0 0 16px; }
    .countries_btn input[type="radio"] {
      opacity: 0;
      position: absolute;
      left: 0;
      top: 0; }
    .countries_btn img {
      min-width: 28px;
      display: block;
      margin-right: 12px; }
    .countries_btn input[type="radio"]:checked + img + span {
      color: var(--color-blue2); }

/* select settings */
.jq-selectbox__select-text {
  width: 100% !important;
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis; }
  .jq-selectbox__select-text.placeholder {
    color: var(--color-gray); }

.jq-selectbox__trigger {
  background-image: url("../images/svg/select.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  display: inline-block;
  vertical-align: middle;
  width: 14px;
  height: 8px;
  right: 16px;
  top: 50%;
  margin-top: -3px;
  position: absolute; }

.jq-selectbox__dropdown {
  background: #fff;
  border: 0;
  box-shadow: 0px 8px 20px rgba(26, 26, 26, 0.1);
  border-radius: 4px;
  width: 100%;
  top: 100%;
  margin-top: 10px;
  padding: 8px 12px; }
  .jq-selectbox__dropdown li {
    padding: 10px 12px;
    cursor: pointer; }
  .jq-selectbox__dropdown li:hover {
    background: #f5f5f5;
    border-radius: 4px; }

.jq-selectbox.opened .jq-selectbox__select {
  box-shadow: inset 0 0 0 1px var(--color-blue2); }

.jq-selectbox.opened .jq-selectbox__trigger {
  transform: matrix(1, 0, 0, -1, 0, 0); }

/* select_default */
.select_default .jq-selectbox__select {
  background: #F9F9F9;
  border: 0;
  box-shadow: inset 0 0 0 1px #F9F9F9;
  border-radius: 4px;
  padding: 0 46px 0 16px;
  color: #111;
  font-size: 15px;
  line-height: 54px;
  font-family: 'Open Sans', sans-serif;
  height: 54px;
  cursor: pointer; }
  .select_default .jq-selectbox__select-text {
    width: 100%;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis; }
    .select_default .jq-selectbox__select-text.placeholder {
      color: var(--color-gray); }
  .select_default .jq-selectbox__select .jq-selectbox__trigger {
    right: 22px;
    background-image: url(../images/svg/chevron-bottom-grey.svg); }

.input-field .select_default {
  width: 100%; }

/* select_rounded */
.select_rounded .jq-selectbox__select {
  background: #fff;
  border: 1px solid #E0E0E3;
  border-radius: 20px;
  height: 40px;
  line-height: 37px;
  font-weight: 600;
  color: #111;
  padding: 0 40px 0 16px;
  cursor: pointer; }

/* tooltip */
.tooltip {
  background: #333342;
  border-radius: 4px;
  color: #fff;
  left: 50%;
  transform: translateX(-50%);
  z-index: 900;
  font-size: 13px;
  line-height: 18px;
  padding: 4px 8px;
  position: absolute;
  transition: all 200ms ease-in-out;
  opacity: 0;
  visibility: hidden;
  min-width: 80px;
  text-align: center; }
  .tooltip::after {
    content: '';
    position: absolute;
    display: block;
    border: 6px solid transparent;
    border-top: 6px solid #333342;
    left: 50%;
    margin-left: -6px;
    top: 100%; }

/* suggestions */
.suggestions-wrapper {
  background: #fff;
  position: absolute;
  width: 100%;
  box-shadow: 0 1px 8px 1px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  left: 0;
  z-index: 1000;
  padding: 10px;
  overflow: auto;
  max-height: 200px; }

.suggestions-suggestions {
  position: relative !important;
  left: auto !important;
  overflow: visible !important;
  padding: 0 !important;
  border: 0 !important; }

.suggestions-hint {
  padding: 0 12px 10px;
  font-size: 12px;
  line-height: 16px;
  color: var(--color-gray);
  display: block; }

.suggestions-suggestion {
  border-radius: 4px;
  padding: 8px 12px;
  cursor: pointer; }
  .suggestions-suggestion:hover {
    background: #f5f5f5; }
  .suggestions-suggestion strong {
    color: var(--color-red);
    font-weight: 600; }

/* ontop */
#ontop {
  background: #fff;
  border: 1px solid #F9F9F9;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0px 8px 20px rgba(26, 26, 26, 0.1);
  width: 60px;
  height: 60px;
  position: fixed;
  right: 20px;
  bottom: 80px;
  transition: all 200ms ease-in-out;
  z-index: 1200;
  display: none; }
  #ontop .ontop_inner, #ontop .ontop_hover {
    position: absolute;
    display: block;
    background-image: url("../images/svg/top.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 22px;
    top: 50%;
    left: 50%;
    margin: -11px 0 0 -10px;
    transition: all 200ms ease-in-out; }
  #ontop .ontop_hover {
    background-image: url(../images/svg/top-active.svg);
    opacity: 0; }
  #ontop:hover .ontop_inner {
    opacity: 0; }
  #ontop:hover .ontop_hover {
    opacity: 1; }

/* custom_select */
.custom_select {
  display: inline-block;
  position: relative;
  min-width: 400px; }
  .custom_select__select {
    background: #F5F5F5;
    border-radius: 4px;
    height: 54px;
    position: relative;
    cursor: pointer;
    padding: 6px 40px 6px 12px; }
    .custom_select__select-name {
      font-size: 13px;
      line-height: 18px;
      color: #8E8E93;
      margin: 0 0 2px; }
    .custom_select__select-value {
      font-size: 15px;
      line-height: 20px;
      color: #111; }
    .custom_select__select::after {
      content: '';
      position: absolute;
      display: block;
      background-image: url("../images/svg/select.svg");
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      display: inline-block;
      vertical-align: middle;
      width: 16px;
      height: 9px;
      right: 16px;
      top: 50%;
      margin-top: -4px;
      opacity: 0.4; }
  .custom_select__dropdown {
    background: #fff;
    border: 1px solid #F9F9F9;
    box-shadow: 0px 8px 20px rgba(26, 26, 26, 0.1);
    border-radius: 4px;
    position: absolute;
    left: 0;
    z-index: 1000;
    padding: 4px;
    width: 100%;
    margin-top: 12px;
    display: none; }
    .custom_select__dropdown li {
      font-size: 15px;
      line-height: 20px;
      color: #111;
      padding: 8px;
      border-radius: 4px;
      transition: all 200ms ease-in-out;
      cursor: pointer;
      position: relative; }
      .custom_select__dropdown li small {
        display: block;
        font-size: 13px;
        line-height: 18px;
        color: #8E8E93; }
      .custom_select__dropdown li:hover {
        background: #f9f9f9; }
      .custom_select__dropdown li:hover .custom_select__to {
        opacity: 1; }
  .custom_select__to {
    width: 30px;
    height: 30px;
    position: absolute;
    right: 10px;
    top: 50%;
    margin-top: -15px;
    display: block;
    background: url(../images/svg/to.svg) center center no-repeat;
    transition: all 200ms ease-in-out;
    opacity: 0; }
  .custom_select.focused .custom_select__select {
    background: #fff;
    box-shadow: inset 0 0 0 1px var(--color-blue2); }
    .custom_select.focused .custom_select__select::after {
      background-image: url(../images/svg/select-blue.svg);
      transform: matrix(1, 0, 0, -1, 0, 0);
      opacity: 1; }

/* check-select */
.check-select {
  display: inline-block;
  position: relative; }
  .check-select__dropdown {
    background: #fff;
    border: 1px solid #F5F5F5;
    box-shadow: 0px 8px 20px rgba(26, 26, 26, 0.1);
    border-radius: 12px;
    position: absolute;
    left: 0;
    margin-top: 8px;
    padding: 16px;
    min-width: 200px;
    display: none; }
    .check-select__dropdown ul {
      margin: 0 0 12px; }
    .check-select__dropdown li {
      margin: 0 0 12px; }
    .check-select__dropdown li:last-child {
      margin: 0; }
    .check-select__dropdown .check-field {
      display: block; }

/* pagination */
.pagination_btn {
  display: inline-flex;
  vertical-align: middle;
  font-size: 15px;
  line-height: 20px;
  align-items: center;
  font-weight: 400;
  color: var(--color-blue2);
  text-decoration: none;
  border-radius: 4px;
  border: 1px solid transparent;
  min-width: 32px;
  height: 40px;
  justify-content: center;
  text-align: center;
  transition: all 200ms ease-in-out;
  padding: 4px; }
  .pagination_btn:hover {
    border-color: var(--color-blue2); }
  .pagination_btn.active {
    background: var(--color-blue2);
    color: #fff; }
  .pagination_btn.link {
    padding: 4px 22px;
    font-weight: 600; }

/* mainlist */
.mainlist {
  counter-reset: mainCounter; }
  .mainlist li {
    list-style: none;
    margin: 0 0 14px;
    font-weight: 600; }
  .mainlist li::before {
    counter-increment: mainCounter;
    content: counter(mainCounter) " - "; }
  .mainlist li a {
    color: var(--color-blue); }
  .mainlist li a:hover {
    color: var(--color-orange); }
  .mainlist li ol {
    margin: 10px 0 0 20px;
    counter-reset: mainCounter2; }
  .mainlist li ol li {
    font-size: 14px;
    margin: 0 0 6px; }
  .mainlist li ol li::before {
    counter-increment: mainCounter2;
    content: "2." counter(mainCounter2) " - "; }
  .mainlist li ol li a {
    color: var(--color-blue2); }

/* Header */
.header {
  position: relative; }
  .header_sticky {
    background: #fff;
    position: sticky;
    top: 0;
    z-index: 1020; }
    .header_sticky.shadow {
      box-shadow: 0px 1px 4px rgba(26, 26, 26, 0.08); }
  .header_top {
    font-size: 13px;
    line-height: 18px;
    color: var(--color-gray);
    padding: 12px 0 0; }
    .header_top .container {
      display: flex;
      align-items: center;
      justify-content: space-between; }
    .header_top_list {
      display: flex;
      align-items: center; }
    .header_top_item {
      margin-right: 20px;
      position: relative; }
      .header_top_item:last-child {
        margin-right: 0; }
    .header_top_phone {
      font-size: 15px;
      font-weight: 600; }
  .header_middle {
    padding: 16px 0 20px; }
    .header_middle .container {
      display: flex;
      align-items: center; }
    .header_middle .logo {
      margin-right: 20px; }
    .header_middle .logo img {
      display: block; }
    .header_middle .searchbox {
      flex: 1;
      margin: 0 20px 0 0; }
    .header_middle_item {
      margin-right: 10px;
      position: relative;
      min-width: 60px; }
      .header_middle_item:last-child {
        margin-right: 0; }
      .header_middle_item_cat {
        margin-right: 20px; }
    .header_middle_btn {
      display: block;
      font-size: 13px;
      line-height: 18px;
      color: var(--color-gray);
      text-decoration: none;
      text-align: center;
      transition: color 200ms ease-in-out; }
      .header_middle_btn:hover {
        color: #000; }
      .header_middle_btn-icon {
        background-position: center center;
        background-repeat: no-repeat;
        display: block;
        margin: 0 auto 3px;
        width: 20px;
        height: 22px;
        position: relative; }
      .header_middle_btn-login {
        background-image: url(../images/svg/user.svg); }
      .header_middle_btn-cube {
        background-image: url(../images/svg/cube.svg); }
      .header_middle_btn-cart {
        background-image: url(../images/svg/cart.svg); }
      .header_middle_btn-count {
        background: var(--color-blue2);
        color: #fff;
        font-size: 13px;
        line-height: 18px;
        border-radius: 18px;
        padding: 0 5px;
        min-width: 18px;
        text-align: center;
        display: block;
        position: absolute;
        top: -8px;
        left: 50%;
        margin-left: 11px; }
  .header_bottom {
    padding: 0 0 16px; }
    .header_bottom .container {
      display: flex;
      align-items: center;
      justify-content: space-between; }
  .header_nav {
    font-size: 15px;
    line-height: 20px;
    display: flex; }
    .header_nav li {
      margin-right: 20px;
      white-space: nowrap; }
      .header_nav li:last-child {
        margin-right: 0; }
      .header_nav li a {
        color: inherit;
        text-decoration: none; }
      .header_nav li a.color-grey {
        color: #828282; }
      .header_nav li a:hover {
        opacity: 0.8; }
    .header_nav-teeth, .header_nav-env {
      color: var(--color-blue) !important; }
    .header_nav-actions {
      color: var(--color-orange) !important; }
    .header_nav-actions, .header_nav-teeth, .header_nav-env, .header_nav-nav {
      padding-left: 28px;
      font-weight: 600;
      position: relative; }
      .header_nav-actions::before, .header_nav-teeth::before, .header_nav-env::before, .header_nav-nav::before {
        content: '';
        position: absolute;
        display: block;
        left: 0;
        top: 0;
        width: 20px;
        height: 20px;
        background-position: center center;
        background-repeat: no-repeat; }
    .header_nav-actions::before {
      background-image: url(../images/svg/percent.svg); }
    .header_nav-teeth::before {
      background-image: url(../images/svg/teeth.svg); }
    .header_nav-env::before {
      background-image: url(../images/svg/mail.svg); }
    .header_nav-nav::before {
      background-image: url(../images/svg/bars.svg); }

.header_middle_item_cat:hover .catpopup {
  opacity: 1;
  visibility: visible; }

/* phones header */
.phones_nav {
  background: #fff;
  box-shadow: 0px 8px 20px rgba(26, 26, 26, 0.1);
  border-radius: 8px;
  margin-top: 7px;
  width: 200px;
  padding: 10px 0;
  position: absolute;
  z-index: 1100;
  left: 0;
  top: 20px;
  transition: all 200ms ease-in-out;
  -webkit-transition: all 200ms ease-in-out;
  opacity: 0;
  visibility: hidden; }
  .phones_nav.opened {
    opacity: 1;
    visibility: visible; }
  .phones_nav li {
    font-size: 13px;
    line-height: 18px; }
  .phones_nav li a {
    color: #111;
    display: block;
    text-decoration: none;
    padding: 6px 16px;
    transition: all 200ms ease-in-out;
    -webkit-transition: all 200ms ease-in-out; }

#phone-msc, #phone-rus {
  display: none; }

/* mobile_header */
.mobile_header {
  background: #fff;
  box-shadow: 0px 0.5px 4px rgba(26, 26, 26, 0.08);
  display: none;
  position: sticky;
  top: 0;
  z-index: 1000;
  padding: 8px 0; }
  .mobile_header_inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 28px; }
  .mobile_header .logo img {
    display: block;
    height: 28px; }
  .mobile_header .searchbox {
    display: none;
    margin-top: 8px; }

.navbtn {
  display: block;
  width: 24px;
  height: 32px;
  background: url(../images/svg/bars.svg) center center no-repeat;
  background-size: 20px; }

/* footer */
.footer {
  background: #f9f9f9;
  padding: 22px 0;
  color: var(--color-gray); }
  .footer .container {
    display: flex;
    align-items: center;
    justify-content: space-between; }
  .footer a {
    color: inherit;
    text-decoration: none; }
  .footer a:hover {
    color: #000;
    text-decoration: none; }
  .footer_nav {
    display: flex;
    align-items: center; }
    .footer_nav li {
      margin-right: 20px; }
    .footer_nav li:last-child {
      margin-right: 0; }
  .footer_text {
    font-size: 13px;
    line-height: 18px;
    text-align: right; }

/* mobile_footer */
.mobile_footer {
  background: #fff;
  box-shadow: 0px -0.5px 4px rgba(26, 26, 26, 0.08);
  display: none;
  position: sticky;
  bottom: 0;
  z-index: 999; }
  .mobile_footer ul {
    display: flex; }
  .mobile_footer li {
    width: 100%;
    text-align: center; }
  .mobile_footer li a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 62px;
    position: relative;
    font-size: 13px;
    line-height: 18px;
    color: #8E8E93;
    text-decoration: none; }
    .mobile_footer li a::before {
      content: '';
      display: block;
      width: 24px;
      height: 24px;
      background-position: center;
      background-repeat: no-repeat;
      margin: 0 auto; }
  .mobile_footer li:nth-child(1) a::before {
    background-image: url(../images/svg/list2.svg); }
  .mobile_footer li:nth-child(2) a::before {
    background-image: url(../images/svg/search2.svg); }
  .mobile_footer li:nth-child(3) a::before {
    background-image: url(../images/svg/cart.svg); }
  .mobile_footer li:nth-child(4) a::before {
    background-image: url(../images/svg/user.svg); }

/* catpopup */
.catpopup {
  background: #fff;
  box-shadow: 0px 8px 20px rgba(26, 26, 26, 0.1);
  border-radius: 8px;
  position: absolute;
  left: 0;
  width: 910px;
  z-index: 1000;
  margin-top: 12px;
  opacity: 0;
  visibility: hidden; }
  .catpopup::before {
    content: '';
    position: absolute;
    display: block;
    height: 14px;
    width: 100%;
    left: 0;
    top: -14px; }
  .catpopup.opened {
    opacity: 1;
    visibility: visible; }
  .catpopup .row {
    margin: 0; }
  .catpopup .grid4 {
    border-left: 1px solid #f5f5f5;
    padding: 12px;
    position: relative; }
    .catpopup .grid4:first-child {
      border-left: 0; }
  .catpopup ul {
    margin: 0 0 10px; }
    .catpopup ul:last-child {
      margin: 0; }
  .catpopup ul li a {
    color: #111;
    display: block;
    text-decoration: none;
    padding: 6px 12px;
    border-radius: 4px;
    transition: all 200ms ease-in-out;
    -webkit-transition: all 200ms ease-in-out; }
  .catpopup ul li a:hover, .catpopup ul li > a.active {
    background: #f5f5f5; }
  .catpopup ul li.parent > a {
    padding-right: 32px;
    position: relative; }
  .catpopup ul li.parent > a::after {
    content: '';
    position: absolute;
    display: block;
    background-image: url("../images/svg/next.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    display: inline-block;
    vertical-align: middle;
    width: 6px;
    height: 12px;
    right: 12px;
    top: 50%;
    margin-top: -6px; }
  .catpopup ul li.catpopup_title {
    color: var(--color-gray);
    padding: 6px 12px; }
  .catpopup .swiper {
    height: 368px;
    position: static; }
    .catpopup .swiper-slide {
      height: auto; }
    .catpopup .swiper-vertical > .catpopup .swiper-scrollbar {
      right: 8px; }
    .catpopup .swiper-scrollbar {
      background: #f5f5f5; }
    .catpopup .swiper-scrollbar-drag {
      background: var(--color-gray); }
  .catpopup .children, .catpopup .sub_children {
    display: none; }

/* container_middle / container_bottom */
.container_middle {
  padding: 24px 0 40px; }

.container_bottom {
  padding: 70px 0 40px; }

/* swiper options */
.swiper-button-prev, .swiper-button-next {
  background: #fff;
  box-shadow: 0px 1px 8px rgba(26, 26, 26, 0.1);
  width: 44px;
  height: 44px;
  border-radius: 50%;
  cursor: pointer;
  margin-top: -22px;
  outline: none;
  opacity: 1 !important; }
  .swiper-button-prev::after, .swiper-button-next::after {
    background-image: url("../images/svg/next.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    display: inline-block;
    vertical-align: middle;
    width: 8px;
    height: 14px;
    content: '';
    opacity: 0.5; }
  .swiper-button-prev.swiper-button-disabled, .swiper-button-next.swiper-button-disabled {
    display: none; }
  .swiper-button-prev:hover::after, .swiper-button-next:hover::after {
    opacity: 1; }

.swiper-button-prev {
  left: -22px;
  transform: matrix(-1, 0, 0, 1, 0, 0); }

.swiper-button-next {
  right: -22px; }

.swiper-pagination-fraction {
  background: rgba(26, 26, 26, 0.6);
  border-radius: 28px;
  height: 28px;
  font-size: 15px;
  line-height: 20px;
  padding: 4px 12px;
  color: #fff;
  position: absolute;
  right: 20px;
  bottom: 20px;
  width: auto;
  left: auto; }

.swiper-pagination.block {
  position: relative;
  width: auto;
  left: auto;
  bottom: auto;
  margin: 10px 0 0; }

/* topslider */
.topslider {
  position: relative;
  margin: 0 0 60px; }
  .topslider .swiper-slide {
    background: var(--color-blue2);
    border-radius: 12px;
    position: relative; }
    .topslider .swiper-slide .row {
      min-height: 400px;
      margin: 0; }
  .topslider_entry {
    color: #fff;
    font-size: 18px;
    line-height: 24px;
    padding-left: 60px;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    padding-top: 60px;
    padding-bottom: 60px; }
    .topslider_entry_top {
      width: 100%; }
  .topslider_img img {
    display: block;
    margin: 0 auto; }
  .topslider_title {
    font-weight: 700;
    font-size: 34px;
    line-height: 42px;
    margin: 0 0 20px; }
  .topslider_text {
    margin: 0 0 40px; }
  .topslider_link {
    position: absolute;
    border-radius: 12px;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    display: block;
    z-index: 10; }
  .topslider .btn {
    min-width: 200px;
    color: #000; }

/* popular_cat */
.popular_row {
  margin-bottom: 40px; }

.popular_row .grid20 {
  margin-bottom: 20px; }

.popular_cat {
  background: #F9F9F9;
  border-radius: 12px;
  padding: 20px;
  display: block;
  text-decoration: none;
  color: #111;
  transition: all 200ms ease-in-out;
  min-height: 100%; }
  .popular_cat_img {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 150px;
    margin: 0 0 15px;
    display: block; }
    .popular_cat_img img {
      display: block;
      max-height: 120px;
      margin: 0 auto; }
  .popular_cat_name {
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    display: block; }
  .popular_cat:hover {
    color: var(--color-blue2); }

/* product */
.product {
  background: #fff;
  box-shadow: 0px 1px 4px rgba(26, 26, 26, 0.08);
  border-radius: 12px;
  padding: 16px;
  display: flex;
  flex-wrap: wrap;
  transition: box-shadow 200ms ease-in-out; }
  .product:hover {
    box-shadow: 0px 2px 6px rgba(26, 26, 26, 0.08); }
  .product_top, .product_foot {
    width: 100%; }
  .product_foot {
    display: flex;
    align-items: center;
    justify-content: space-between; }
  .product_img {
    height: 190px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 0 16px; }
    .product_img img {
      display: block;
      max-height: 190px;
      max-width: 190px; }
  .product_art {
    font-size: 13px;
    line-height: 18px;
    color: var(--color-gray);
    margin: 0 0 4px; }
  .product_title {
    font-size: 15px;
    line-height: 20px;
    height: 60px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin: 0 0 20px; }
    .product_title a {
      color: #111;
      display: block;
      text-decoration: none; }
    .product_title a:hover {
      color: var(--color-blue); }
  .product_price {
    color: #111;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px; }
  .product .btn {
    min-width: 120px; }

/* popupar_products */
.popupar_products {
  position: relative;
  margin: 0 0 60px; }
  .popupar_products .swiper-pagination {
    display: none; }
  .popupar_products .product {
    margin: 2px 2px 6px; }

/* news_slider */
#news_slider {
  position: relative;
  margin: 0 0 60px; }
  #news_slider .swiper-pagination {
    display: none; }
  #news_slider .newsbox {
    margin: 0; }

/* newsbox */
.newsbox_img {
  box-shadow: inset 0 0 0 1px rgba(142, 142, 147, 0.2);
  border-radius: 12px;
  display: block;
  height: 170px;
  margin: 0 0 12px;
  background-repeat: no-repeat;
  background-size: cover; }
  .newsbox_img.flexed {
    display: flex;
    align-items: center;
    justify-content: center;
    background: 0 !important; }
    .newsbox_img.flexed img {
      display: block;
      max-height: 150px; }

.newsbox_title {
  color: #111;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  margin: 0 0 12px; }
  .newsbox_title a {
    color: inherit;
    display: block;
    text-decoration: none; }
  .newsbox_title a:hover {
    color: var(--color-blue); }

.newsbox_date {
  color: var(--color-gray);
  font-size: 13px;
  line-height: 18px;
  margin: 0; }

/* subscribe */
.subscribe {
  background: var(--color-blue2) url(../images/bg.png) center 0 no-repeat;
  padding: 40px 0 44px;
  color: #fff;
  font-size: 15px;
  line-height: 20px; }
  .subscribe_text {
    max-width: 435px; }
  .subscribe_title {
    font-weight: 700;
    font-size: 32px;
    line-height: 36px;
    margin: 0 0 14px; }
  .subscribe .input-field {
    margin: 0; }
  .subscribe .input {
    box-shadow: none; }
  .subscribe .input, .subscribe .btn {
    width: 100%; }
  .subscribe .input-text a {
    color: #fff; }
  .subscribe .row {
    margin: 0 -6px; }
  .subscribe [class*='grid'] {
    padding: 0 6px; }

/* contacts_row */
.contacts_row {
  font-size: 18px;
  line-height: 22px;
  font-weight: 600;
  margin-bottom: 20px; }
  .contacts_row .grid3 {
    margin-bottom: 32px; }
  .contacts_row .color-grey {
    font-size: 13px;
    line-height: 18px;
    font-weight: 400; }
  .contacts_row p {
    margin: 0 0 8px; }
  .contacts_row p:last-child {
    margin: 0; }
  .contacts_row a:not(.btn) {
    color: #111;
    text-decoration: none; }

/* post_warn */
.post_warn {
  margin-bottom: 52px; }
  .post_warn h3 {
    margin-bottom: 12px; }
  .post_warn a {
    text-decoration: none; }
  .post_warn a:hover {
    text-decoration: underline; }

/* more_link */
.more_link {
  display: inline-block;
  text-decoration: none;
  position: relative;
  padding-right: 20px;
  font-weight: 600; }
  .more_link::after {
    content: '';
    position: absolute;
    display: block;
    background-image: url("../images/svg/more.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    display: inline-block;
    vertical-align: middle;
    width: 14px;
    height: 14px;
    right: 0;
    top: 4px; }
  .more_link:hover {
    opacity: 0.8;
    text-decoration: none !important; }
  .more_link-grey {
    color: var(--color-gray); }
    .more_link-grey::after {
      background-image: url(../images/svg/more-grey.svg); }

/* partners_row */
.partners_row .grid2 {
  margin-bottom: 20px; }

.partner {
  border: 1px solid #f6f6f6;
  border-radius: 8px;
  height: 100px;
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: center; }
  .partner img {
    display: block; }

/* modal */
.btn-close, .btn-back {
  background: #F5F5F5;
  position: relative;
  display: block;
  width: 32px;
  height: 32px;
  border-radius: 50%; }
  .btn-close::before, .btn-back::before {
    content: '';
    position: absolute;
    display: block;
    background-position: center center;
    background-repeat: no-repeat;
    width: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    opacity: 0.5; }
  .btn-close:hover::before, .btn-back:hover::before {
    opacity: 1; }

.btn-close::before {
  background-image: url(../images/svg/close.svg); }

.btn-back::before {
  background-image: url(../images/svg/rarr.svg); }

.fancybox-bg {
  background: #111; }

.fancybox-is-open .fancybox-bg {
  opacity: 0.4; }

.modal {
  background: #fff;
  box-shadow: 0px 8px 20px rgba(26, 26, 26, 0.1);
  border-radius: 8px;
  width: 100%;
  max-width: 368px;
  padding: 52px 24px 24px;
  position: relative;
  display: none; }
  .modal_header {
    color: var(--color-gray);
    margin: 0 0 20px;
    font-size: 13px;
    line-height: 18px; }
  .modal_title {
    color: #111;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    margin: 0 0 4px; }
  .modal .btn-back {
    position: absolute;
    left: 12px;
    top: 12px; }
  .modal .btn-close {
    position: absolute;
    right: 12px;
    top: 12px; }
  .modal_links {
    color: var(--color-gray);
    font-size: 13px;
    line-height: 18px;
    text-align: center;
    padding-top: 20px; }
    .modal_links a {
      text-decoration: none; }
    .modal_links a:hover {
      text-decoration: underline; }
  .modal-loader {
    background: rgba(255, 255, 255, 0.6);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border-radius: 8px; }
    .modal-loader-circle {
      background: #fff;
      border: 1px solid #F5F5F5;
      box-shadow: 0px 8px 20px rgba(26, 26, 26, 0.1);
      width: 80px;
      height: 80px;
      border-radius: 50%;
      left: 50%;
      top: 50%;
      margin: -40px 0 0 -40px;
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center; }

#choose_country, #freeconsult {
  max-width: 480px; }

/* panel */
.panel {
  background: #fff;
  width: 578px;
  position: fixed;
  right: 0;
  top: 0;
  height: 100vh;
  z-index: 1050;
  padding: 16px 40px;
  transition: all 200ms ease-in-out;
  -webkit-transition: all 200ms ease-in-out;
  transform: translateX(580px); }
  .panel_overlay {
    background: #111;
    opacity: 0.4;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 1040;
    display: none; }
  .panel_title {
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    color: var(--color-gray);
    margin: 0 0 12px; }
  .panel_nav {
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    padding: 12px 0;
    border-bottom: 1px solid #f5f5f5;
    margin: 0 0 24px; }
    .panel_nav li {
      margin: 0; }
    .panel_nav li a {
      color: #111;
      display: block;
      text-decoration: none;
      padding: 12px 0; }
    .panel_nav li a:hover {
      color: var(--color-blue); }
    .panel_nav li a.color-orange {
      color: var(--color-orange); }
    .panel_nav li a.color-orange:hover {
      opacity: 0.8; }
    .panel_nav li.parent > a {
      background: url(../images/svg/next.svg) right center no-repeat; }
  .panel .btn-close {
    position: absolute;
    right: 44px;
    top: 12px; }
  .panel .parent_child {
    position: absolute;
    left: 0;
    background: #fff;
    top: 0;
    height: 100vh;
    width: 100%;
    z-index: 1000;
    padding: 12px 40px;
    transition: all 200ms linear;
    transform: translateX(580px);
    box-shadow: -1px 0 2px rgba(0, 0, 0, 0.25); }
    .panel .parent_child.opened {
      transform: translateX(0);
      box-shadow: none; }
    .panel .parent_child > a {
      background: url(../images/svg/prev.svg) left center no-repeat;
      padding-left: 20px;
      margin-bottom: 12px; }
    .panel .parent_child ul {
      display: block;
      margin-left: 20px; }
    .panel .parent_child ul li {
      font-weight: 400; }

body.panel_opened {
  height: 100vh;
  overflow: hidden; }

body.panel_opened .panel {
    transform: translateX(0);
    overflow-y: scroll;
}

/* config_wrapper */
.config_wrapper {
  background: #fff;
  border: 1px solid #F9F9F9;
  box-shadow: 0px 4px 8px rgba(26, 26, 26, 0.08);
  border-radius: 12px;
  margin: 0 0 40px;
  padding: 40px; }
  .config_wrapper:last-child {
    margin: 0; }
  .config_wrapper_footer {
    display: flex;
    align-items: center;
    justify-content: space-between; }
  .config_wrapper_products {
    background: #F9F9F9;
    border-radius: 12px;
    margin: 0 0 60px;
    padding: 16px 16px 1px; }
    .config_wrapper_products .row {
      margin: 0 -8px; }
    .config_wrapper_products .grid3 {
      padding: 0 8px;
      margin-bottom: 16px; }
    .config_wrapper_products .pagination {
      margin-bottom: 16px; }

/* bracket_box */
.bracket_box {
  min-height: 100%;
  position: relative;
  cursor: pointer;
  display: flex;
  border-radius: 12px; }
  .bracket_box_inner {
    border: 1px solid #E0E0E3;
    border-radius: 12px;
    padding: 16px 16px 28px;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    transition: all 100ms ease-in-out;
    width: 100%; }
  .bracket_box_row {
    margin-bottom: 40px; }
    .bracket_box_row [class*='grid'] {
      margin-bottom: 20px; }
  .bracket_box input[type="radio"], .bracket_box input[type="checkbox"] {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    height: 0;
    width: 0; }
  .bracket_box_head {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    margin: 0 0 20px; }
  .bracket_box_title {
    font-weight: 600;
    transition: all 100ms ease-in-out; }
  .bracket_box_img {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center; }
    .bracket_box_img img {
      display: block; }
    .bracket_box_img img.active {
      display: none; }
  .bracket_box_num {
    font-weight: 400;
    font-size: 13px;
    line-height: 18px; }
  input[type="radio"]:checked + .bracket_box_inner, input[type="checkbox"]:checked + .bracket_box_inner {
    border-color: var(--color-blue2); }
  input[type="radio"]:checked + .bracket_box_inner > .bracket_box_head > .bracket_box_title,
  input[type="checkbox"]:checked + .bracket_box_inner > .bracket_box_head > .bracket_box_title,
  input[type="radio"]:checked + .bracket_box_inner > .bracket_box_head > .bracket_box_num,
  input[type="checkbox"]:checked + .bracket_box_inner > .bracket_box_head > .bracket_box_num {
    color: var(--color-blue2); }
  input[type="radio"]:checked + .bracket_box_inner > .bracket_box_img > img.default {
    display: none; }
  input[type="radio"]:checked + .bracket_box_inner > .bracket_box_img > img.active {
    display: block; }
  .bracket_box_text h4 {
    font-weight: 600;
    margin: 0 0 8px; }
  .bracket_box_article {
    color: var(--color-gray);
    font-size: 13px;
    line-height: 18px;
    margin: 0 0 12px; }
  .bracket_box .select {
    position: relative;
    z-index: 100;
    -webkit-appearance: none;
    appearance: none;
    outline: none;
    width: auto !important;
    border: 0;
    cursor: pointer;
    padding: 0 14px 0 0;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    display: inline-block;
    background: url(../images/svg/select.svg) right center no-repeat;
    background-size: 12px 6px; }
  input[type="radio"]:checked + .bracket_box_inner > .bracket_box_head > .select {
    background-image: url(../images/svg/check-blue.svg); }
  input[type="radio"]:checked + .bracket_box_inner > .bracket_box_head > .select {
    color: var(--color-blue2); }

/* filter_header */
.filter_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 0 28px; }
  .filter_header_left {
    display: flex;
    align-items: center; }
    .filter_header_left.many {
      display: block;
      height: 40px;
      overflow: hidden;
      transition: height 200ms linear; }
      .filter_header_left.many .btn-icon {
        float: left;
        margin-bottom: 8px; }
      .filter_header_left.many .many_inner:after {
        content: '';
        clear: both;
        display: block; }
  .filter_header .icon-back {
    margin-right: 16px; }
  .filter_header_clear {
    color: var(--color-gray);
    text-decoration: none; }
  .filter_header_info {
    position: relative;
    padding-right: 22px;
    font-size: 13px;
    text-decoration: none;
    line-height: 18px;
    color: var(--color-gray); }
    .filter_header_info::after {
      content: '';
      position: absolute;
      display: block;
      background-image: url("../images/svg/quest.svg");
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      display: inline-block;
      vertical-align: middle;
      width: 15px;
      height: 15px;
      right: 0;
      top: 2px; }
  .filter_header h2 {
    margin: 0; }
  .filter_header .btn-icon {
    margin-right: 12px; }
    .filter_header .btn-icon:last-child {
      margin-right: 0; }
  .filter_header_price {
    color: #111;
    font-weight: 600;
    font-size: 28px;
    line-height: 38px;
    display: flex;
    align-items: center; }
    .filter_header_price del {
      font-size: 18px;
      line-height: 24px;
      color: #8E8E93;
      position: relative;
      font-weight: 400;
      position: relative;
      margin-right: 16px; }
  .filter_header_more {
    font-weight: 600;
    position: relative;
    padding-right: 24px;
    text-decoration: none;
    white-space: nowrap;
    margin-left: 24px; }
    .filter_header_more::after {
      content: '';
      position: absolute;
      display: block;
      background-image: url("../images/svg/select-blue.svg");
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      display: inline-block;
      vertical-align: middle;
      width: 14px;
      height: 8px;
      right: 0;
      top: 7px; }
    .filter_header_more.active::after {
      transform: matrix(1, 0, 0, -1, 0, 0); }

/* teeth */
.teeth {
  display: flex;
  flex-direction: column;
  width: 48px;
  position: relative;
  z-index: 10; }
  .teeth-label {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    position: relative; }
  .teeth-icon {
    margin: 0;
    height: 24px; }
  .teeth .icon {
    margin: 0 auto;
    display: block; }
    .teeth .icon .tooltip {
      bottom: 100%;
      margin-bottom: 12px; }
  .teeth input[type="checkbox"] {
    opacity: 0;
    width: 0;
    height: 0;
    position: absolute;
    left: 0;
    top: 0; }
  .teeth-count {
    color: var(--color-blue2);
    font-weight: 600;
    margin: 12px 0 8px;
    text-align: center; }
  .teeth-img {
    position: relative;
    width: 48px;
    height: 52px; }
    .teeth-img::after {
      background: url(../images/svg/teeth-top.svg) no-repeat;
      content: '';
      position: absolute;
      display: block;
      width: 48px;
      height: 52px;
      -webkit-filter: drop-shadow(0px 2px 4px rgba(17, 17, 17, 0.12));
      filter: drop-shadow(0px 2px 4px rgba(17, 17, 17, 0.12)); }
    .teeth-img::before {
      content: '';
      position: absolute;
      display: block;
      background-image: url("../images/svg/teeth-check.svg");
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      display: inline-block;
      vertical-align: middle;
      width: 16px;
      height: 13px;
      left: 50%;
      margin-left: -8px;
      bottom: 12px;
      z-index: 50;
      display: none; }
  .teeth:not(.teeth-disabled) .teeth-label:hover .teeth-img::before {
    display: block; }
  input[type="checkbox"]:checked + .teeth-count + .teeth-img::after {
    background-image: url(../images/svg/teeth-top-active.svg); }
  input[type="checkbox"]:checked + .teeth-count + .teeth-img::before {
    background-image: url(../images/svg/teeth-check-white.svg);
    display: block; }
  .teeth-bottom {
    flex-direction: column-reverse; }
  .teeth-bottom .teeth-label {
    flex-direction: column-reverse; }
  .teeth-bottom .teeth-count {
    margin: 8px 0 12px; }
  .teeth-bottom .teeth-img::after {
    transform: matrix(1, 0, 0, -1, 0, 0);
    -webkit-filter: drop-shadow(0px -2px 4px rgba(17, 17, 17, 0.12));
    filter: drop-shadow(0px -2px 4px rgba(17, 17, 17, 0.12)); }
  .teeth-bottom .teeth-img::before {
    bottom: auto;
    top: 12px; }
  .teeth-bottom .icon .tooltip {
    bottom: auto;
    margin-bottom: 0;
    top: 100%;
    margin-top: 12px; }
  .teeth-bottom .icon .tooltip::after {
    border-top-color: transparent;
    border-bottom-color: #333342;
    top: auto;
    bottom: 100%; }
  .teeth-disabled .teeth-label {
    cursor: default; }
  .teeth-disabled .teeth-img::after {
    background-image: url(../images/svg/teeth-disabled.svg);
    -webkit-filter: none;
    filter: none; }
  .teeth-disabled .teeth-count {
    color: #D5EDFD; }

.teeth_container-noicons .teeth-icon {
  height: auto; }

/* teeth_container / teeth_row */
.teeth_container {
  display: flex;
  margin: 60px -40px;
  padding: 0 40px;
  position: relative; }
  .teeth_container::before, .teeth_container::after {
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    background: #f9f9f9;
    left: 0;
    top: 50%; }
  .teeth_container::before {
    margin-top: -32px; }
  .teeth_container::after {
    margin-top: 30px; }
  .teeth_container_left, .teeth_container_right {
    width: 100%; }
  .teeth_container_center {
    min-width: 174px;
    max-width: 174px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    text-align: center; }
    .teeth_container_center .btn {
      position: relative;
      z-index: 100;
      width: 90px;
      display: block;
      margin: 0 auto 43px; }
    .teeth_container_center .btn:last-child {
      margin-bottom: 0; }

.teeth_row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0;
  padding: 0; }

.teeth_container_left .teeth:nth-child(2) {
  margin-right: 42px; }

.teeth_container_right .teeth:nth-child(5) {
  margin-right: 42px; }

/* order_spoiler */
.order_spoiler {
  margin: 0 0 20px; }
  .order_spoiler:last-child {
    margin: 0; }
  .order_spoiler_head {
    background: #F9F9F9;
    border-radius: 4px;
    position: relative;
    cursor: pointer;
    padding: 16px 76px 16px 20px;
    display: flex;
    align-items: center; }
    .order_spoiler_head::after {
      content: '';
      position: absolute;
      display: block;
      background-image: url("../images/svg/select.svg");
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      display: inline-block;
      vertical-align: middle;
      width: 16px;
      height: 9px;
      right: 24px;
      top: 50%;
      margin-top: -4px;
      opacity: 0.45; }
    .order_spoiler_head.opened::after {
      transform: matrix(1, 0, 0, -1, 0, 0); }
  .order_spoiler_title {
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #111;
    margin-right: 24px; }
  .order_spoiler_title2 {
    font-size: 15px;
    line-height: 20px;
    margin-right: 8px; }
    .order_spoiler_title2 a {
      text-decoration: none; }
    .order_spoiler_title2 a:hover {
      text-decoration: underline; }
  .order_spoiler_title3 {
    color: var(--color-blue2);
    font-size: 13px;
    line-height: 18px; }
  .order_spoiler .filter_header_price {
    margin-left: auto;
    font-size: 20px;
    line-height: 24px; }
    .order_spoiler .filter_header_price del {
      font-size: 15px;
      line-height: 20px; }
  .order_spoiler_content {
    display: none; }
  .order_spoiler_content table {
    border-collapse: collapse;
    width: 100%; }
    .order_spoiler_content table thead th {
      height: 46px;
      font-size: 13px;
      line-height: 18px;
      color: #8E8E93;
      padding: 8px 20px;
      border-bottom: 1px solid #f3f3f3; }
    .order_spoiler_content table tbody td {
      height: 54px;
      padding: 10px 20px;
      border-bottom: 1px solid #f3f3f3; }
    .order_spoiler_content table th:last-child, .order_spoiler_content table td:last-child {
      padding-right: 76px;
      text-align: right; }
    .order_spoiler_content table .filter_header_price {
      font-size: 15px;
      line-height: 20px;
      color: #111;
      display: block;
      font-weight: 400; }
      .order_spoiler_content table .filter_header_price del {
        display: block;
        font-size: 13px;
        line-height: 18px;
        color: #8E8E93;
        margin: 0; }
    .order_spoiler_content table .icon {
      margin-right: 4px; }

/* filters */
.filters {
  background: #fff;
  box-shadow: 0px 8px 20px rgba(26, 26, 26, 0.1);
  border-radius: 8px;
  position: relative;
  max-width: 1000px;
  display: none;
  padding: 0;
  height: 90vh; }
  .filters_inner {
    display: flex;
    flex-direction: column;
    height: 100%; }
  .filters_header {
    border-bottom: 1px solid #f5f5f5;
    padding: 20px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between; }
  .filters_title {
    font-weight: 600;
    font-size: 20px;
    line-height: 24px; }
  .filters_footer {
    border-top: 1px solid #f5f5f5;
    padding: 16px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between; }
  .filters_content {
    padding: 12px 40px 24px;
    flex: 1;
    overflow: auto; }
  .filters .row {
    margin: 0 -16px; }
  .filters .grid4 {
    padding: 0 16px; }
  .filters_item {
    border-bottom: 1px solid #F5F5F5;
    display: inline-block;
    width: 100%; }
    .filters_item_title {
      font-weight: 600;
      font-size: 15px;
      line-height: 20px;
      padding: 16px 32px 16px 0;
      position: relative;
      cursor: pointer; }
      .filters_item_title::after {
        content: '';
        position: absolute;
        display: block;
        background-image: url("../images/svg/select.svg");
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        display: inline-block;
        vertical-align: middle;
        width: 14px;
        height: 8px;
        right: 0;
        top: 50%;
        margin-top: -4px; }
      .filters_item_title.opened::after {
        transform: matrix(1, 0, 0, -1, 0, 0); }
    .filters_item_hide {
      display: none;
      padding-bottom: 16px; }
      .filters_item_hide li {
        margin: 0 0 12px; }
      .filters_item_hide li:last-child {
        margin: 0; }
