<?php
/** @var umiTemplaterPHP|BaseExtension|OrmcoExtension $this */
/** @var array $variables */
?>
<div class="children" id="category-<?php echo $variables['parent-id'];?>">
    <ul class="parent2">
        <?php foreach($variables['items'] as $item):
            $bHasItems = (bool) getArrayKey($item, 'items');?>
            <li<?php if($bHasItems):?> class="parent"<?php endif;?>><a href="<?php echo $item['link'];?>"<?php if($bHasItems):?> data-title="category-<?php echo $item['id'];?>"<?php endif;?>><?php echo $item['name'];?></a></li>
        <?php endforeach;?>
    </ul>
</div>
