<?php
/** @var umiTemplaterPHP|BaseExtension|OrmcoExtension $this */
/** @var array $variables */
$hasItems = getArrayKey($variables, 'has-items');
?>
<li<?php if($hasItems):?> class="parent"<?php endif;?>><a href="<?php echo $variables['link'];?>"<?php if($hasItems):?> data-title="category-<?php echo $variables['id'];?>"<?php endif;?>><?php echo $variables['name'];?></a></li>
