<?php
/** @var umiTemplaterPHP|BaseExtension|OrmcoExtension $this */
/** @var array $variables */

$bHasMultipleUl = false;

foreach($variables['items'] as $level3Item) {
    if(!isset($level3Item['items'])) {
        continue;
    }
    
    $bHasMultipleUl = true;
    break;
}
?>
<div class="swiper-slide">
    <div class="sub_children" id="category-<?php echo $variables['parent-id'];?>">
        <?php if($bHasMultipleUl):?>
            <?php foreach($variables['items'] as $level3Item):?>
                <ul>
                    <?php if(isset($level3Item['items'])):?>
                        <li class="catpopup_title"><?php echo $level3Item['name'];?></li>
                        <?php foreach($level3Item['items'] as $level4Item):?>
                            <li><a href="<?php echo $level4Item['link'];?>"><?php echo $level4Item['name'];?></a></li>
                        <?php endforeach;?>
                    <?php else:?>
                        <li><a href="<?php echo $level3Item['link'];?>"><?php echo $level3Item['name'];?></a></li>
                    <?php endif;?>
                </ul>
            <?php endforeach;?>
        <?php else:?>
            <ul>
                <?php foreach($variables['items'] as $level3Item):?>
                    <li><a href="<?php echo $level3Item['link'];?>"><?php echo $level3Item['name'];?></a></li>
                <?php endforeach;?>
            </ul>
        <?php endif;?>
    </div>
</div>
