<?php
/** @var umiTemplaterPHP|BaseExtension|OrmcoExtension $this */
/** @var array $variables */
$templateResources = $this->getTemplateResources();
?>
<div class="modal" id="modal_country">
    <div class="modal_header">
        <div class="modal_title">Please select your country</div>
    </div>
    <div class="countries">
        <div class="countries_title">Americas</div>
        <ul class="countries_list">
            <li>
                <a href="https://ormco.com/" target="_blank" class="countries_btn">
                    <img src="<?php echo $templateResources;?>/assets/images/flags/canada.svg" alt="" />
                    <span>Canada</span>
                </a>
            </li><li>
                <a href="https://ormco.com/" target="_blank" class="countries_btn">
                    <img src="<?php echo $templateResources;?>/assets/images/flags/usa.svg" alt="" />
                    <span>USA</span>
                </a>
            </li>
        </ul>
    </div>
    <div class="countries">
        <div class="countries_title">EMEA</div>
        <ul class="countries_list">
            <li>
                <a href="https://ormco.at/" target="_blank" class="countries_btn">
                    <img src="<?php echo $templateResources;?>/assets/images/flags/austria.svg" alt="" />
                    <span>Austria</span>
                </a>
            </li><li>
                <a href="https://ormco.dk/" target="_blank" class="countries_btn">
                    <img src="<?php echo $templateResources;?>/assets/images/flags/denmark.svg" alt="" />
                    <span>Denmark</span>
                </a>
            </li><li>
                <a href="https://ormco.be/" target="_blank" class="countries_btn">
                    <img src="<?php echo $templateResources;?>/assets/images/flags/belgium.svg" alt="" />
                    <span>Belgium</span>
                </a>
            </li><li>
                <a href="https://ormco.fr/" target="_blank" class="countries_btn">
                    <img src="<?php echo $templateResources;?>/assets/images/flags/france.svg" alt="" />
                    <span>France</span>
                </a>
            </li><li>
                <a href="https://ormco.de/" target="_blank" class="countries_btn">
                    <img src="<?php echo $templateResources;?>/assets/images/flags/germany.svg" alt="" />
                    <span>Germany</span>
                </a>
            </li><li>
                <a href="https://ormco.ie/" target="_blank" class="countries_btn">
                    <img src="<?php echo $templateResources;?>/assets/images/flags/ireland.svg" alt="" />
                    <span>Ireland</span>
                </a>
            </li><li>
                <a href="https://ormco.in/" target="_blank" class="countries_btn">
                    <img src="<?php echo $templateResources;?>/assets/images/flags/india.svg" alt="" />
                    <span>India</span>
                </a>
            </li><li>
                <a href="https://ormco.it/" target="_blank" class="countries_btn">
                    <img src="<?php echo $templateResources;?>/assets/images/flags/italy.svg" alt="" />
                    <span>Italy</span>
                </a>
            </li><li>
                <a href="https://ormco.be/" target="_blank" class="countries_btn">
                    <img src="<?php echo $templateResources;?>/assets/images/flags/luxembourg.svg" alt="" />
                    <span>Luxembourg</span>
                </a>
            </li><li>
                <a href="https://ormco.nl/" target="_blank" class="countries_btn">
                    <img src="<?php echo $templateResources;?>/assets/images/flags/netherlands.svg" alt="" />
                    <span>Netherlands</span>
                </a>
            </li><li>
                <a href="https://ormco.pl/" target="_blank" class="countries_btn">
                    <img src="<?php echo $templateResources;?>/assets/images/flags/poland.svg" alt="" />
                    <span>Poland</span>
                </a>
            </li><li>
                <a href="https://ormco.pt/" target="_blank" class="countries_btn">
                    <img src="<?php echo $templateResources;?>/assets/images/flags/portugal.svg" alt="" />
                    <span>Portugal</span>
                </a>
            </li><li>
                <a href="https://ormco.ru/" target="_blank" class="countries_btn">
                    <img src="<?php echo $templateResources;?>/assets/images/flags/russia.svg" alt="" />
                    <span>Russia</span>
                </a>
            </li><li>
                <a href="https://ormco.co.za/" target="_blank" class="countries_btn">
                    <img src="<?php echo $templateResources;?>/assets/images/flags/rsa.svg" alt="" />
                    <span>South Africa</span>
                </a>
            </li><li>
                <a href="https://ormco.es/" target="_blank" class="countries_btn">
                    <img src="<?php echo $templateResources;?>/assets/images/flags/spain.svg" alt="" />
                    <span>Spain</span>
                </a>
            </li><li>
                <a href="https://ormco.ch/" target="_blank" class="countries_btn">
                    <img src="<?php echo $templateResources;?>/assets/images/flags/switzerland.svg" alt="" />
                    <span>Switzerland</span>
                </a>
            </li><li>
                <a href="https://ormco.uk/" target="_blank" class="countries_btn">
                    <img src="<?php echo $templateResources;?>/assets/images/flags/uk.svg" alt="" />
                    <span>United Kingdom</span>
                </a>
            </li>
        </ul>
    </div>
    <a href="#" data-fancybox-close class="btn-close"></a>
</div><!-- #signup -->
