<?php
/** @var umiTemplaterPHP|BaseExtension|OrmcoExtension|UserExtension $this */
/** @var array $variables */
try {
    $result = $this->macros(
        'webforms',
        'add',
        array(
            'formId' => SiteWebformsFormFeedbackModel::object_type_id
        )
    );
} catch (Exception $e) {
    $result = false;
}

$fields = $this->getAllFormFields($result);
if(!$fields) {
    return;
}

$fieldAgree = getArrayKey($fields, SiteWebformsFormFeedbackModel::field_agree);
if($fieldAgree) {
    unset($fields[SiteWebformsFormFeedbackModel::field_agree]);
}

$fieldLink = getArrayKey($fields, SiteWebformsFormFeedbackModel::field_link);
if($fieldLink) {
    unset($fields[SiteWebformsFormFeedbackModel::field_link]);
}

$fields = $this->sortFeedbackFields($fields);

$isAuth = $this->getUserIsAuth();

$this->addScriptFile($this->getTemplateResources() . '/assets/js/site/webforms.js' . $this->getTemplateVersion());
?>
<div class="modal" id="modal_feedback">
    <div class="modal_header">
        <div class="modal_title">Задать вопрос</div>
    </div>
    <form action="/webforms/pre_send/" method="POST" data-webforms="form">
        <?php echo $this->render(array(
            BaseExtension::assets_webforms_system_fields_param_form => $result
        ), BaseExtension::assets_webforms_system_fields);?>
        
        <?php if($fieldLink):?>
            <input type="hidden" name="<?php echo $fieldLink['input_name'];?>" value="<?php echo $this->getRequestUri();?>" />
        <?php endif;?>
        
        <?php foreach($fields as $fieldName => $field) {
            $params = array(
                OrmcoExtension::assets_field_param_field => $field
            );
            
            switch($fieldName) {
                case SiteWebformsFormFeedbackModel::field_name: {
                    if($isAuth) {
                        $params[OrmcoExtension::assets_field_param_value] = SiteUsersUserModel::getUserFullName($this->getUser());
                    }
                    break;
                }
                case SiteWebformsFormFeedbackModel::field_email: {
                    $params[OrmcoExtension::assets_field_param_input_type] = 'email';
                    if($isAuth) {
                        $params[OrmcoExtension::assets_field_param_value] = $this->getUserValue(SiteUsersUserModel::field_email);
                    }
                    break;
                }
                case SiteWebformsFormFeedbackModel::field_phone: {
                    $params[OrmcoExtension::assets_field_param_input_type] = 'tel';
                    if($isAuth) {
                        $params[OrmcoExtension::assets_field_param_value] = $this->getUserValue(SiteUsersUserModel::field_phone);
                    }
                    break;
                }
                case SiteWebformsFormFeedbackModel::field_city: {
                    if($isAuth) {
                        $params[OrmcoExtension::assets_field_param_value] = $this->getUserValue(SiteUsersUserModel::field_city);
                    }
                    break;
                }
            }
            
            echo $this->render($params, OrmcoExtension::assets_field_default);
        }?>

        <div class="input-field input-field-webforms-phone">
            <div class="input-float input-float-text">
                <label>Телефон</label>
                <input type="text" name="data[new][phone_call]" value="" />
            </div>
        </div>

        <?php if($fieldAgree && ($policyPageLink = $this->getCommonVar(OrmcoExtension::pages_policy_link))):?>
            <div class="input-field">
                <label class="check-field">
                    <input type="checkbox" name="<?php echo $fieldAgree['input_name'];?>" value="1" required="required" />
                    Согласие с условиями <a href="<?php echo $policyPageLink;?>" target="_blank">политики конфиденциальности</a>
                </label>
            </div>
        <?php endif;?>
        <div class="input-field">
            <input type="submit" value="Отправить" class="btn btn-xl btn-light btn-block">
        </div>
    </form>
    <a href="#" data-fancybox-close class="btn-close"></a>
</div>

<div class="modal" id="modal_feedback_success">
    <p>Спасибо за сообщение! Мы ответим по e-mail в течение 1-2 дней.</p>
    <a href="#" data-fancybox-close class="btn-close"></a>
</div>