<?php
/** @var umiTemplaterPHP|BaseExtension|OrmcoExtension $this */
/** @var array $variables */

$templateResources = $this->getTemplateResources();

$templateFilePath = $this->getTemplateFilePath(__FILE__);

try {
    $content = $this->render(null, $templateFilePath . '/modules/' . $this->getModule() . '/' . $this->getMethod());
} catch (Exception $e) {
    $buffer = outputBuffer::current('HTTPOutputBuffer');
    if ($buffer instanceof HTTPOutputBuffer) {
        $buffer->status('503 Service unavailable');
    }
    if (permissionsCollection::getInstance()->isSv() && getRequest('debug')) {
        $message = $e->getMessage();
    } else {
        $message = 'Произошла ошибка';
    }
    
    $content = $this->render(array(
        OrmcoExtension::assets_errors_param_items => $message
    ), OrmcoExtension::assets_errors);
}
?>
<!DOCTYPE html>
<html>
<head lang="ru">
    <?php echo $this->render(null, $templateFilePath . '/assets/head');?>
    
    <?php echo $this->getOrmcoSettingsValue('scripts_head');?>
</head>
<body>
    <?php echo $this->render(null, $templateFilePath . '/assets/mobile_header');?>
    
    <?php echo $this->render(null, $templateFilePath . '/assets/header');?>
    
    <?php echo $this->render(null, $templateFilePath . '/assets/panel');?>
    
    <?php echo $this->render(null, $templateFilePath . '/assets/alert');?>
    
    <?php echo $this->render(null, $templateFilePath . '/assets/alert_dadata');?>
    
    <?php echo $content;?>

    <?php echo $this->render(null, $templateFilePath . '/assets/bottom');?>
    
    <?php echo $this->render(null, $templateFilePath . '/assets/footer');?>
    
    <?php echo $this->render(null, $templateFilePath . '/assets/mobile_footer');?>

    <?php echo $this->renderModal();?>

    <a href="#" id="ontop">
        <span class="ontop_inner"></span>
        <span class="ontop_hover"></span>
    </a>
    
    <?php echo $this->render(null, $templateFilePath . '/assets/js');?>

    <div style="display: none;">
        <?php echo $this->getOrmcoSettingsValue('metriks');?>
    </div>
</body>
</html>