﻿@font-face {
    font-family: 'open_sansitalic';
    src: url('../fonts/opensans-italic.eot');
    src: url('../fonts/opensans-italic.eot?#iefix') format('embedded-opentype'), url('../fonts/opensans-italic.woff2') format('woff2'), url('../fonts/opensans-italic.woff') format('woff'), url('../fonts/opensans-italic.ttf') format('truetype'), url('../fonts/opensans-italic.svg#open_sansitalic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sansregular';
    src: url('../fonts/opensans-regular.eot');
    src: url('../fonts/opensans-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/opensans-regular.woff2') format('woff2'), url('../fonts/opensans-regular.woff') format('woff'), url('../fonts/opensans-regular.ttf') format('truetype'), url('../fonts/opensans-regular.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sanssemibold';
    src: url('../fonts/opensans-semibold.eot');
    src: url('../fonts/opensans-semibold.eot?#iefix') format('embedded-opentype'), url('../fonts/opensans-semibold.woff2') format('woff2'), url('../fonts/opensans-semibold.woff') format('woff'), url('../fonts/opensans-semibold.ttf') format('truetype'), url('../fonts/opensans-semibold.svg#open_sanssemibold') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'als_rublregular';
    src: url('../fonts/alsrubl.eot');
    src: url('../fonts/alsrubl.eot?#iefix') format('embedded-opentype'), url('../fonts/alsrubl.woff2') format('woff2'), url('../fonts/alsrubl.woff') format('woff'), url('../fonts/alsrubl.ttf') format('truetype'), url('../fonts/alsrubl.svg#als_rublregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'open_sansregular', sans-serif;
    font-size: 14px;
    line-height: 1.5;
    color: #505050;
    background-color: #f3f3f3;
}

figure {
    display: none;
}

.table {
    margin-bottom: 0px;
}

    .table tr th {
        font-size: 16px;
        background-color: #07477d;
        color: white;
        font-weight: normal;
    }

    .table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
        padding: 12px 15px;
        border: 0 none;
        text-align: center;
    }

    .table > tbody > tr > td {
        padding: 25px 15px;
        background-color: #f3f3f3;
        color: black;
        white-space: inherit;
    }

    .table tr:nth-of-type(2n) td {
        background-color: #e7e7e8;
    }

a, a:active, a:focus, a:visited {
    color: #377bb5;
}

    a:hover {
        color: #94b3ce;
    }

    a, a:hover, a:focus, a:visited {
        text-decoration: none;
        outline: none;
    }

/*a:visited, a:focus {
            color: inherit;
        }*/

p i.fa {
    position: relative;
    margin-right: 8px;
}

input[type=checkbox]:focus, input[type=checkbox]:active {
    outline: none;
}

input[type=radio] {
    position: relative;
    top: 2px;
    margin-right: 4px;
}

ul, ol {
    list-style: none;
    padding: 0;
    margin: 0;
    color: black;
}

h1, h2, h3, h4, h5, h6, .header2, .header3, .header4, .header5, .header {
    color: #07477d;
    margin: 20px 0 15px;
    line-height: 1.5;
}

h2, .header2 {
    font-size: 30px;
}

h3, .header3 {
    font-size: 25px;
}

    .header3 .glyphicon {
        top: 4px;
        position: relative;
        font-size: 110%;
        margin-right: 10px;
    }

h4, .header4 {
    font-size: 18px;
}

h5, .header5 {
    font-size: 16px;
}

i.fa {
    margin-right: 7px;
    position: relative;
    top: -1px;
}

h1 i.fa, h2 i.fa, h3 i.fa, h4 i.fa, h5 i.fa, h6 i.fa, .header2 i.fa, .header3 i.fa, .header4 i.fa, .header i.fa {
    margin-right: 10px;
    top: 0px;
}

p > .fa, span > .fa {
    margin-right: 5px;
    width: 17px;
    text-align: center;
    color: inherit;
}

b, strong {
    font-weight: normal;
    font-family: open_sanssemibold;
}

hr {
    border-top: 1px solid #ebebeb;
}

ul.disc {
    padding-left: 0px;
}

    ul.disc li {
        position: relative;
        padding-left: 32px;
        line-height: 1.4;
    }

        ul.disc li:before {
            content: "";
            display: inline-block;
            position: absolute;
            width: 10px;
            height: 10px;
            top: 5px;
            left: 4px;
            border-radius: 50%;
            background-color: #377bb5;
        }

    ul.disc.two-columns {
        columns: 2;
        -webkit-columns: 2;
        -moz-columns: 2;
        margin-top: -7px;
    }

        ul.disc.two-columns li:first-child {
            margin-top: 7px;
        }

form ::-webkit-input-placeholder {
    color: #f3f3f3;
    opacity: 0;
}

form :-moz-placeholder {
    color: #f3f3f3 !important;
    opacity: 0;
}

form ::-moz-placeholder {
    color: #f3f3f3 !important;
    opacity: 0;
}

form :-ms-input-placeholder {
    color: #f3f3f3;
    opacity: 0;
}

label {
    font-weight: normal;
}

.form-group {
    padding-top: 5px;
    margin-bottom: 10px;
}

    .form-group label {
        line-height: 40px;
        margin: 0;
    }

        .form-group label.required:after {
            content: '*';
            color: #07477d;
        }

    .form-group textarea {
        min-height: 120px;
    }

.form-control {
    background-color: #f3f3f3;
    border-color: #b7b7b7;
    height: 40px;
}

.rub {
    font-family: als_rublregular;
}

div.btn-group.bootstrap-select.small {
    width: auto !important;
    display: inline-block !important;
    margin: 0 !important;
}

    div.btn-group.bootstrap-select.small button {
        padding: 0px;
        min-width: 43px;
        border-radius: 0;
    }

        div.btn-group.bootstrap-select.small button:focus, div.bootstrap-select.small button:hover,
        div.btn-group.bootstrap-select.small button:visited, div.btn-group.bootstrap-select.small:focus {
            outline: none !important;
        }

        div.btn-group.bootstrap-select.small button.dropdown-toggle span.caret {
            right: 13px;
            top: 20%;
            color: #265e8d;
        }

    div.btn-group.bootstrap-select.small.btn-group .dropdown-menu {
        border-radius: 0;
        padding: 0;
        width: 100%;
        top: 19px;
    }

        div.btn-group.bootstrap-select.small.btn-group .dropdown-menu li {
            text-align: center;
        }

            div.btn-group.bootstrap-select.small.btn-group .dropdown-menu li a {
                padding: 0;
                font-size: 13px;
            }

    div.btn-group.bootstrap-select.small.btn-group .dropdown-toggle .filter-option {
        text-align: right;
        font-family: 'open_sansregular';
        padding-right: 16px;
        font-size: 13px;
    }

.tooltip.in {
    opacity: 1;
}

.tooltip-inner {
    background-color: white;
    opacity: 1;
    color: black;
    border-radius: 2px;
    border: 1px solid #07477d;
    text-align: left;
    padding: 8px 8px;
    max-width: 310px;
    min-width: 310px;
    font-family: open_sansregular;
}

.tooltip.top .tooltip-arrow {
    border-top-color: #07477d;
}

    .tooltip.top .tooltip-arrow:after {
        content: '';
        position: absolute;
        width: 0;
        height: 0;
        border-color: transparent;
        border-style: solid;
        top: -6px;
        left: 50%;
        margin-left: -4px;
        border-width: 5px 4px 0px;
        border-top-color: #fff;
    }

.top-arrow, .search-btn-for-filters {
    display: block;
    position: fixed;
    width: 45px;
    height: 45px;
    right: 40px;
    border-radius: 45px;
    border: 1px solid #6a91b1;
    /*background-color: #fafafa;*/
    bottom: 50px;
    display: none;
    text-align: center;
    /*box-shadow: 0px 0px 2px #949494;*/
    z-index: 1400;
}

    .top-arrow:after {
        content: '\f106';
        display: inline-block;
        color: #6a91b1;
        font-size: 23px;
        margin-top: 8px;
        line-height: 1;
        font-family: fontAwesome;
    }

    .top-arrow:hover {
        background-color: #377bb5;
        border-color: #377bb5;
    }

        .top-arrow:hover:after {
            color: #fff;
        }

.search-btn-for-filters {
    display: none;
    bottom: 100px;
}

    .search-btn-for-filters i.fa {
        line-height: 45px;
        margin: 0;
        font-size: 16px;
    }

.iframe-container {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
}

    .iframe-container > * {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: 0;
        padding: 0;
        height: 100%;
        width: 100%;
    }

.blue {
    color: #07477d;
}



.btn {
    border-radius: 3px;
    padding: 9px 20px;
    transition: all .3s;
    -o-transition: all .3s;
    -ms-transition: all .3s;
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
    font-family: 'open_sanssemibold';
}

.btn-primary, .btn-primary:visited, .btn-primary:focus {
    background-color: #07477d;
    border: 1px solid transparent;
    color: white;
    outline: none;
}

    .btn-primary:hover {
        background-color: #2ba8eb;
        border: 1px solid transparent;
        outline: none;
    }

.btn-green, .btn-green:visited, .btn-green:focus {
    background-color: #81e473;
    border: 1px solid transparent;
    color: white;
}

    .btn-green:hover {
        background-color: #6bcf5d;
        border: 1px solid transparent;
        color: white;
    }

.btn-show-details, .btn-show-details:focus, .btn-show-details:visited, .btn-show-details:active {
    width: 100%;
    border-radius: 0 !important;
    padding: 15px 20px !important;
    background-color: #2ba8eb !important;
}

    .btn-show-details:hover {
        background-color: #07477d !important;
    }

    .btn-show-details span:last-child, .btn-show-details.collapsed span:first-child {
        display: inline-block;
    }

    .btn-show-details.collapsed span:last-child, .btn-show-details span:first-child {
        display: none;
    }

.btn-white, .btn-white:visited, .btn-white:focus {
    border: 2px solid white;
    color: white;
}

    .btn-white:hover {
        color: #c9d6e2;
    }

.btn-blue, .btn-orange {
    background-color: #07477d;
    color: white;
    cursor: default;
}

    .btn-blue:hover, .btn-orange:hover {
        color: white;
    }

.btn-orange {
    background-color: #f68e56;
}

.btn-buy {
    /*padding: 2px 45px 2px 8px;*/
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

    .btn-buy:before {
        content: "\f07a";
        font-family: 'FontAwesome';
        display: inline-block;
        font-size: 20px;
        color: white;
        margin-right: 20px;
    }

    .btn-buy:hover, .btn-buy:focus {
        background-color: #2aa8ec !important;
    }

a.link-btn {
    padding: 7px 15px 8px 15px;
    border: 1px solid #396c97;
    border-radius: 22px;
    color: white;
    display: inline-block;
}

    a.link-btn:hover, a.link-btn:focus {
        color: #94b3ce;
    }

.lnk-go-to {
    float: right;
    display: inline-block;
    margin: 15px 0px 20px;
    margin-left: auto;
    margin-right: -10px;
    padding-right: 15px;
}

    .lnk-go-to .fa {
        top: 0px;
        font-size: 13px;
        right: -5px;
        transition: all .3s;
        -o-transition: all .3s;
        -ms-transition: all .3s;
        -moz-transition: all .3s;
        -webkit-transition: all .3s;
    }

    .lnk-go-to:hover .fa {
        right: -10px;
    }

.navbar {
    margin-bottom: 0;
}

.right-nav, .left-nav {
    margin-bottom: 30px;
    border: 1px solid #d1d2d4;
    border-top: 6px solid #07477d;
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.2);
    background-color: white;
}

    .right-nav ul, .left-nav ul {
        padding: 5px 0;
    }

        .right-nav ul li, .left-nav ul li {
            border-bottom: 1px solid #e5f1ff;
            margin: 0 5px;
        }

            .right-nav ul li:last-child, .left-nav ul li:last-child {
                border-bottom: none;
            }

            .right-nav ul li a, .right-nav ul li a:visited, .right-nav ul li a:focus,
            .left-nav ul li a, .left-nav ul li a:visited, .left-nav ul li a:focus {
                width: 100%;
                display: block;
                padding: 4px 13px;
                color: #505050;
            }

                .right-nav ul li.active a, .right-nav ul li a:hover,
                .left-nav ul li.active a, .left-nav ul li a:hover {
                    color: #07477d;
                }

.left-nav {
    border-top-color: #7ed0fc;
}

.right-pnl > a > img, .left-pnl > a > img {
    border: 1px solid #d1d2d4;
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.2);
    width: 100%;
    margin-bottom: 20px;
    display: block;
}

.pswp__caption__center br, .pswp__caption__center small {
    display: none;
}

.news {
    margin-top: 30px;
}

    .news .white-pnl-border {
        min-height: 480px;
    }

    .news ul {
        padding: 0;
        list-style: none;
    }

        .news ul li {
            margin-top: 19px;
        }

            .news ul li a {
                display: block;
                font-size: 16px;
            }

            .news ul li .date {
                display: block;
                font-size: 12px;
                color: #787878;
                margin-bottom: 4px;
            }

            .news ul li p {
                color: black;
                font-size: 14px;
            }

.white-pnl-border {
    background-color: white;
    padding: 20px 30px;
    border: 1px solid #d1d2d4;
}

    .white-pnl-border > .header:first-child {
        font-size: 26px;
        margin: 0 0 20px;
        color: #07477d;
    }

.categories .item, .special-offers .item, .products .item {
    margin-top: 30px;
}

    .categories .item a, .special-offers .item a, .white-pnl,
    .products .item a {
        background-color: #fff;
        display: block;
        padding: 25px 20px 15px;
        text-align: center;
        -webkit-box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.15);
        -moz-box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.15);
        box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.15);
    }

.white-pnl {
    padding: 25px 13px 10px 13px;
    padding: 20px 30px;
    text-align: left;
    margin-top: 30px;
}

.social-share {
    padding: 45px 0;
}

.breadcrumb {
    padding: 5px 0px;
    margin-bottom: 0px;
    list-style: none;
    background-color: transparent;
}

    .breadcrumb > li + li:before {
        padding: 0px;
        color: #505050;
    }

    .breadcrumb > .active, .breadcrumb > li a {
        color: #505050;
        font-size: 12px;
    }

        .breadcrumb > li a:hover {
            color: #94b3ce;
        }

.page-header {
    padding: 11px 0;
    margin: 0px 0 30px;
    margin: 10px 0 20px;
    background-color: transparent;
    border: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    text-align: left;
}

    .page-header h1 {
        margin: 9px 0 11px;
        font-size: 30px;
        line-height: 1;
        display: inline;
    }

    .page-header i.fa, .page-header i.glyphicon {
        display: inline-block;
        font-size: 27px;
        display: inline-block;
        color: #07477d;
        position: relative;
        top: 0px;
        margin-right: 10px;
    }

    /*.page-header i.glyphicon {
        margin-right: 10px;
        font-size: 28px;
        display: inline-block;
        color: #07477d;
        position: relative;
        top: 0px;
    }*/

    .page-header .container-fluid {
        position: relative;
    }

    .page-header .info-lnk {
        /*position: absolute;
    right: 15px;
    top: 1px;*/
        float: right;
        padding-top: 3px;
        line-height: 1;
    }

        .page-header .info-lnk i.fa {
            color: #2aa8ec;
            margin: 0;
            font-size: 32px;
        }

        .page-header .info-lnk:hover i.fa {
            color: #07477d;
        }

.categories .item .img-wrapper, .products .item .img-wrapper {
    width: 100%;
    height: 210px;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    max-width: 100%;
    max-height: 100%;
    margin-left: auto;
    margin-right: auto;
}

    .categories .item .img-wrapper img, .products .item .img-wrapper img {
        display: inline-block;
        width: 100%;
    }

.categories .item .title, .products .item .title {
    min-height: 55px;
    color: #3b3b3b;
    line-height: 26px;
    font-size: 18px;
    margin: 10px 0 0;
}

.categories .item a:hover .title, .products .item a:hover .title {
    color: #94b3ce;
}

.categories .item .price {
    color: #787878;
    margin-top: 10px;
    font-size: 15px;
}

    .categories .item .price .rub {
        font-size: 16px;
    }

.special-offers .header {
    font-size: 26px;
    margin: 30px 0 0px;
}

.special-offers .item a {
    min-height: 360px;
    vertical-align: middle;
    position: relative;
    padding-bottom: 65px;
}

    .special-offers .item a .title {
        line-height: 20px;
        margin-top: 15px;
    }

        .special-offers .item a .title.big {
            font-size: 18px;
        }


    .special-offers .item a .description {
        color: #787878;
        font-size: 12px;
    }

    .special-offers .item a img {
        max-height: 100%;
        max-width: 100%;
    }

    .special-offers .item a .price {
        font-size: 18px;
        position: absolute;
        width: 100%;
        left: 0;
        bottom: 25px;
    }

        .special-offers .item a .price .red {
            color: #e23838;
            margin-right: 10px;
        }

        .special-offers .item a .price .line-through {
            text-decoration: line-through;
            color: #818181;
        }

.circled-icon, .circled-icon:focus, .circled-icon:visited {
    width: 40px;
    height: 40px;
    border-radius: 40px;
    border: 1px solid #75a8a9;
    color: white;
    display: block;
    text-align: center;
}

    .circled-icon i {
        line-height: 40px;
        margin: 0;
        top: 0;
    }

    .circled-icon:hover {
        color: #94b3ce;
    }

.textbox {
    border-radius: 40px;
    border: 1px solid #75a8a9;
    height: 40px;
    background-color: transparent;
    font-size: 13px;
    color: white;
    outline: none;
    padding: 0 35px 0 20px;
}


.caret {
    font: normal normal normal 14px/1 FontAwesome;
    border: none;
    margin-top: -15px;
    margin-left: 4px;
}

    .caret:before {
        content: "\f107";
    }

/*Header*/
header {
    background-color: #07477d;
}

    header .top .navbar-collapse.collapse, header .top .navbar-collapse.collapse.in {
        display: block;
    }

    header .top {
        background-color: transparent;
        border: 1px solid #45759e;
    }

        header .top .navbar-brand .logo-min {
            display: none;
        }

        header .top.navbar-default .navbar-nav > li > a {
            color: white;
            padding: 15px 12px;
        }

        header .top.navbar-default .navbar-nav > li.dropdown > a {
            padding: 15px 19px;
        }

        header .top.navbar-default .navbar-nav > li.dropdown.open > a > .caret:before {
            content: "\f106";
        }

        header .top.navbar-default .navbar-nav > li > a:focus,
        header .top.navbar-default .navbar-nav > li > a:hover,
        header .top.navbar-default .navbar-nav > li > a.active {
            color: #94b3ce;
        }

        header .top.navbar-default .navbar-nav > .open > a,
        header .top.navbar-default .navbar-nav > .open > a:focus,
        header .top.navbar-default .navbar-nav > .open > a:hover {
            background-color: transparent;
            color: #94b3ce;
        }

        header .top.navbar-default .dropdown-menu {
            box-shadow: none;
            -webkit-box-shadow: none;
            border: none;
            background-color: #377bb5;
            border-radius: 0;
            margin: -10px 15px 0;
            padding: 0px;
        }

        header .top.navbar-default .navbar-nav > .active > a, header .top.navbar-default .navbar-nav > .active > a:focus, header .top.navbar-default .navbar-nav > .active > a:hover {
            background-color: transparent;
            color: #94b3ce;
        }

        header .top .dropdown-menu > li > a:focus,
        header .top .dropdown-menu > li > a:hover,
        header .top .dropdown-menu > li.active > a {
            color: #94b3ce;
            background-color: transparent;
        }

        header .top .dropdown-menu > li > a {
            color: white;
            padding: 9px 15px 10px 15px;
            border-bottom: 1px solid #5f95c4;
        }

        header .top.navbar-default .navbar-collapse {
            padding: 0;
            margin-left: -15px;
        }

        header .top .navbar-nav {
            width: 100%;
        }

        header .top .instruct-center {
            padding-left: 15px;
            margin-left: 17px;
            border-left: 1px solid #45759e;
        }

        header .top .search-pnl {
            position: relative;
            float: right;
            margin-top: 10px;
        }

            header .top .search-pnl input[type="text"] {
                width: 160px;
                border-radius: 14px;
                line-height: 30px;
                height: 30px;
                border: none;
                padding-left: 14px;
                background-color: #377bb5;
                outline: 0;
                font-size: 12px;
                color: white;
            }

                header .top .search-pnl input[type="text"]:hover, header .top .search-pnl input[type="text"]:focus {
                    color: #505050;
                }

                header .top .search-pnl input[type="text"]::-webkit-input-placeholder {
                    color: white;
                }

                header .top .search-pnl input[type="text"]::-moz-placeholder {
                    color: white;
                    opacity: 1;
                }

                header .top .search-pnl input[type="text"]:-ms-input-placeholder {
                    color: white;
                }

                header .top .search-pnl input[type="text"]:-moz-placeholder {
                    color: white;
                    opacity: 1;
                }

                header .top .search-pnl input[type="text"]:hover, header .top .search-pnl input[type="text"]:focus {
                    background-color: white;
                }

                    header .top .search-pnl input[type="text"]:hover::-webkit-input-placeholder {
                        color: #c9d6e2;
                    }

                    header .top .search-pnl input[type="text"]:hover::-moz-placeholder {
                        color: #c9d6e2;
                        opacity: 1;
                    }

                    header .top .search-pnl input[type="text"]:hover:-ms-input-placeholder {
                        color: #c9d6e2;
                    }

                    header .top .search-pnl input[type="text"]:hover:-moz-placeholder {
                        color: #c9d6e2;
                        opacity: 1;
                    }

                    header .top .search-pnl input[type="text"]:focus::-webkit-input-placeholder {
                        color: #c9d6e2;
                    }

                    header .top .search-pnl input[type="text"]:focus::-moz-placeholder {
                        color: #c9d6e2;
                        opacity: 1;
                    }

                    header .top .search-pnl input[type="text"]:focus:-ms-input-placeholder {
                        color: #c9d6e2;
                    }

                    header .top .search-pnl input[type="text"]:focus:-moz-placeholder {
                        color: #c9d6e2;
                        opacity: 1;
                    }


                header .top .search-pnl input[type="text"] + span {
                    position: absolute;
                    top: 8px;
                    right: 15px;
                    line-height: 1;
                    font-size: 14px;
                    display: block;
                    font-family: 'FontAwesome';
                }

                    header .top .search-pnl input[type="text"] + span:after {
                        content: '\f002';
                        display: block;
                        color: white;
                    }

                header .top .search-pnl input[type="text"]:hover + span:after, header .top .search-pnl input[type="text"]:focus + span:after {
                    color: #2aa8ec;
                }


        header .top .search {
            float: right;
            margin: 0;
            position: relative;
            width: 17%;
        }

    header .middle {
        min-height: 85px;
    }

        header .middle .navbar-brand {
            margin-left: -15px;
            display: inline-block;
            height: auto;
        }

        header .middle ul {
            font-size: 13px;
            list-style: none;
            color: white;
            margin-top: 27px;
            float: left;
            margin-left: 10px;
        }

            header .middle ul.info span {
                display: block;
                line-height: 1.6;
            }

            header .middle ul li, footer .top ul.info li {
                float: left;
                margin-right: 50px;
            }

                header .middle ul li:nth-child(1) {
                    margin-right: 30px;
                }

                header .middle ul li .phone, footer .top ul.info li .phone {
                    font-size: 22px;
                    line-height: 1.2;
                    color: white;
                }

                header .middle ul li .address, footer .top ul.info li .address {
                    font-size: 12px;
                    display: block;
                    color: #7f9eb2;
                }

        header .middle a.basket, header .top a.basket, header .top a.login {
            color: white;
            font-size: 16px;
            position: relative;
            float: right;
        }

            header .middle a.basket:hover, header .top a.basket:hover, header .top a.login:hover {
                color: #94b3ce;
            }

            header .middle a.basket.active {
                color: #94b3ce;
            }

                header .middle a.basket:hover > span, header .middle a.basket.active > span {
                    color: white;
                }



    header .top a.basket, header .top a.login {
        display: inline-block;
        padding: 21px 15px;
        border: 1px solid #45759e;
        border-bottom: none;
        border-top: none;
    }

    header .middle a.basket {
        margin-top: 26px;
    }

    header .top a.login {
        padding: 25px 17px 25px 30px;
        border-left: none;
    }

    header .middle a.basket > span, header .top a.basket > span {
        display: inline-block;
        top: -6px;
        left: 25px;
        border-radius: 50%;
        background-color: #2aa8ec;
        line-height: 20px;
        position: absolute;
        font-size: 12px;
        font-weight: 600;
        min-width: 21px;
        height: 21px;
        text-align: center;
    }

    header .middle a.basket:before, header .top a.basket:before, header .top a.login:before {
        content: "\f07a";
        font-size: 38px;
        font-family: 'FontAwesome';
        color: #07477d;
        display: inline-block;
        text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
        vertical-align: middle;
        margin-right: 15px;
        line-height: 1;
        position: relative;
        top: -2px;
    }

    header .top a.login:before {
        content: "\f023";
        font-size: 30px;
        color: white;
        text-shadow: none;
    }

    header .top a.basket > span {
        top: 20px;
        left: 39px;
        color: white;
    }

    header .middle .navbar-brand > img {
        height: 58px;
        width: auto;
    }

    header .middle a.basket:after {
        content: "\f105";
        font-family: 'FontAwesome';
        text-align: center;
        width: 25px;
        height: 25px;
        display: inline-block;
        line-height: 21px;
        border-radius: 50%;
        border: 1px solid #2b6290;
        vertical-align: middle;
        margin-left: 18px;
    }

    header .bottom {
        padding: 5px 0 20px 0;
    }

        header .bottom .dropdown {
            display: inline-block;
        }

        header .bottom .btn-primary {
            background-color: #377bb5;
            border-radius: 20px;
            padding: 9px 22px 8px 17px;
            outline: none !important;
        }

            .header .bottom .btn-primary:visited, header .bottom .btn-primary:focus, header .bottom .btn-primary:hover,
            header .bottom .open .btn-primary, header .bottom .btn-primary.active {
                background-color: #94b3ce;
            }

            header .bottom .btn-primary .caret {
                padding-left: 3px;
            }

        header .bottom .open .btn-primary .caret:before {
            content: "\f106";
        }

        header .bottom .multi-level {
            background-color: #07477d;
            border-radius: 0;
            padding: 15px 0px;
            margin-top: 19px;
        }

            header .bottom .multi-level .dropdown-submenu > ul {
                min-width: 290px;
            }

            header .bottom .multi-level li a {
                border: none;
                color: white;
                padding: 5px 30px;
                position: relative;
            }

                header .bottom .multi-level li a:hover, header .bottom .multi-level li a:focus {
                    background-color: transparent;
                }

            header .bottom .multi-level .dropdown-submenu > .dropdown-menu {
                top: 0;
                left: 100%;
                margin-left: -1px;
                margin-top: -1px;
                padding: 15px 0;
                box-shadow: none;
                min-height: calc(100% + 2px);
                border-radius: 0;
                background-color: #07477d;
                border: 1px solid rgba(0,0,0,.15);
                border-left: none;
                border-right: none;
            }

            header .bottom .multi-level .second-level > ul {
                background-color: #377bb5 !important;
            }

            header .bottom .multi-level .dropdown-submenu ul:after {
                content: "";
                display: inline-block;
                position: absolute;
                top: 50%;
                border-style: solid;
                border-width: 12px 0 12px 10px;
                border-color: transparent transparent transparent #07477d;
                margin-top: -15px;
            }

            header .bottom .multi-level .second-level ul ul:after {
                border-color: transparent transparent transparent #377bb5;
            }

            header .bottom .multi-level li.dropdown-submenu > a:after {
                content: "\f105";
                display: inline-block;
                font-family: 'FontAwesome';
                position: absolute;
                right: 25px;
                top: 5px;
            }

        header .bottom ul a:hover,
        header .bottom ul a:focus,
        header .bottom .dropdown-submenu.open > a {
            color: #94b3ce;
        }

        header .bottom .support-links {
            display: inline-block;
            margin-left: 25px;
        }

            header .bottom .support-links a {
                margin-right: 40px;
            }

                header .bottom .support-links a:first-child:before, header .bottom .support-links a:last-child:before,
                footer .top .ask-question:before, footer .middle .ask-question:before {
                    content: "\f0e0";
                    font-family: 'FontAwesome';
                    margin-right: 10px;
                }

                header .bottom .support-links a:last-child:before {
                    content: "\f15b";
                }

        header .bottom .welcome-txt {
            display: none;
        }

        header .bottom .sign-links {
            display: inline-block;
            float: right;
        }

            header .bottom .sign-links a {
                padding: 7px 20px 8px 20px;
            }

                header .bottom .sign-links a:first-child {
                    border-bottom-right-radius: 0px;
                    border-top-right-radius: 0px;
                    border-right: none;
                }

                header .bottom .sign-links a:last-child {
                    border-bottom-left-radius: 0px;
                    border-top-left-radius: 0px;
                }

                header .bottom .sign-links a.active {
                    color: #94b3ce;
                }

    header .top.navbar-default .navbar-toggle:focus,
    header .top.navbar-default .navbar-toggle:hover,
    header .top.navbar-default .navbar-toggle {
        background-color: transparent;
        border-width: 0;
        padding: 30px 28px;
        margin: 0;
    }

        header .top.navbar-default .navbar-toggle .icon-bar {
            height: 4px;
            width: 25px;
            background-color: white;
        }

    header .top.navbar-default .navbar-collapse,
    header .top.navbar-default .navbar-form {
        border: none;
    }

    header .top .navbar-header a.navbar-brand {
        margin-top: 5px;
    }

        header .top .navbar-header a.navbar-brand img {
            height: 42px;
            width: auto;
        }
/*Header*/

/*Footer*/
footer {
    background-color: #07477d;
    color: white;
    padding-bottom: 40px;
}

    footer .top {
        padding-top: 30px;
    }

        footer .top ul.info li {
            margin-right: 40px;
        }

            footer .top ul.info li .address {
                line-height: 1.2;
            }

        footer .top .ask-question, footer .middle .ask-question {
            vertical-align: middle;
            margin-left: 50px;
            margin-top: 3px;
        }

        footer .top ul.social-icons, footer .bottom ul.social-icons {
            float: right;
            margin-top: 3px;
        }

            footer .top ul.social-icons li, footer .bottom ul.social-icons li {
                display: inline-block;
                margin-left: 17px;
            }

    footer .middle {
        padding-top: 17px;
    }

        footer .middle .subscription-pnl {
            display: inline-block;
            margin-top: 25px;
        }

            footer .middle .subscription-pnl input[type="text"] {
                height: 40px;
                line-height: 40px;
                padding-left: 20px;
                border-bottom-left-radius: 20px;
                border-top-left-radius: 20px;
                border: none;
                vertical-align: middle;
                font-size: 12px;
                color: #505050;
                outline: none;
                width: 155px;
            }

                footer .middle .subscription-pnl input[type="text"]::-webkit-input-placeholder {
                    color: #7f9eb2;
                }

                footer .middle .subscription-pnl input[type="text"]::-moz-placeholder {
                    color: #7f9eb2;
                    opacity: 1;
                }

                footer .middle .subscription-pnl input[type="text"]:-ms-input-placeholder {
                    color: #7f9eb2;
                }

                footer .middle .subscription-pnl input[type="text"]:-moz-placeholder {
                    color: #7f9eb2;
                    opacity: 1;
                }

            footer .middle .subscription-pnl button {
                height: 40px;
                line-height: 40px;
                padding: 0 15px;
                border-bottom-right-radius: 20px;
                border-top-right-radius: 20px;
                border: none;
                background-color: #2aa8ec;
                color: white;
                vertical-align: middle;
                margin-right: 20px;
            }

            footer .middle .subscription-pnl span {
                margin-top: 6px;
            }

            footer .middle .subscription-pnl button:hover, footer .middle .subscription-pnl button:focus {
                background-color: #94b3ce;
            }

        footer .middle .links {
            float: right;
            margin-top: 33px;
            font-size: 12px;
        }

            footer .middle .links li, footer .bottom .links li {
                display: inline-block;
                margin-right: 20px;
            }

                footer .middle .links li, footer .bottom .links li a {
                    color: white;
                }

        footer .middle .ask-question {
            display: none;
        }

        footer .middle ul.partners, footer .top ul.partners {
            float: right;
        }

            footer .middle ul.partners li, footer .top ul.partners li {
                display: inline-block;
                margin-left: 10px;
            }

                footer .middle ul.partners li a, footer .top ul.partners li a {
                    display: table-cell;
                    height: 73px;
                    width: 130px;
                    border: 1px solid #205a8a;
                    text-align: center;
                    vertical-align: middle;
                    border-radius: 4px;
                }

                    footer .middle ul.partners li a img, footer .top ul.partners li a img {
                        max-width: 100%;
                    }

    footer .top ul.partners {
        display: none;
        margin-top: 2px;
    }

    footer a {
        color: white !important;
    }

        footer a:hover {
            color: #94b3ce !important;
        }

    footer .menu-items {
        padding-top: 25px;
    }

        footer .menu-items ul {
            display: block;
            padding: 13px 0;
            border: 1px solid #205a8a;
            border-left: none;
            border-right: none;
            width: 100%;
            text-align: center;
        }

            footer .menu-items ul li {
                display: inline-block;
                margin: 0 33px 0 0;
                line-height: 26px;
                text-transform: uppercase;
            }

                footer .menu-items ul li:last-child {
                    margin: 0;
                }

    footer .bottom {
        padding-top: 35px;
        font-size: 12px;
    }

    footer .copyright {
        display: inline-block;
    }

        footer .copyright span:last-child {
            display: none;
        }

    footer .bottom .payment-icons {
        display: inline-block;
    }

        footer .bottom .payment-icons li {
            display: inline-block;
            margin-left: 25px;
        }

    footer .bottom .info {
        display: inline-block;
        float: right;
    }

        footer .bottom .info > span.blue {
            color: #7f9eb2;
            margin-right: 30px;
        }

        footer .bottom .info > span a {
            color: #2aa8ec !important;
        }

            footer .bottom .info > span a:hover {
                color: #94b3ce !important;
            }

    footer .bottom ul.social-icons, footer .bottom .links {
        display: none;
    }

/*Footer*/


.top-container {
    margin-top: 30px;
}

/*Home Slider*/
.top-slider.carousel {
    background-color: white;
    margin: 0 auto;
    padding: 0px;
}

    .top-slider.carousel .carousel-control {
        background: none !important;
        background-color: transparent;
        width: 55px;
        text-shadow: none;
        opacity: 1;
        color: #377bb5;
    }

    .top-slider.carousel .glyphicon, .multi-item-carousel .glyphicon {
        font-family: 'FontAwesome';
        color: #377bb5;
        margin-top: -40px;
    }

        .top-slider.carousel .glyphicon.glyphicon-chevron-left:before, .multi-item-carousel .glyphicon.glyphicon-chevron-left:before {
            content: "\f104";
            font-size: 40px;
        }

        .top-slider.carousel .glyphicon.glyphicon-chevron-right:before, .multi-item-carousel .glyphicon.glyphicon-chevron-right:before {
            content: "\f105";
            font-size: 40px;
        }

    .top-slider.carousel .carousel-control .glyphicon, .multi-item-carouse .carousel-control .glyphicon {
        color: #377bb5;
    }

        .top-slider.carousel .carousel-control .glyphicon:hover, .multi-item-carouse .carousel-control .glyphicon:hover {
            color: #01c3fc;
        }

.top-slider .carousel-inner > .item > a > img, .carousel-inner > .item > img {
    width: 100%;
}

.top-slider.carousel .carousel-indicators {
    left: auto;
    right: 0px;
    bottom: 0;
    text-align: right;
    width: 100%;
    padding: 45px 15px 0 0px;
    margin: 0;
    height: 80px;
}

    .top-slider.carousel .carousel-indicators li {
        margin: 1px 6px;
        width: 11px;
        height: 11px;
    }

.top-slider .carousel-inner > .next {
    left: 100%;
}

.top-slider .carousel-inner > .prev {
    left: -100%;
}

    .top-slider .carousel-inner > .next.left,
    .top-slider .carousel-inner > .prev.right {
        left: 0;
    }

.top-slider .carousel-inner > .active.left {
    left: -100%;
}

.top-slider .carousel-inner > .active.right {
    left: 100%;
}

.carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right {
    top: 54%;
}
/*Home Slider*/

/*Index page*/
.main-container {
    padding-bottom: 60px;
}

.top-slider .carousel-inner > .item a {
    display: block;
}


.top-container .links li {
    display: block;
}

    .top-container .links li:last-child {
        margin-top: 18px;
    }

    .top-container .links li a {
        display: block;
        text-align: center;
        padding: 12px 20px;
        min-height: 200px;
        position: relative;
    }

    .top-container .links li:last-child a {
        padding: 13px 20px 13px;
    }

    .top-container .links li a span {
        display: block;
        font-size: 18px;
        text-align: left;
        position: absolute;
        bottom: 15px;
        display: block;
        width: 88%;
    }

    .top-container .links li a:hover span {
        color: #94b3ce;
    }

    .top-container .links li a span:after {
        content: "\f105";
        font-family: 'FontAwesome';
        text-align: center;
        display: block;
        width: 14px;
        border-radius: 50%;
        background-color: #07477d;
        float: right;
        color: white;
        font-size: 14px;
        height: 14px;
        vertical-align: middle;
        padding: 0 0 0 1px;
        line-height: 14px;
        margin-top: 5px;
    }

    .top-container .links li a:hover span:after {
        background-color: #94b3ce;
    }

    .top-container .links li img {
        max-width: 100%;
        max-height: 100%;
    }


.discount .item {
    margin-top: 30px;
}

.discount a {
    display: block;
    width: 100%;
    background-color: white;
}

    .discount a.warning {
        min-height: 200px;
    }

        .discount a.warning h3 {
            color: #03c4fb;
            font-size: 23px;
            font-family: 'open_sanssemibold';
            margin-bottom: 8px;
        }

        .discount a.warning span {
            color: #006eab;
            font-size: 18px;
            font-family: 'open_sanssemibold';
        }

        .discount a.warning p {
            color: #505050;
            margin-top: 6px;
        }

        .discount a.warning .pull-left {
            width: calc(100% - 160px);
        }

        .discount a.warning i {
            font-size: 140px;
            margin-top: 12px;
            color: #03c4fb;
        }

.discount .left-discount {
    width: 100%;
    border: 1px solid #d1d2d4;
    text-align: right;
    height: auto;
}

    .discount .left-discount img {
        max-width: 100%;
    }

.discount p.title {
    color: #03c4fb !important;
    font-size: 23px;
    font-family: 'open_sanssemibold';
    margin-bottom: 8px;
    margin-top: 20px !important;
}

/*Index page*/

/*Contacts page*/
.contacts-page .main-col .address.white-pnl {
    margin-top: 0px;
}

.contacts-page .page-header i.fa-envelope {
    top: -2px;
}

.contacts-page .address {
    background-color: white;
    margin-bottom: 30px;
}

    .contacts-page .address .iframe-container {
        padding-bottom: 340px;
    }

    .contacts-page .address .bottom {
        padding: 20px;
    }

        .contacts-page .address .bottom .header3 {
            margin: 0px 0 5px;
            font-size: 20px;
        }

        .contacts-page .address .bottom .blue {
            display: inline-block;
            margin-top: 35px;
        }

        .contacts-page .address .bottom p:last-child {
            margin-bottom: 0px;
        }

.contacts-page.sales-department, .contacts-page .social-links, .contacts-page.contact-form {
    margin-top: 30px;
}

.contacts-page .dealers {
    margin-top: 0;
}

    .contacts-page .dealers p, .contacts-page .dealers p, .contacts-page .dealers i {
        color: #07477d;
        font-size: 18px;
    }

    .contacts-page .dealers i {
        top: 1px;
        font-size: 22px;
    }

    .contacts-page .dealers a {
        color: #377bb5;
        font-size: 18px;
    }

        .contacts-page .dealers a:hover {
            color: #94b3ce;
        }

    .contacts-page .dealers > a i.fa {
        margin-right: 8px;
    }

.contacts-page .sales-department {
    padding: 20px 0px 0px;
}

    .contacts-page .sales-department .header3 {
        font-size: 26px;
        margin: 0 0px 20px 0;
        padding: 0 30px;
    }

    .contacts-page .sales-department .header4 {
        padding: 0 30px;
        font-size: 18px;
        margin-top: 30px;
        margin-bottom: 15px;
        display: inline-block;
    }

        .contacts-page .sales-department .header4:first-of-type {
            margin-top: 5px;
        }

    .contacts-page .sales-department table tr td:nth-of-type(3), .contacts-page .sales-department table tr td:nth-of-type(4),
    .contacts-page .sales-department table tr th:nth-of-type(3), .contacts-page .sales-department table tr th:nth-of-type(4) {
        white-space: nowrap;
    }

.contacts-page .social-links {
    padding: 10px 30px;
}

    .contacts-page .social-links .header3 {
        display: inline-block;
        margin: 10px 0 0;
        font-size: 26px;
    }

    .contacts-page .social-links ul {
        float: right;
        margin: 0px 0 10px;
    }

        .contacts-page .social-links ul li {
            display: inline-block;
            color: white;
            margin-left: 15px;
            margin-top: 10px;
        }

            .contacts-page .social-links ul li a {
                font-size: 20px;
                background-color: #999999;
                border: none;
            }

                .contacts-page .social-links ul li a:hover {
                    color: white;
                    background-color: #377bb5;
                }

.contacts-page .contact-form .header3 {
    margin: 0px 0 35px 0;
    font-size: 26px;
}

.contacts-page .contact-form .captcha-box {
    width: 140px;
    display: inline-block;
    vertical-align: middle;
}

.contacts-page .contact-form .captcha-img {
    border: 1px solid #6f6f6f;
    margin-right: 25px;
    vertical-align: middle;
}

.contacts-page .contact-form .status label {
    display: inline-block !important;
}

.contacts-page .contact-form textarea {
    min-height: 80px;
}

.contacts-page .contact-form .agree label {
    cursor: pointer;
    line-height: 1.5;
}

.contacts-page .contact-form .agree input[type=checkbox] {
    float: left;
    margin-top: 6px;
    margin-right: 7px;
    top: -1px;
    position: relative;
}

.contacts-page .contact-form .agree p {
    padding-left: 20px;
}

.contacts-page .form-group label {
    line-height: 1.5;
}
/*Contacts page*/
.availability {
    margin: 7px 0;
    font-size: 12px;
}

    .availability.yes, .availability.no {
        color: #000;
    }

        .availability.yes i.fa {
            color: #07477d;
            font-size: 120%;
        }

        .availability.no i.fa {
            color: #ce2424;
            font-size: 120%;
        }

/*Category page*/
/*.category-page .page-header h2 i.fa {
    top: 0;
}*/

.category-page .categories {
    margin-top: -30px;
}

    .category-page .categories .item .title {
        font-size: 14px;
        line-height: 18px;
        position: relative;
    }

    .category-page .categories .item img {
        margin: 0 auto;
    }

    .category-page .categories .item .title p {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        color: #377bb5 !important;
    }

    .category-page .categories .item a:hover .title p {
        color: #94b3ce !important;
    }


/*Dealers page*/
/*.dealers-page .page-header h2 i {
    top: 0;
}*/

.select-on-map-pnl {
    border: 1px solid #d1d2d4;
    background-color: white;
    -webkit-box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.1);
    box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.1);
}

    .select-on-map-pnl .selectors {
        padding: 20px 0 0 20px;
    }

        .select-on-map-pnl .selectors .btn, .select-on-map-pnl .selectors .btn:focus, .select-on-map-pnl .selectors .btn:active {
            border-radius: 0;
            outline: none;
        }

        .select-on-map-pnl .selectors .show-tick {
            margin-bottom: 20px;
        }

.show-tick .bs-caret .caret:before {
    color: #07477d;
}

.bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
    width: 295px;
    margin-right: 60px;
}

.bootstrap-select.btn-group .dropdown-toggle .caret {
    right: 20px;
    top: 40%;
}

.bootstrap-select.btn-group.show-tick .dropdown-menu li.selected a span.check-mark {
    font-size: 10px;
    margin-top: 6px;
}

.bootstrap-select > .dropdown-toggle {
    background-color: #f3f3f3;
    font-family: open_sansregular;
    padding-left: 12px;
}

    .bootstrap-select > .dropdown-toggle:focus {
        outline: none;
    }

.btn-group.open .dropdown-toggle {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.dealers-page .selectors .bootstrap-select > .dropdown-toggle {
    background-color: #fff;
}

.dealers-page .map {
    height: 525px;
}

.dealers-table {
    margin: 0px 0 30px;
    -webkit-box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.1);
    box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.1);
}

    .dealers-table table {
        margin-bottom: 0;
    }

        .dealers-table table td {
            white-space: normal;
        }

        .dealers-table table tbody tr td:nth-child(4), .dealers-table table tbody tr td:nth-child(5) {
            white-space: nowrap;
        }

/*\Dealers page*/

/* Order page*/
.order-page {
    margin-bottom: 45px;
}

    .order-page .page-header i.fa {
        top: -2px;
    }

    .order-page .white-pnl:first-child {
        margin-top: 0;
    }

    .order-page .white-pnl .header3:first-child {
        margin-top: 5px;
    }

    .order-page .events {
        margin: 0px 0 20px;
    }

        .order-page .events li {
            margin-top: 20px;
        }

        .order-page .events .date {
            color: #787878;
            margin-bottom: 6px;
        }

            .order-page .events .date i.fa {
                color: #07477d;
                font-size: 18px;
            }

    .order-page .show-more-lnk {
        margin: 30px 0 0 -30px !important;
        width: calc(100% + 60px) !important;
        display: inline-block;
        position: relative;
        top: 20px;
    }

    .order-page .all-events-lnk {
        margin: 40px 0 30px;
        display: inline-block;
    }

    .order-page a:focus {
        color: #377bb5;
    }

    .order-page .steps li {
        color: #c5c5c5;
        font-size: 24px;
        display: inline-block;
        margin-right: 15px;
    }

        .order-page .steps li:last-child {
            margin-right: 0;
        }

        .order-page .steps li a {
            color: #c5c5c5;
        }

            .order-page .steps li a:hover {
                color: #377bb5;
            }

        .order-page .steps li.active {
            color: #07477d;
        }

    .order-page .header4 {
        margin: 30px 0 20px;
    }

    .order-page .header5 {
        margin: 0px 0 5px;
        padding-top: 20px;
    }

    .order-page form input[type=checkbox] {
        margin-top: 5px;
    }

    .order-page form .shipping-method label {
        display: inline-block !important;
        line-height: 1.5;
        margin-bottom: 13px;
    }

    .order-page .address .form-group:last-child {
        margin-bottom: 25px;
    }

    .order-page .btn-show-details {
        width: calc(100% + 60px);
        margin-left: -30px;
        border-bottom: 1px solid rgba(255, 255, 255, 1);
        background-color: #2aa8ec;
    }

        .order-page .btn-show-details:hover, .order-page .collapse.in + .btn-show-details {
            background-color: #07477d;
        }

    .order-page .legal label {
        display: inline-block !important;
        line-height: 1.5;
    }

    .order-page .send-btn {
        margin-top: 30px;
    }

    .order-page .total-price {
        font-size: 24px;
        color: #07477d;
        margin-top: 20px;
    }

        .order-page .total-price span {
            font-size: 24px;
            color: #000;
        }

    /*\Order page*/

    /* Basket*/
    .order-page .basket {
        padding: 20px 0;
    }

        .order-page .basket .steps {
            margin: 0 30px 20px;
        }

        .order-page .basket .total-price {
            margin-right: 30px;
        }

        .order-page .basket .send-btn {
            margin: 20px 30px 30px 0;
        }

        .order-page .basket table td, .order-page .basket table th {
            vertical-align: middle;
        }

        .order-page .basket table img {
            max-width: 140px;
        }

table .delete-btn {
    display: inline-block;
}

    table .delete-btn i.fa {
        font-size: 24px;
        margin: 0;
        color: #ce2424;
    }

        table .delete-btn i.fa:hover {
            opacity: 0.7;
        }


.order-page .basket table a {
    color: #377bb5;
}

    .order-page .basket table a:hover {
        color: #94b3ce;
    }

table tr.small-table > td {
    padding: 0;
}

table.small {
}

    table.small th {
        background-color: #377bb5 !important;
    }

    table.small th, table.small td {
        font-size: 12px;
        text-align: left !important;
    }

    table.small td {
        padding: 10px 15px !important;
        background-color: #fefefe !important;
        border-bottom: 1px solid #d5dce2 !important;
    }

table .btn-show-details, table .btn-show-details:visited, table .btn-show-details:focus, table .btn-show-details:active {
    width: 140px;
    text-align: center;
    background-color: transparent !important;
    padding: 0 !important;
    margin: 0 !important;
    color: #377bb5 !important;
    outline: none !important;
    border: 0 none !important;
    box-shadow: none !important;
}

    table .btn-show-details i.fa {
        top: 0;
        margin: 0;
    }

.spinner {
    width: 60px;
    margin: 0 auto;
}

    .spinner input {
        text-align: right;
        border-radius: 0;
        height: 35px;
        background-color: #f3f3f3 !important;
        color: black;
        width: auto;
    }

    .spinner .btn-default {
        background-color: transparent !important;
        border-color: transparent !important;
        outline: none !important;
        box-shadow: none !important;
    }

.input-group-btn-vertical {
    position: relative;
    white-space: nowrap;
    width: 1%;
    vertical-align: middle;
    display: table-cell;
}

    .input-group-btn-vertical > .btn {
        display: block;
        float: none;
        width: 100%;
        max-width: 100%;
        padding: 8px;
        margin-left: -1px;
        position: relative;
        border-radius: 0;
    }


        .input-group-btn-vertical > .btn i.fa {
            color: #a8a8a8;
        }

        .input-group-btn-vertical > .btn:first-child i.fa {
            -webkit-transform: rotate(-90deg);
            -moz-transform: rotate(-90deg);
            -ms-transform: rotate(-90deg);
            -o-transform: rotate(-90deg);
            filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
        }

        .input-group-btn-vertical > .btn:last-child {
            margin-top: -2px;
            border-bottom-right-radius: 4px;
        }

            .input-group-btn-vertical > .btn:last-child i.fa {
                -webkit-transform: rotate(90deg);
                -moz-transform: rotate(90deg);
                -ms-transform: rotate(90deg);
                -o-transform: rotate(90deg);
            }

    .input-group-btn-vertical i {
        position: absolute;
        top: 0;
        left: 4px;
    }
/*\Basket*/

/* News page*/
.news-page .page-header i.fa-calendar-o {
    top: -3px;
}

.news-page .items {
    list-style: none;
    padding: 0;
}

    .news-page .items .item {
        margin-bottom: 30px;
    }

        .news-page .items .item:first-child {
            margin-top: 0;
        }

    .news-page .items img {
        display: block;
        margin: 0 auto;
    }

    .news-page .items .default-photo {
        border: 1px solid #c9d6e2;
        text-align: center;
        width: 100%;
    }

    .news-page .items .left > a {
        display: block;
        width: 100%;
    }

    .news-page .items .default-photo img {
        display: inline-block;
        padding: 40px 10px;
    }

    .news-page .items h4 {
        color: #377bb5;
        margin-bottom: 0px !important;
        margin-top: -5px;
    }

    .news-page .items .date {
        color: #787878;
        font-size: 12px;
        margin-bottom: 10px;
        display: inline-block;
    }

    .news-page .items .preview {
        margin-bottom: 0;
        color: black;
    }
/*\News page*/

/*Pagination*/
.pagination-wrapper {
    margin: 20px 0 40px;
}

.pagination-wrapper, .pagination {
    width: 100%;
    text-align: center;
    position: relative;
}

.pagination {
    margin-top: 0;
    margin-bottom: 30px;
}

    .pagination > li {
        display: inline-block;
        padding-top: 4px;
        margin: 0 3px;
    }

        .pagination > li > a, .pagination > li > a {
            border: 0 none;
            font-size: 16px;
            -webkit-border-radius: 3px;
            -moz-border-radius: 3px;
            border-radius: 3px;
            color: #666;
        }

        .pagination > li:first-child {
            position: absolute;
            left: 0;
            padding-top: 0px;
        }

        .pagination > li:last-child {
            position: absolute;
            right: 0;
            padding-top: 0px;
        }

            .pagination > li:first-child a, .pagination > li:last-child a {
                width: 40px;
                height: 40px;
                background-color: #07477d;
                font-size: 23px;
                color: white;
                -webkit-border-radius: 3px;
                -moz-border-radius: 3px;
                border-radius: 3px;
                border: 1px solid #07477d;
                padding: 3px 0;
            }

                .pagination > li:first-child a:hover, .pagination > li:last-child a:hover {
                    background-color: #2aa8ec;
                    border: 1px solid #2aa8ec;
                    color: white;
                }

                .pagination > li:first-child a:focus, .pagination > li:last-child a:focus,
                .pagination > li:first-child a:active, .pagination > li:last-child a:active {
                    background-color: #2aa8ec;
                    border: 1px solid #2aa8ec;
                    color: white;
                }

                .pagination > li:first-child a i.fa, .pagination > li:last-child a i.fa {
                    margin-right: 2px;
                }

        .pagination > li > a, .pagination > li > span:focus, .pagination > li > span:hover {
            background-color: transparent;
            color: #666;
        }

            .pagination > li > a:focus, .pagination > li > a:hover {
                background-color: #2aa8ec;
                color: #fff;
            }

    .pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {
        background-color: #2aa8ec;
        color: #fff;
    }
/*\Pagination*/
.gallery {
    padding-bottom: 0;
}

    .gallery ul li {
        margin-bottom: 20px;
    }

        .gallery ul li a {
            display: block;
        }

        .gallery ul li img {
            max-width: 100%;
            width: 100%;
        }
/* Article*/
.article-page .main-col .white-pnl:first-child {
    margin-top: 0;
}

.article-page .social-share {
    padding-top: 20px;
}

article {
    line-height: 23px;
}

    article h2 {
        font-size: 23px;
        margin: 25px 0 15px;
    }

    article > h2:first-child {
        margin-top: 0px;
    }

    article h3 {
        font-size: 20px;
        margin: 25px 0 15px;
    }

    article > h3:first-child, article > h4:first-child {
        margin-top: 0;
    }

    article h4 {
        font-size: 16px;
        font-family: open_sanssemibold;
        margin: 25px 0 15px;
    }

    article p {
        color: black;
    }

        article p.gray-block {
            background-color: #f3f3f3;
            padding: 20px;
            margin: 20px 0;
            border: 1px solid #e6e6e6;
        }

    article b {
        font-family: open_sanssemibold;
    }

    article .date {
        color: #787878;
        margin: 10px 0;
        display: block;
    }

    article ul, article ol {
        padding-left: 18px;
        margin-bottom: 25px;
        list-style: none;
    }

        article ul li, article ol li {
            position: relative;
            padding-left: 15px;
            margin-bottom: 7px;
        }

            article ul li:before {
                position: absolute;
                content: "—";
                left: -17px;
                color: #07477d;
            }

    article ol {
        counter-reset: item;
    }

        article ol li:before {
            content: counter(item) ". ";
            counter-increment: item;
            color: red;
            color: #07477d;
            position: absolute;
            left: -17px;
        }

    article > img {
        margin: 20px 0;
        width: 100%;
        display: block;
    }

    article p.signature {
        color: #07477d;
        font-family: open_sansitalic;
    }

/*\Article*/

/* My orders*/
/*.my-orders-page .page-header h2 i.fa, .product-page .page-header h2 i.fa, .catalog-page .page-header h2 i.fa {
    top: 0;
}*/
.my-orders-page .page-header i.glyphicon-list-alt {
    top: 1px;
}

.my-orders-page .my-orders-table {
    -webkit-box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.15);
}

.my-orders-page table:first-child > tbody > tr > td {
    background-color: #f3f3f3;
}

.my-orders-page table:first-child > tbody > tr:nth-child(4n-1) > td {
    background-color: #e7e7e8;
}
/*\My orders*/

/* Product page*/
.product-page .social-share {
    padding: 25px 0 0 0;
}

.product-page .main-col .product-card {
    margin-top: 0px;
}

/*.product-card h3:first-child {
    margin-top: -5px;
}*/

.product-card {
}

    .product-card .right h3 {
        color: #377bb5;
        margin: 0;
        display: inline-block;
        font-size: 20px;
        line-height: 24px;
        margin-bottom: 10px;
    }

    .product-card .right .spinner {
        margin: -5px 0 0 0;
        width: auto;
    }

        .product-card .right .spinner label {
            margin-right: 45px;
        }

        .product-card .right .spinner input {
            display: inline-block;
            width: 25px;
            float: none;
            height: 23px;
            padding: 0;
            text-align: center;
        }

    .product-card .right .input-group-btn-vertical {
        display: inline-block;
    }

    .product-card a.btn-primary {
        background-color: #07477d;
        display: inline-block;
        margin-top: 10px;
        height: 36px;
        padding: 0px 20px 0px 15px;
    }

.product-page .main-col:last-child {
    margin-bottom: 30px;
}
/*\Product page*/

.show-more-lnk, .show-more-lnk:focus, .show-more-lnk:active, .show-more-lnk:visited {
    width: 100%;
    background-color: #2aa8ec;
    padding: 17px 0;
    text-align: center;
    display: block;
    margin-top: 30px;
    margin-bottom: 30px;
    color: white !important;
}

    .show-more-lnk:hover {
        color: white;
        background-color: #07477d;
    }

.multi-item-carousel .carousel-control.left,
.multi-item-carousel .carousel-control.right {
    background-image: none;
    width: 40px;
    height: 40px;
    top: 40%;
    text-shadow: none;
}

    .multi-item-carousel .carousel-control.left .glyphicon-chevron-left,
    .multi-item-carousel .carousel-control.right .glyphicon-chevron-right {
        width: 40px;
        height: 40px;
        margin: 0;
        padding: 0;
        top: 0;
        left: 0;
    }

    .multi-item-carousel .carousel-control.right .glyphicon-chevron-right {
        left: auto;
        right: 0;
    }

.multi-item-carousel .carousel-inner > .item div {
    text-align: center;
}

.multi-item-carousel .carousel-inner > .item .title {
    margin: 5px 0;
    position: relative;
    min-height: 60px;
}

    .multi-item-carousel .carousel-inner > .item .title p {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        color: #377bb5 !important;
        line-height: 1.3;
        margin: 0;
    }

.multi-item-carousel .carousel-inner > .item a:hover .title p {
    color: #94b3ce !important;
}

.multi-item-carousel .carousel-inner > .item .img-responsive {
    margin: 0 auto;
}

.multi-item-carousel a.btn-primary, .products-list a.btn-primary {
    background-color: #07477d;
    display: inline-block;
    margin-top: 10px;
    height: 36px;
    padding: 0px 10px;
}

.products-list a.btn-primary {
    padding: 0px 20px 0px 15px;
    float: left;
    clear: both;
}

.multi-item-carousel a.btn-primary {
    width: 100%;
    max-width: 200px;
}

.btn-buy:before {
    position: relative;
    top: 1px;
}

.multi-item-carousel .glyphicon-chevron-right, .carousel-control .icon-next {
    margin-right: -30%;
    top: 40%;
}

.multi-item-carousel .glyphicon-chevron-left, .carousel-control .icon-prev {
    margin-left: -30%;
    top: 40%;
}

.multi-item-carousel .carousel-inner > .item .price {
    color: #787878;
    margin-top: 5px;
}

.viewed-products, .products-list {
    padding: 0px;
}

    .viewed-products .header2, .products-list .header2 {
        background-color: #07477d;
        color: white;
        text-align: center;
        font-size: 14px;
        padding: 8px 0;
        margin: 0;
    }

    .viewed-products .multi-item-carousel {
        padding: 28px 40px 40px 40px;
    }


/*Category page*/

/*Choice brackets page*/
.choice-brackets .brackets {
    margin-top: 0px;
}

    .choice-brackets .brackets > div.info {
        padding: 0;
        margin-left: -7%;
    }

    .choice-brackets .brackets label {
        color: #07477d;
        margin-right: 15px;
    }

    .choice-brackets .brackets .price {
        color: #07477d;
        padding: 65px 0;
    }

        .choice-brackets .brackets .price > div:first-child {
            font-size: 24px;
        }

        .choice-brackets .brackets .price > div:last-child span {
            color: #656565;
        }

    .choice-brackets .brackets table td {
        text-align: center;
        padding: 4px 2px;
    }

        .choice-brackets .brackets table td.title {
            padding-right: 15px;
            text-align: left;
            color: black;
        }

    .choice-brackets .brackets table .tooth {
        position: relative;
        margin-bottom: 10px;
    }

        .choice-brackets .brackets table .tooth.disable {
            color: #dfdfdf;
        }

        .choice-brackets .brackets table .tooth img {
            width: 30px;
        }

        .choice-brackets .brackets table .tooth span {
            position: absolute;
            top: 13px;
            text-align: center;
            width: 100%;
            left: 0;
        }

    .choice-brackets .brackets table input[type="number"] {
        width: 43px;
        height: 21px;
        text-align: center;
        font-size: 12px;
        background-color: #f3f3f3;
        border: 1px solid #ccc;
        border-radius: 0;
        box-shadow: none;
    }

        .choice-brackets .brackets table input[type="number"]:disabled {
            opacity: .65;
            cursor: not-allowed;
        }

    .choice-brackets .brackets table .lower-jaw-torc td {
        padding-top: 20px;
    }

    .choice-brackets .brackets table .lower-jaw-tooth td img {
        -ms-transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }

    .choice-brackets .brackets table .lower-jaw-tooth .tooth span {
        top: 2px;
    }

    .choice-brackets .brackets .btn-blue {
        background-color: #2aa8ec;
        font-size: 12px;
        color: white;
        -webkit-border-radius: 40px;
        -moz-border-radius: 40px;
        border-radius: 40px;
        text-align: left;
        padding: 5px 45px 5px 10px;
        margin-top: 10px;
        cursor: pointer;
    }

        .choice-brackets .brackets .btn-blue:hover,
        .choice-brackets .brackets .btn-blue:focus {
            background-color: #07477d;
            outline: none;
        }

.choice-brackets .btn-blue:before {
    content: '\f067';
    font-family: 'fontAwesome';
    width: 24px;
    height: 24px;
    display: inline-block;
    border-radius: 50%;
    border: 2px solid white;
    text-align: center;
    line-height: 22px;
    vertical-align: middle;
    margin: 5px 13px 0 3px;
    float: left;
}

.choice-brackets .brackets .btn-buy {
    background-color: #07477d;
    padding: 7px 45px 9px 15px;
    margin-top: 10px;
    border: none !important;
}

    .choice-brackets .brackets .btn-buy.main {
        margin-top: 30px;
    }

.choice-brackets .brackets .header3 {
    margin-top: 45px;
}

.choice-brackets .brackets .btn-buy.big {
    font-size: 12px;
    text-align: left;
    max-width: 300px;
    min-height: 65px;
    padding: 10px 15px 10px 15px;
    min-width: 300px;
    position: relative;
}

    .choice-brackets .brackets .btn-buy.big span {
        position: absolute;
        top: 50%;
        left: 56%;
        transform: translate(-50%, -50%);
        width: 78%;
    }

    .choice-brackets .brackets .btn-buy.big:before {
        float: left;
        margin: 0px 15px 0 0;
    }

.products-list > div > ul li {
    padding: 35px 30px 20px 30px;
    background-color: #e7e7e8;
}

    .products-list > div > ul li:nth-of-type(2n) {
        background-color: #f3f3f3;
    }

    .products-list > div > ul li .lnk-to-product {
        color: #377bb5;
        margin: 0;
        display: inline-block;
        font-size: 20px;
        line-height: 24px;
        margin-bottom: 10px;
    }

        .products-list > div > ul li .lnk-to-product:hover {
            color: #94b3ce;
        }

    .products-list > div > ul li .spinner {
        margin: -5px 0 0 0;
        width: auto;
        float: left;
    }

        .products-list > div > ul li .spinner label {
            margin-right: 45px;
        }

        .products-list > div > ul li .spinner input {
            display: inline-block;
            width: 25px;
            float: none;
            height: 23px;
            padding: 0;
            text-align: center;
        }

        .products-list > div > ul li .spinner .input-group-btn-vertical {
            display: inline-block;
        }

    .products-list > div > ul li .left a {
        display: inline-block;
    }

.products-list .availability, .products-list .already-select, .product-card .already-select {
    display: inline-block;
    font-size: 12px;
}

.products-list .availability {
    margin: 5px 0 0;
    display: block;
}

.products-list .already-select i.fa, .product-card .already-select i.fa {
    font-size: 20px;
    vertical-align: middle;
    color: #2aa8ec;
}

.products-list p, .product-card p {
    color: black;
}

.products-list .pagination {
    margin-bottom: 0px;
}

.products-list .pagination-wrapper {
    padding: 10px 5px;
    margin: 0px;
    background-color: #e7e7e8;
}
/*Choice brackets page*/

/*Catalog page*/

.catalog-page .pagination-wrapper {
    margin-bottom: 0;
}

.catalog-page .left-nav {
    padding-left: 5px;
    padding-bottom: 40px;
}

    .catalog-page .left-nav .header4 {
        font-size: 14px;
        margin: 20px 0 5px 15px;
    }

    .catalog-page .left-nav ul li {
        border: none;
        margin: 0 10px 0 5px;
    }

        .catalog-page .left-nav ul li.checked {
            background-color: #f3f3f3;
        }

        .catalog-page .left-nav ul li input[type="checkbox"] {
            margin: 0 25px 0 10px;
            position: relative;
            vertical-align: middle;
            top: -1px;
        }

        .catalog-page .left-nav ul li label {
            margin: 0px;
        }

    .catalog-page .left-nav .header4 .close {
        font-size: 14px;
        color: #07477d;
        opacity: 1;
        margin-right: 10px;
        margin-top: 3px;
        display: none;
    }

    .catalog-page .left-nav .header4.selected .close {
        display: inline-block;
    }

.catalog-page .products-list {
    margin-top: 0px;
}

.product-card .right .spinner {
    float: left;
}

.product-card .right .btn-buy {
    float: left;
    clear: both;
}
/*Catalog page*/

/*Register Popup*/
.register-modal .modal-dialog {
    width: 367px;
}

.register-modal .modal-dialog {
    margin-left: auto;
    margin-right: auto;
}

.register-modal .modal-header {
    border: none;
    padding: 10px 15px 10px 40px;
}

    .register-modal .modal-header h4 {
        margin-top: 20px;
    }

    .register-modal .modal-header .close span, .register-modal .modal-header .close {
        color: #377bb5;
        opacity: 1;
    }

.register-modal .agree input {
    position: absolute;
}

.register-modal .agree span {
    padding-left: 20px;
    display: block;
}

.register-modal .modal-body {
    padding: 10px 40px 10px 40px;
}

.register-modal .modal-footer {
    padding: 0px 40px 40px 40px;
    border: none;
}

.register-modal form ::-webkit-input-placeholder {
    opacity: 1;
}

.register-modal form :-moz-placeholder {
    opacity: 1;
}

.register-modal form ::-moz-placeholder {
    opacity: 1;
}

.register-modal form :-ms-input-placeholder {
    opacity: 1;
}

.register-modal .agree label {
    line-height: 1.3;
}

    .register-modal .agree label input {
        margin-right: 5px;
        position: relative;
        top: 1px;
    }
/*Register Popup*/

.gm-style-iw .header3 {
    margin: 0;
}

table .btn-show-details, table .btn-show-details:hover, table .btn-show-details:focus, table .btn-show-details:active {
    background-color: transparent !important;
    outline: none;
}

.input-validation-error {
    background-color: #fde8e8;
    border-color: #fde8e8;
    box-shadow: none;
    color: #f02b2b;
}

    .input-validation-error::-webkit-input-placeholder {
        color: #f02b2b;
    }

    .input-validation-error:-moz-placeholder {
        color: #f02b2b;
    }

    .input-validation-error::-moz-placeholder {
        color: #f02b2b;
    }

    .input-validation-error:-ms-input-placeholder {
        color: #f02b2b;
    }

@media (min-width: 1205px) {
    .container-fluid {
        width: 1170px;
    }
}

@media (max-width: 1199px) {
    header .middle ul.info li + li {
        display: none;
    }

    .special-offers .item a {
        min-height: 390px;
    }
}

@media (max-width: 1150px) {
    footer .middle .links {
        display: none;
    }

    .news .white-pnl-border {
        min-height: 520px;
    }
}

@media (max-width: 1091px) {
    .choice-brackets .brackets > div.info {
        margin: 0;
        padding-right: 15px;
        padding-left: 15px;
        overflow: auto;
    }

    .choice-brackets .brackets .price {
        padding: 5px 0;
    }
}


@media (max-width: 1030px) {
    footer .menu-items {
        text-align: center;
    }

    footer .top ul.social-icons, footer .bottom .info > span:last-child, footer .middle .links, footer .top .ask-question, footer .middle ul.partners {
        display: none;
    }

    footer .copyright {
        display: block;
        text-align: center;
    }

        footer .copyright span:last-child {
            display: inline;
            margin-left: 10px;
        }

    footer .bottom ul.social-icons {
        display: block;
        text-align: center;
        float: none;
        padding-top: 35px;
    }

    footer .bottom .payment-icons {
        display: block;
        text-align: center;
        padding-top: 35px;
    }

        footer .bottom .payment-icons li:first-child,
        footer .bottom ul.social-icons li:first-child {
            margin-left: 0px;
        }

    footer .bottom .info {
        padding-top: 35px;
        display: block;
        text-align: center;
        float: none;
    }

        footer .bottom .info > span:first-child {
            margin: 0px;
        }

    footer .bottom .links {
        display: block;
        padding-bottom: 10px;
    }

    footer .middle .ask-question {
        display: inline-block;
        float: right;
    }

    footer .top ul.partners {
        display: block;
        margin-top: -15px;
    }

    footer .middle .subscription-pnl {
        margin-top: 6px;
    }

    footer .top ul.info li:last-child {
        clear: both;
        margin-top: 15px;
    }
}

@media (min-width: 992px) {
    .filters.collapse {
        display: block;
        height: auto !important;
    }

    .btn-show-filter {
        display: none;
    }
}

@media (max-width: 991px) {
    .top-container .links {
        margin-top: 30px;
    }

        .top-container .links li:last-child {
            margin-top: 0px;
        }

        .top-container .links li a {
            min-height: 208px;
        }

    .news .white-pnl-border {
        min-height: 50px;
        height: auto;
    }

    .catalog-page .left-nav ul {
        columns: 3;
        -webkit-columns: 3;
        -moz-columns: 3;
    }

    .catalog-page .left-pnl .left-nav.collapse.in + .btn-show-details {
        margin-top: -40px;
    }

    .catalog-page .left-pnl .btn-show-details {
        display: block;
        margin-top: 0px;
        margin-bottom: 30px;
    }

    .search-btn-for-filters {
        display: block;
    }
}

@media (min-width: 1100px) {
    header .bottom .welcome-txt {
        display: inline-block;
        font-size: 12px;
        color: white;
        position: absolute;
    }
}

@media (max-width: 945px) {
    header .bottom .support-links a:last-child {
        display: none;
    }
}

@media (max-width: 870px) {
    header .search-pnl {
        display: none;
    }

    .select-on-map-pnl .selectors .show-tick {
        margin-right: 20px !important;
    }
}

@media (max-width: 820px) {
    footer .middle {
        text-align: center;
        padding-top: 30px;
    }
}

@media (min-width: 767px) and (max-width: 991px) {
    header .bottom .multi-level {
        width: 250px;
        min-width: 250px;
        max-width: 250px;
        margin-left: -16px;
    }

        header .bottom .multi-level .second-level > ul {
            width: 250px;
            min-width: 250px;
            max-width: 250px;
        }

        header .bottom .multi-level .dropdown-menu .dropdown-menu {
            width: 250px;
            min-width: 250px;
            max-width: 250px;
        }

    header .bottom .dropdown-menu a {
        white-space: pre-line;
    }

    header .bottom ul li a {
        padding: 5px 20px;
    }

    header .bottom .multi-level li.dropdown-submenu > a:after {
        right: 15px;
    }
}

@media (min-width: 752px) {
    .multi-item-carousel .carousel-inner > .item {
        -webkit-transition: 500ms ease-in-out left;
        transition: 500ms ease-in-out left;
    }

    .carousel-inner .active.left {
        left: -25%;
    }

    .carousel-inner .active.right {
        left: 25%;
    }

    .carousel-inner .next {
        left: 25%;
    }

    .carousel-inner .prev {
        left: -25%;
    }
}

@media (min-width: 457px) and (max-width: 768px) {
    .multi-item-carousel .carousel-inner > .item {
        -webkit-transition: 500ms ease-in-out left;
        transition: 500ms ease-in-out left;
    }

    .carousel-inner .active.left {
        left: -50%;
    }

    .carousel-inner .active.right {
        left: 50%;
    }

    .carousel-inner .next {
        left: 50%;
    }

    .carousel-inner .prev {
        left: -50%;
    }
}

@media (max-width: 767px) {
    /*Header*/
    header .top {
        border: none;
    }

        header .top .nav.navbar-nav {
            margin: 0px;
            padding: 0px;
        }

        header .top .instruct-center {
            padding-left: 0px;
            margin-left: 0px;
            border: none;
        }

        header .top.navbar-default .navbar-collapse {
            box-shadow: none;
        }

        header .top.navbar-default .navbar-nav > li > a {
            border-top: 1px solid #396c97;
            padding-top: 14px;
            padding-bottom: 14px;
        }

        header .top .navbar-nav .dropdown > a, header .top .navbar-collapse.collapse,
        header .bottom .support-links, header .bottom .sign-links {
            display: none;
        }

        header .top .navbar-nav .dropdown > ul {
            margin: 0;
            display: block;
            position: static;
            float: none;
            background-color: transparent;
        }

            header .top .navbar-nav .dropdown > ul > li a {
                padding: 15px 12px;
                color: white !important;
                border-top: 1px solid #396c97;
                border-bottom: none;
            }

                header .top .navbar-nav .dropdown > ul > li a:hover,
                header .top .navbar-nav .dropdown > ul > li.active a {
                    color: #94b3ce !important;
                }

    header .bottom {
        padding: 0px;
    }

        header .bottom .container-fluid {
            padding: 0;
        }

        header .bottom .dropdown {
            display: block;
        }

        header .bottom .btn-primary {
            display: block;
            border-radius: 0;
            text-align: left;
            font-size: 18px;
            padding: 17px 20px 16px 20px;
            position: relative;
        }

            header .bottom .btn-primary .caret {
                margin: 4px 10px 0 0;
                position: absolute;
                right: 20px;
            }

        header .bottom .multi-level {
            position: static;
            width: 100%;
            padding: 0;
            margin: 0;
            border: none;
        }

            header .bottom .multi-level li a {
                padding: 14px 16px;
                border-bottom: 1px solid #5489b6;
                background-color: #296ba4;
                display: block;
            }

                header .bottom .multi-level li a:hover, header .bottom .multi-level li a:focus,
                header .bottom .dropdown-submenu.open > a {
                    background-color: #377bb5;
                }

        header .bottom ul a:hover, header .bottom ul a:focus, header .bottom .dropdown-submenu.open > a {
            color: white;
        }

        header .bottom ul.multi-level li.dropdown-submenu > a:after {
            content: "\f105";
            display: inline-block;
            font-family: 'FontAwesome';
            position: absolute;
            right: 23px;
            font-size: 14px;
        }

        header .bottom .multi-level .dropdown-submenu.open > a:after {
            content: "\f107";
        }

        header .bottom .multi-level .dropdown-submenu.open > .dropdown-menu {
            position: static;
            width: 100%;
            margin: 0;
            padding: 0;
            border: none;
            background-color: #377bb5;
        }

            header .bottom .multi-level .dropdown-submenu.open > .dropdown-menu li a {
                background-color: #377bb5;
                padding: 14px 25px;
                font-size: 12px;
            }

            header .bottom .multi-level .dropdown-submenu.open > .dropdown-menu > .dropdown-submenu.open > .dropdown-menu li a {
                background-color: #377bb5;
                padding: 14px 25px 14px 35px;
            }

        header .bottom .multi-level .dropdown-submenu ul:after {
            display: none;
        }

        header .bottom .multi-level .second-level > ul a:hover, header .bottom .multi-level .second-level > ul a:focus {
            color: white;
        }

    header .top.navbar-default .navbar-toggle .icon-bar {
        background-color: #2aa8ec;
    }

    header .top.navbar-default .navbar-toggle.collapsed > .icon-bar {
        background-color: white;
    }

    header .bottom .btn-primary:hover, header .bottom .btn-primary:focus, header .bottom .open .btn-primary,
    header .bottom .btn-primary {
        background-color: #296ba4;
        font-family: 'open_sansregular';
        border-bottom: 1px solid #5489b6;
    }

    header .bottom .multi-level li.dropdown-submenu > a:after {
        right: 23px;
        top: 14px;
    }

    header .bottom .btn-primary .caret:before {
        content: "\f105";
    }

    header .bottom .open .btn-primary .caret:before {
        content: "\f107";
    }

    /*.top-container .links li:last-child {
        margin-top: 30px;
    }*/

    .contacts .address {
        margin-top: 30px;
    }

        .contacts .address:first-child {
            margin-top: 0px;
        }

    .table-responsive {
        margin: 0;
        border: none;
    }


    .dealers-page .dealers-table {
        margin-bottom: 30px;
    }

    .page-header {
        text-align: center;
    }

    .form-group label {
        display: none;
    }

    form ::-webkit-input-placeholder {
        color: #505050;
        opacity: 1;
    }

    form :-moz-placeholder {
        color: #505050 !important;
        opacity: 1;
    }

    form ::-moz-placeholder {
        color: #505050 !important;
        opacity: 1;
    }

    form :-ms-input-placeholder {
        color: #505050;
        opacity: 1;
    }

    .order-page .legal label {
        margin-left: 21px;
    }

    .order-page .legal input[type=checkbox] {
        position: relative;
        top: -22px;
    }

    .catalog-page .left-nav ul {
        columns: 2;
        -webkit-columns: 2;
        -moz-columns: 2;
    }

    ::-webkit-scrollbar {
        -webkit-appearance: none;
    }

        ::-webkit-scrollbar:vertical {
            width: 12px;
        }

        ::-webkit-scrollbar:horizontal {
            height: 12px;
        }

    ::-webkit-scrollbar-thumb {
        background-color: #b6cadc;
        border-radius: 10px;
        border: 2px solid #ffffff;
    }

    ::-webkit-scrollbar-track {
        border-radius: 10px;
        background-color: #ffffff;
    }

    .order-page .steps li {
        font-size: 20px;
    }

    .products-list .availability {
        margin-bottom: 10px;
    }
}

@media (max-width: 740px) {
    footer .middle .subscription-pnl {
        display: none;
    }

    footer .middle .ask-question {
        float: none;
        margin: 0;
    }

    .top-slider .carousel-indicators {
        height: 69px;
    }

    .contacts .sales-department table tr td:last-child, .contacts .sales-department table tr th:last-child {
        display: none;
    }
}

@media (max-width: 580px) {
    footer .top ul.info li {
        margin-right: 0px;
        display: block;
        float: none;
        text-align: center;
        margin-bottom: 10px;
    }

    footer .top ul.partners {
        display: block;
        float: none;
        text-align: center;
    }

    footer .top ul.partners {
        margin-top: 25px;
    }

    .top-container .links li, .top-container .links li:last-child {
        width: 100%;
        margin-top: 30px;
    }

        .top-container .links li:first-child {
            margin-top: 0px;
        }
}

@media (max-width: 480px) {
    article > img, article .photo-slider, article .embed-responsive {
        margin-left: -30px;
        width: calc(100% + 60px);
    }

    footer .top ul.partners li {
        margin: 0;
    }

    .discount .warning > div:last-child {
        display: none;
    }

    header .top a.basket, header .top a.login {
        padding: 0;
        height: 50px;
        width: 50px;
        text-align: center;
    }

    header .top a.login {
        padding: 0;
        height: 50px;
        width: 50px;
    }

    header .top.navbar-default .navbar-toggle {
        padding: 27px 22px;
    }

    header .top .navbar-brand img {
        display: none;
    }

    header .top a.basket > span {
        top: 3px;
        left: 23px;
        padding: 0px 7px;
    }

    header .bottom .btn-primary {
        padding: 12px 20px 11px 20px;
    }

    header .top .navbar-header a.navbar-brand {
        margin-top: 0px;
        padding: 12px 15px 0;
    }

        header .top .navbar-header a.navbar-brand img {
            height: 24px;
            width: auto;
        }

    header .top .navbar-brand .logo-min {
        display: block;
    }

    header .top a.basket:before, header .top a.login:before {
        font-size: 24px;
        margin: 0;
        padding: 0;
        top: 12px;
    }

    header .top a.basket:before {
        font-size: 30px;
    }

    header .top.navbar-default .navbar-toggle {
        padding: 15px 12px !important;
    }

    footer .menu-items, .categories ul li img, .categories .item .price {
        display: none;
    }

    .categories {
        margin-top: 30px;
        padding: 0px;
        border-bottom: 1px solid #dbdbdb;
    }

        .categories .row {
            margin: 0;
        }

        .categories .item {
            margin: 0px;
            padding: 0;
            width: 100%;
        }

            .categories .item a {
                padding: 0px 25px 0px 15px;
                box-shadow: none;
                border-top: 1px solid #dbdbdb;
                text-align: left;
                position: relative;
            }

                .categories .item a:after {
                    content: "\f105";
                    font-family: 'FontAwesome';
                    display: inline-block;
                    position: absolute;
                    right: 18px;
                    font-size: 16px;
                    line-height: 1;
                    top: calc(50% - 8px);
                    color: #377bb5;
                }

            .categories .item .title {
                color: #505050;
                margin: 0px;
                line-height: 20px;
                min-height: 50px;
                padding-top: 14px;
                padding-bottom: 12px;
            }

    .category-page .categories {
        margin-top: 0px;
    }

    .top-slider .carousel-control {
        display: none;
    }

    .top-slider.carousel .carousel-indicators {
        padding: 58px 15px 0 0px;
    }

    .top-arrow, .search-btn-for-filters {
        right: 25px;
    }

    .special-offers .item {
        width: 100%;
    }

    .special-offers .header {
        text-align: center;
    }

    .special-offers .item a {
        min-height: 50px;
    }

    ul.pagination > li:not(:first-child):not(:last-child) {
        display: none;
    }

    .news-page .items .left {
        display: none;
    }

    .news-page .items .right {
        width: 100%;
    }

    .choice-brackets .brackets .btn-buy.big, .choice-brackets .brackets .btn-blue {
        width: 100%;
        max-width: initial;
        min-width: inherit;
    }

    .catalog-page .left-nav ul {
        columns: 1;
        -webkit-columns: 1;
        -moz-columns: 1;
    }

    .select-on-map-pnl .selectors {
        padding: 20px 20px 0;
    }

    .bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
        width: 100%;
        margin-right: 0;
        margin-bottom: 20px;
    }

    .order-page .steps li {
        font-size: 18px;
    }

    .dealers-page .map {
        height: 200px;
    }

    ul.disc.two-columns {
        columns: 1;
        -webkit-columns: 1;
        -moz-columns: 1;
    }

    .gallery ul li {
        width: 50%;
    }

    .contacts-page .address .map {
        height: 150px;
    }

    .contacts-page .address .iframe-container {
        padding-bottom: 150px;
    }

    .products-list ul li .left, .products-list ul li .right, .product-card .right, .product-card .left {
        width: 100%;
    }

        .products-list ul li .left img, .product-card .left img {
            margin-bottom: 10px;
        }

    .gm-style-iw .header3 {
        font-size: 16px;
    }

    .brackets-page .pagination {
        margin: 10px 0 40px;
    }
}

@media (max-width: 360px) {
    .choice-brackets .brackets .btn-buy.big {
        width: calc(100% + 60px);
        margin-left: -30px;
    }
}
